-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# collection [Collection]

= form_for(collection, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .mb-3
    = f.label :parent_id, "Parent Collection"
    = f.select(:parent_id,
        options_for_select(f.object.primary_unit.collections.reject{ |c| c.id == f.object.id }.map{ |c| [c.title, c.id] }, f.object.parent_id),
        { include_blank: true }, class: 'form-select')
    %p.form-text
      = icon_for(:info)
      Only collections in the same unit are shown. To move to a collection in
      a different unit, change the unit membership first.

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
