-# frozen_string_literal: true
//
// Required arguments:
//
// collection [Collection]
// primary_unit [Unit]
//
= form_for(collection, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  - if context == :edit
    .form-group
      = label_tag :primary_unit_id, "Primary Unit"
      = select_tag(:primary_unit_id,
          unit_tree_options_for_select(primary_unit, false),
          class: 'custom-select')
  - else
    = hidden_field_tag "primary_unit_id", primary_unit.id

  .form-group
    = f.label :manager_id, "Manager"
    = f.select(:manager_id,
        options_for_select(User.all.order(:name).map{ |u| [u.name, u.id] }, f.object.manager&.id),
        {}, { class: 'custom-select' })

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(context == :new ? 'Create Collection' : 'Edit Collection',
                 class: 'btn btn-primary')
