-# frozen_string_literal: true
//
// Required arguments:
//
// collection [Collection]
// primary_unit [Unit]
//
= form_for(collection, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  %hr

  - if context == :edit
    .form-group
      = f.label :primary_unit_id, "Primary Unit"
      = f.select(:primary_unit_id,
          unit_tree_options_for_select(primary_unit, false),
          {}, class: 'custom-select')
  - else
    = f.hidden_field :primary_unit_id, primary_unit.id

  .form-group
    = label_tag "Other Units", "Other Units"
    %div{style: "height: 18em; overflow-y: scroll"}
      = unit_tree_checkboxes(f.object.units.pluck(:unit_id))
  %hr

  .form-group
    %h5 Submitters
    = hidden_field_tag "collection[submitting_user_ids][]"
    - User.all.order(:name).each do |user|
      .form-check
        = check_box_tag "collection[submitting_user_ids][]", user.id,
          f.object.submitting_users.include?(user),
          { id: "unit_submitting_user_ids_#{user.id}", class: "form-check-input" }
        = label_tag "unit_submitting_user_ids_#{user.id}",
          user.name, class: "form-check-label"

  .form-group
    %h5 Managers
    = hidden_field_tag "collection[managing_user_ids][]"
    - User.all.order(:name).each do |user|
      .form-check
        = check_box_tag "collection[managing_user_ids][]", user.id,
          f.object.managing_users.include?(user),
          { id: "unit_managing_user_ids_#{user.id}", class: "form-check-input" }
        = label_tag "unit_managing_user_ids_#{user.id}",
          user.name, class: "form-check-label"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(context == :new ? 'Create Collection' : 'Edit Collection',
                 class: 'btn btn-primary')
