-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# institution [Institution]
-# primary_unit [Unit]
-# parent [Collection] Optional.

- parent     = nil unless defined?(parent)
- collection = Collection.new

= form_for(collection, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = f.hidden_field :institution_id, value: institution.id
  = hidden_field_tag :primary_unit_id, primary_unit.id
  - if parent
    = f.hidden_field :parent_id, value: parent.id

  .mb-3
    = f.label :title
    = f.text_field :title, class: "form-control"

  %p.form-text
    = icon_for(:info)
    Other properties can be set later using the Edit Properties button in the
    collection's About tab.

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Create", class: 'btn btn-primary')
