-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# primary_unit [Unit]
-# parent [Collection] Optional.

- parent = nil unless defined?(:parent)

= form_for(Collection.new, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = hidden_field_tag :primary_unit_id, primary_unit.id
  - if parent
    = f.hidden_field :parent_id, value: parent.id

  .alert.alert-light
    %i.fa.fa-info-circle
    Other properties can be set in the collection's properties tab once it is created.

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Create", class: 'btn btn-primary')
