-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# collection [Collection]
-#
= form_for(collection, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# Include this only because `collection` is required in the params.
  = f.hidden_field :id, value: f.object.id

  .mb-3
    = f.label :title, class: "required"
    = f.text_field :title, class: "form-control"

  .mb-3
    = f.label :description
    = f.text_area :description, class: "form-control"

  .mb-3
    = f.label :short_description, "Short Description"
    = f.text_area :short_description, class: "form-control"

  .mb-3
    = f.label :introduction
    = f.text_area :introduction, class: "form-control"
    %p.form-text
      = icon_for(:info)
      The following HTML tags are allowed:
      = allowed_html_tags

  .mb-3
    = f.label :rights
    = f.text_area :rights, class: "form-control"

  .mb-3
    = f.label :provenance
    = f.text_area :provenance, class: "form-control"

  .mb-3
    = f.label :metadata_profile_id, "Metadata Profile"
    = f.select :metadata_profile_id, MetadataProfile.where(institution: f.object.institution).order(:name).pluck(:name, :id),
               { include_blank: true }, class: "form-select"
    %p.form-text
      = icon_for(:info)
      If left blank, the metadata profile will be inherited from the unit, or
      else the default profile will be used.

  .mb-3
    = f.label :submission_profile_id, "Submission Profile"
    = f.select :submission_profile_id, SubmissionProfile.where(institution: f.object.institution).order(:name).pluck(:name, :id),
               { include_blank: true }, class: "form-select"
    %p.form-text
      = icon_for(:info)
      If left blank, the submission profile will be inherited from the unit, or
      else the default profile will be used.

  .mb-3
    .form-check
      = f.check_box :accepts_submissions, class: 'form-check-input'
      = f.label :accepts_submissions, "Accepts Submissions", class: "form-check-label"
    %p.form-text
      = icon_for(:info)
      When checked, new submissions are accepted, subject to authorization.
      When unchecked, new submissions are not allowed, regardless of authorization.

  .mb-3
    .form-check
      = f.check_box :submissions_reviewed, class: 'form-check-input'
      = f.label :submissions_reviewed, "Submissions Reviewed", class: "form-check-label"
    %p.form-text
      = icon_for(:info)
      When enabled, new submissions must be reviewed by a collection administrator
      before they will appear in public. Only direct collection administrators
      and direct members of user groups assigned to administer the collection
      will be notified of new submissions.
    %p.form-text
      Changing this will not affect submitted items that are still in the review queue.

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: 'btn btn-primary')
