-# frozen_string_literal: true
//
// Required arguments:
//
// collection [Collection]
//
= form_for(collection, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  / Include this only because `collection` is required in the params.
  = f.hidden_field :primary_unit_id, value: f.object.primary_unit_id

  .form-group
    = label_tag "elements_#{::Configuration.instance.elements[:title]}", "Title"
    = text_field_tag "elements[#{::Configuration.instance.elements[:title]}]",
                     f.object.title, class: "form-control"

  .form-group
    = label_tag "elements_#{::Configuration.instance.elements[:description]}", "Description"
    = text_area_tag "elements[#{::Configuration.instance.elements[:description]}]",
                    f.object.description, class: "form-control"

  .form-group
    .form-check
      = f.check_box :unit_default, class: 'form-check-input'
      = f.label :unit_default, "Unit Default", class: "form-check-label"

  .form-group
    = f.label :metadata_profile_id, "Metadata Profile"
    = f.select :metadata_profile_id, MetadataProfile.all.pluck(:name, :id),
               { include_blank: true }, class: "custom-select"

  .form-group
    = f.label :submission_profile_id, "Submission Profile"
    = f.select :submission_profile_id, SubmissionProfile.all.pluck(:name, :id),
               { include_blank: true }, class: "custom-select"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Edit", class: 'btn btn-primary')
