.btn-group.float-right{role: "group"}
  - if policy(@collection).edit_properties?
    %button.btn.btn-light.edit-collection-properties{"data-collection-id": @collection.id,
                                                     "data-target": "#edit-collection-properties-modal",
                                                     "data-toggle": "modal",
                                                     role: "button"}
      %i.fas.fa-pencil-alt
      Edit Properties

.clearfix
.row
  .col-md-7
    = metadata_as_dl(@collection.elements, @metadata_profile)
  .col-md-5
    %dl
      %dt Handle URI
      %dd= @collection.handle&.url
      - if policy(@collection).show_properties?
        %dt Metadata Profile
        %dd
          - if @collection.metadata_profile
            - if policy(@metadata_profile).show?
              = link_to(@metadata_profile.name, @metadata_profile)
            - else
              = @metadata_profile.name
          - else
            = raw("Not assigned (falling back to #{link_to(@metadata_profile.name, @metadata_profile)})")
        %dt Submission Profile
        %dd
          - if @collection.submission_profile
            - if policy(@submission_profile).show?
              = link_to(@submission_profile.name, @submission_profile)
            - else
              = @submission_profile.name
          - else
            = raw("Not assigned (falling back to #{link_to(@submission_profile.name, @submission_profile)})")
        %dt Submissions Reviewed
        %dd= boolean(@collection.submissions_reviewed, style: :word, invert_color: true)
    %dl
      %dt Created
      %dd= local_time @collection.created_at
      %dt Last Updated
      %dd= local_time @collection.updated_at