.btn-group.float-end{role: "group"}
  - if policy(@collection).edit_properties?
    %button.btn.btn-light.edit-collection-properties{"data-collection-id": @collection.id,
                                                     "data-bs-target":     "#edit-collection-properties-modal",
                                                     "data-bs-toggle":        "modal",
                                                     role:                 "button"}
      %i.fas.fa-pencil-alt
      Edit Properties

.clearfix.mb-3

%dl
  - if @collection.introduction.present?
    %dt Introduction
    %dd= raw(@collection.introduction)
  - if @collection.description.present?
    %dt Description
    %dd= @collection.description
  - if @collection.short_description.present? && policy(@collection).show_access?
    %dt Short Description
    %dd= @collection.short_description
  - if @collection.rights.present?
    %dt Rights
    %dd= @collection.rights
  - if @collection.provenance.present? && policy(@collection).show_access?
    %dt Provenance
    %dd= @collection.provenance
  %dt Handle URI
  %dd= @collection.handle&.permanent_url
  - if policy(@collection).show_extended_about?
    %dt Metadata Profile
    %dd
      - if @collection.metadata_profile
        - if policy(@metadata_profile).show?
          = link_to(@metadata_profile.name, @metadata_profile)
        - else
          = @metadata_profile.name
      - elsif @collection.primary_unit&.metadata_profile
        = raw("Not assigned (falling back to primary unit's profile: #{link_to(@metadata_profile.name, @metadata_profile)})")
      - else
        = raw("Not assigned (falling back to #{link_to(@metadata_profile.name, @metadata_profile)})")
    %dt Submission Profile
    %dd
      - if @collection.submission_profile
        - if policy(@submission_profile).show?
          = link_to(@submission_profile.name, @submission_profile)
        - else
          = @submission_profile.name
      - else
        = raw("Not assigned (falling back to #{link_to(@submission_profile.name, @submission_profile)})")
    %dt Accepts Submissions
    %dd= boolean(@collection.accepts_submissions, style: :word)
    %dt Submissions Reviewed
    %dd= boolean(@collection.submissions_reviewed, style: :word, invert_color: true)
    %dt File Downloads
    %dd= number_with_delimiter(@num_downloads)
    %dt Items Awaiting Review
    %dd= number_with_delimiter(@num_submitted_items)
    %dt Created
    %dd
      = local_time @collection.created_at
      - create_event = @collection.create_event
      - if create_event
        by
        = link_to(create_event.user) do
          = icon_for(create_event.user)
          = create_event.user.name
    %dt Last Updated
    %dd
      = local_time @collection.updated_at
      - update_event = @collection.last_update_event
      - if update_event
        by
        = link_to(update_event.user) do
          = icon_for(update_event.user)
          = update_event.user.name

%hr

.btn-group.float-end{role: "group"}
  - if policy(@collection).edit_unit_membership?
    %button.btn.btn-light.edit-unit-membership{"data-collection-id": @collection.id,
                                               "data-bs-target":     "#edit-unit-membership-modal",
                                               "data-bs-toggle":     "modal",
                                               role:                 "button"}
      %i.fas.fa-pencil-alt
      Change Unit Membership

%h2 Units

= resource_list(@collection.units.sort_by(&:title),
                primary_id: @collection.primary_unit.id)

%hr

.btn-group.float-end{role: "group"}
  - if policy(@collection).edit_collection_membership?
    %button.btn.btn-light.edit-collection-membership{"data-collection-id": @collection.id,
                                                     "data-bs-target":     "#edit-collection-membership-modal",
                                                     "data-bs-toggle":     "modal",
                                                     role:                 "button"}
      %i.fas.fa-pencil-alt
      Change Collection Membership
    %button.btn.btn-light.add-subcollection{"data-collection-id": @collection.id,
                                            "data-bs-target":     "#add-collection-modal",
                                            "data-bs-toggle":     "modal",
                                            role:                 "button"}
      %i.fa.fa-plus
      Add Child Collection

%h2 Collections

- if @collection.parent
  %h3 Parent Collection
  = resource_list([@collection.parent], use_resource_host: false)

- if @subcollections.any?
  %h3 Child Collections
  = resource_list(@subcollections, use_resource_host: false)

- if !@collection.parent && @subcollections.empty?
  %p This collection has no parent or sub-collections.
