.btn-group.float-right{role: "group"}
  - if policy(@collection).submit_item?
    = link_to(collection_submit_path(@collection), class: "btn btn-light", role: "button") do
      %i.fas.fa-plus
      Submit Item To This Collection
  - if policy(@collection).export_items?
    .dropdown
      %button#export-button.btn.btn-light.dropdown-toggle{type:            "button",
                                                          "data-toggle":   "dropdown",
                                                          "aria-expanded": "false"}
        %i.fa.fa-download
        Export
      .dropdown-menu.dropdown-menu-right{"aria-labelledby": "export-button"}
        = link_to(collection_items_path(@collection, format: :csv), class: "dropdown-item") do
          All Items As CSV

.clearfix.mb-3

- if @items.count.positive?
  = form_tag(collection_path(@collection), method: :get, class: "filter") do
    = hidden_field_tag("fq[]", "#{Item::IndexFields::COLLECTION_TITLES}:#{@collection.title}")
    .card.mb-3
      .card-body
        %ul#search-tabs.nav.nav-pills.mb-0{role: "tablist"}
          %li.nav-item{role: "presentation"}
            %a#all-items-tab.nav-link.active{"data-toggle":   "pill",
                                             href:            "#all-items",
                                             role:            "tab",
                                             "aria-controls": "all-items",
                                             "aria-selected": "true"} All Items
          %li.nav-item{role: "presentation"}
            %a#simple-search-tab.nav-link{"data-toggle":   "pill",
                                          href:            "#simple-search",
                                          role:            "tab",
                                          "aria-controls": "simple-search",
                                          "aria-selected": "true"} Simple Search
          %li.nav-item{role: "presentation"}
            %a#advanced-search-tab.nav-link{"data-toggle":   "pill",
                                            href:            "#advanced-search",
                                            role:            "tab",
                                            "aria-controls": "advanced-search",
                                            "aria-selected": "true"} Advanced Search
        .tab-content
          #all-items.tab-pane.fade.show.active{role:              "tabpanel",
                                               "aria-labelledby": "all-items-tab"}
            -# this tab is empty
          #simple-search.tab-pane.fade.mt-3{role: "tabpanel",
                                            "aria-labelledby": "simple-search-tab"}
            .input-group.filter-field
              = filter_field
          #advanced-search.tab-pane.fade.mt-3{role: "tabpanel",
                                              "aria-labelledby": "advanced-search-tab"}
            = advanced_search_form

    .row.justify-content-between
      .col-8
      .col-4
        .input-group.mb-3
          = sort_menu(MetadataProfile.default)

  #items-xhr-content
    -# items/listing inserted here via XHR
- else
  This collection does not contain any items.
