.btn-group.float-right{role: "group"}
  - if policy(@resource).edit_properties?
    %button.btn.btn-light.edit-collection-properties{"data-collection-id": @resource.id,
                                                     "data-target": "#edit-collection-properties-modal",
                                                     "data-toggle": "modal",
                                                     role: "button"}
      %i.fas.fa-pencil-alt
      Edit Properties

.clearfix
.row
  .col-md-8
    = metadata_as_dl(@resource.elements, @metadata_profile)
  .col-md-4
    - if current_user&.effective_manager?(@resource)
      %dl
        %dt Unit Default
        %dd= @resource.unit_default
        %dt Metadata Profile
        %dd
          - if @resource.metadata_profile
            - if policy(@metadata_profile).show?
              = link_to(@metadata_profile.name, @metadata_profile)
            - else
              = @metadata_profile.name
          - else
            = raw("Not assigned (falling back to #{link_to(@metadata_profile.name, @metadata_profile)})")
        %dt Submission Profile
        %dd
          - if @resource.submission_profile
            - if policy(@submission_profile).show?
              = link_to(@submission_profile.name, @submission_profile)
            - else
              = @submission_profile.name
          - else
            = raw("Not assigned (falling back to #{link_to(@submission_profile.name, @submission_profile)})")
    %dl
      %dt Created
      %dd= local_time @resource.created_at
      %dt Last Updated
      %dd= local_time @resource.updated_at