.btn-group.float-right{role: "group"}
  - if policy(@collection).edit_access?
    %button.btn.btn-light.edit-collection-access{"data-collection-id": @collection.id,
                                                 "data-target": "#edit-collection-access-modal",
                                                 "data-toggle": "modal",
                                                 role: "button"}
      %i.fas.fa-pencil-alt
      Edit Access

.clearfix.mb-3

%dl
  %dt Unit Administrators
  %dd
    - admins = @collection.all_unit_administrators
    - if admins.any?
      %ul
        - admins.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None
  %dt Managers
  %dd
    - if @collection.managing_users.any?
      %ul
        - @collection.managing_users.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None
  %dt Submitters
  %dd
    - if @collection.submitters.any?
      %ul
        - @collection.submitting_users.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None
