.btn-group.float-right{role: "group"}
  - if policy(@collection).submit_item?
    = link_to(collection_submit_path(@collection), class: "btn btn-light", role: "button") do
      %i.fas.fa-plus
      Submit Item To This Collection
  - if policy(@collection).export_items?
    .dropdown
      %button#export-button.btn.btn-light.dropdown-toggle{type:            "button",
                                                          "data-toggle":   "dropdown",
                                                          "aria-expanded": "false"}
        %i.fa.fa-download
        Export
      .dropdown-menu.dropdown-menu-right{"aria-labelledby": "export-button"}
        = link_to(collection_items_path(@collection, format: :csv), class: "dropdown-item") do
          All Items As CSV

.clearfix.mb-3

- if @items.count.positive?
  = form_tag(collection_path(@collection), method: :get, class: "filter") do
    .row.justify-content-between
      .col-5
        .input-group.mb-3.filter-field
          = hidden_field_tag("fq[]", "#{Item::IndexFields::COLLECTION_TITLES}:#{@collection.title}")
          = filter_field(icon: "fa fa-filter", placeholder: "Filter")
      .col-5
        .input-group
          = sort_menu(MetadataProfile.default)
  #items-xhr-content
    -# items/listing inserted here via XHR
- else
  This collection does not contain any items.
