#error-flash.alert.alert-danger{style: "display: none"}

= hidden_field_tag("chart_color", current_institution.primary_color)

.card.mb-3
  .card-body
    = form_tag("#", method: :get, class: "form-inline") do
      = date_range_picker

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#statistics-by-month-tab.nav-link.active{"data-bs-toggle": "tab",
                                                    "data-bs-target": "#statistics-by-month-tab-content",
                                                    role:             "tab",
                                                    type:             "button",
                                                    "aria-controls":  "statistics-by-month-tab-content",
                                                    "aria-selected":  "true"} Statistics By Month

  %li.nav-item{role: "presentation"}
    %button#downloads-by-item-tab.nav-link{"data-bs-toggle": "tab",
                                           "data-bs-target": "#downloads-by-item-tab-content",
                                           role:             "tab",
                                           type:             "button",
                                           "aria-controls":  "downloads-by-item-tab-content",
                                           "aria-selected":  "false"} Downloads By Item

.tab-content
  #statistics-by-month-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                                             "aria-labelledby": "home-tab"}
    = spinner
  #downloads-by-item-tab-content.tab-pane.fade{role: "tabpanel",
                                               "aria-labelledby": "home-tab"}
    = spinner
