%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#administrators-tab.nav-link.active{"data-bs-toggle": "tab",
                                               "data-bs-target": "#administrators",
                                               role:             "tab",
                                               "aria-controls":  "administrators",
                                               "aria-selected":  "true"} Administrators
  %li.nav-item{role: "presentation"}
    %button#submitters-tab.nav-link{"data-bs-toggle": "tab",
                                    "data-bs-target": "#submitters",
                                    role:             "tab",
                                    "aria-controls":  "submitters",
                                    "aria-selected":  "false"} Submitters


.tab-content
  #administrators.tab-pane.fade.show.active{role:              "tabpanel",
                                            "aria-labelledby": "administrators-tab"}
    .row
      .col-md-6
        .card.mb-3
          .card-body
            - if policy(@collection).edit_administering_groups?
              .float-end
                %button.btn.btn-sm.btn-light.edit-administering-groups{"data-bs-target": "#edit-administering-groups-modal",
                                                                       "data-bs-toggle": "modal",
                                                                       role:             "button"}
                  %i.fas.fa-pencil-alt
                  Edit
            %h5.card-title Direct Group Administrators
            - groups = @collection.administering_groups
            - if groups.any?
              %ul
                - groups.each do |group|
                  %li= link_to(group.name, group)
            - else
              None
        .card
          .card-body
            %h5.card-title Effective Group Administrators
            - groups = @collection.effective_administering_groups
            - if groups.any?
              %ul
                - groups.each do |group|
                  %li= link_to(group.name, group)
            - else
              None
      .col-md-6
        .card.mb-3
          .card-body
            - if policy(@collection).edit_administering_users?
              .float-end
                %button.btn.btn-sm.btn-light.edit-administering-users{"data-bs-target": "#edit-administering-users-modal",
                                                                      "data-bs-toggle": "modal",
                                                                      role:             "button"}
                  %i.fas.fa-pencil-alt
                  Edit
            %h5.card-title Direct User Administrators
            - users = @collection.administering_users
            - if users.any?
              %ul
                - users.each do |user|
                  %li= link_to(user.name, "mailto:#{user.email}")
            - else
              None
        .card
          .card-body
            %h5.card-title Effective User Administrators
            - users = @collection.effective_administering_users
            - if users.any?
              %ul
                - users.each do |user|
                  %li= link_to(user.name, "mailto:#{user.email}")
            - else
              None

  #submitters.tab-pane.fade{role: "tabpanel", "aria-labelledby": "submitters-tab"}
    .alert.alert-light
      = icon_for(:info)
      Administrators are also submitters.
    .row
      .col-md-6
        .card.mb-3
          .card-body
            - if policy(@collection).edit_submitting_groups?
              .float-end
                %button.btn.btn-sm.btn-light.edit-submitting-groups{"data-bs-target": "#edit-submitting-groups-modal",
                                                                    "data-bs-toggle": "modal",
                                                                    role:             "button"}
                  %i.fas.fa-pencil-alt
                  Edit
            %h5.card-title Direct Group Submitters
            - if @collection.submitting_groups.any?
              %ul
                - @collection.submitting_groups.each do |group|
                  %li= link_to(group.name, group)
            - else
              None
        .card
          .card-body
            %h5.card-title
              Effective Group Submitters
            - admins = @collection.effective_submitting_groups
            - if admins.any?
              %ul
                - admins.each do |group|
                  %li= link_to(group.name, group)
            - else
              None
      .col-md-6
        .card.mb-3
          .card-body
            - if policy(@collection).edit_submitting_users?
              .float-end
                %button.btn.btn-sm.btn-light.edit-submitting-users{"data-bs-target": "#edit-submitting-users-modal",
                                                                   "data-bs-toggle": "modal",
                                                                   role:             "button"}
                  %i.fas.fa-pencil-alt
                  Edit
            %h5.card-title Direct User Submitters
            - if @collection.submitting_users.any?
              %ul
                - @collection.submitting_users.each do |user|
                  %li= link_to(user.name, "mailto:#{user.email}")
            - else
              None
        .card
          .card-body
            %h5.card-title
              Effective User Submitters
            - admins = @collection.effective_submitters
            - if admins.any?
              %ul
                - admins.each do |user|
                  %li= link_to(user.name, user.becomes(User))

= render partial: "shared/ajax_modal",
         locals: { id: "edit-administering-groups-modal",
                   title: "Edit Group Administrators" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-administering-users-modal",
                   title: "Edit User Administrators" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-submitting-groups-modal",
                   title: "Edit Group Submitters" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-submitting-users-modal",
                   title: "Edit User Submitters" }
