-# Content for the Statistics -> Statistics By Month tab

%ul.nav.nav-pills{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#chart-tab.nav-link.active{"data-bs-toggle": "pill",
                                      "data-bs-target": "#chart-tab-content",
                                      type:             "button",
                                      role:             "tab",
                                      "aria-controls":  "chart-tab-content",
                                      "aria-selected":  true} Chart
  %li.nav-item{role: "presentation"}
    %button#table-tab.nav-link{"data-bs-toggle": "pill",
                               "data-bs-target": "#table-tab-content",
                               type:             "button",
                               role:             "tab",
                               "aria-controls":  "table-tab-content",
                               "aria-selected":  false} Table

.tab-content
  #chart-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                               "aria-labelledby": "chart-tab-content"}
    -# We will read this data on the client side in order to render the chart.
    = hidden_field_tag("chart-data", JSON.generate(@counts_by_month.to_a))
    %canvas#chart

  #table-tab-content.tab-pane.fade{role: "tabpanel",
                                   "aria-labelledby": "table-tab-content"}
    .float-end
      = link_to(collection_statistics_by_range_path(@collection,
                                                    format: :csv,
                                                    params: params.permit(:from_year, :from_month, :to_year, :to_month)),
                                                    class: "btn btn-light") do
        = icon_for(:download)
        CSV

    %table.table
      %thead
        %tr
          %th Month
          %th Submitted Items
          %th Downloads
      %tbody
        - @counts_by_month.each do |row|
          %tr
            %td= row['month'].strftime("%B %Y")
            %td= number_with_delimiter(row['item_count'])
            %td= number_with_delimiter(row['dl_count'])
        %tr
          %th Total
          %th= number_with_delimiter(@counts_by_month.map{ |row| row['item_count'] }.sum)
          %th= number_with_delimiter(@counts_by_month.map{ |row| row['dl_count'] }.sum)
