%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#administrators-tab.nav-link.active{"data-bs-toggle": "tab",
                                               "data-bs-target": "#administrators",
                                               role:             "tab",
                                               "aria-controls":  "administrators",
                                               "aria-selected":  "true"} Administrators
  %li.nav-item{role: "presentation"}
    %button#submitters-tab.nav-link{"data-bs-toggle": "tab",
                                    "data-bs-target": "#submitters",
                                    role:             "tab",
                                    "aria-controls":  "submitters",
                                    "aria-selected":  "false"} Submitters


.tab-content
  #administrators.tab-pane.fade.show.active{role:              "tabpanel",
                                            "aria-labelledby": "administrators-tab"}
    .btn-group.float-end{role: "group"}
      - if policy(@collection).edit_administrators?
        %button.btn.btn-light.edit-collection-administrators{"data-collection-id": @collection.id,
                                                             "data-bs-target":     "#edit-collection-administrators-modal",
                                                             "data-bs-toggle":     "modal",
                                                             role:                 "button"}
          %i.fas.fa-pencil-alt
          Edit Administrators

    .clearfix.mb-3

    .row
      .col-md-6
        .card
          .card-body
            %h5.card-title Groups
            - if @collection.administering_groups.any?
              %ul
                - @collection.administering_groups.each do |group|
                  %li= link_to(group.name, group)
            - else
              None
      .col-md-6
        .card
          .card-body
            %h5.card-title Users
            - if @collection.administering_users.any?
              %ul
                - @collection.administering_users.each do |user|
                  %li= link_to(user.name, "mailto:#{user.email}")
            - else
              None

  #submitters.tab-pane.fade{role: "tabpanel", "aria-labelledby": "submitters-tab"}
    .btn-group.float-end{role: "group"}
      - if policy(@collection).edit_submitters?
        %button.btn.btn-light.edit-collection-submitters{"data-collection-id": @collection.id,
                                                         "data-bs-target":     "#edit-collection-submitters-modal",
                                                         "data-bs-toggle":     "modal",
                                                         role:                 "button"}
          %i.fas.fa-pencil-alt
          Edit Submitters

    .clearfix.mb-3

    .row
      .col-md-6
        .card
          .card-body
            %h5.card-title Groups
            - if @collection.submitting_groups.any?
              %ul
                - @collection.submitting_groups.each do |group|
                  %li= link_to(group.name, group)
            - else
              None
      .col-md-6
        .card
          .card-body
            %h5.card-title Users
            - if @collection.submitting_users.any?
              %ul
                - @collection.submitting_users.each do |user|
                  %li= link_to(user.name, "mailto:#{user.email}")
            - else
              None

= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-administrators-modal",
                   title: "Edit Administrators" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-submitters-modal",
                   title: "Edit Submitters" }
