.row
  .col-md-8
    = metadata_as_dl(@resource.elements, @metadata_profile)
  .col-md-4
    - if current_user&.effective_manager?(@resource)
      %dl
        %dt Metadata Profile
        %dd
          - if @resource.metadata_profile
            - if policy(@metadata_profile).show?
              = link_to(@metadata_profile.name, @metadata_profile)
            - else
              = @metadata_profile.name
          - else
            = raw("Not assigned (falling back to #{link_to(@metadata_profile.name, @metadata_profile)})")
        %dt Submission Profile
        %dd
          - if @resource.submission_profile
            - if policy(@submission_profile).show?
              = link_to(@submission_profile.name, @submission_profile)
            - else
              = @submission_profile.name
          - else
            = raw("Not assigned (falling back to #{link_to(@submission_profile.name, @submission_profile)})")
    %dl
      %dt Created
      %dd= @resource.created_at
      %dt Last Updated
      %dd= @resource.updated_at