%h1 Listing collections

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @collections.each do |collection|
      %tr
        %td= collection.title
        %td= collection.description
        %td= link_to 'Show', collection
        %td= link_to 'Edit', edit_collection_path(collection)
        %td= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Collection', new_collection_path
