- provide :body_id, "show_collection"
- provide :title, @resource.title

= render partial: "show_button_group"

%h1
  =icon_for(@resource)
  =@resource.title

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#metadata-tab.nav-link.active{href: "#properties-tab-content",
                                    "data-toggle": "tab",
                                    role: "tab",
                                    "aria-controls": "properties-tab-content",
                                    "aria-selected": "true"}
      %i.fa.fa-info-circle
      Properties
  %li.nav-item
    %a#unit-membership-tab.nav-link{href: "#unit-membership-tab-content",
                                    "data-toggle": "tab",
                                    role: "tab",
                                    "aria-controls": "unit-membership-tab-content",
                                    "aria-selected": "true"}
      = icon_for(Unit)
      Owning Units
  %li.nav-item
    %a#collection-membership-tab.nav-link{href: "#collection-membership-tab-content",
                                          "data-toggle": "tab",
                                          role: "tab",
                                          "aria-controls": "collection-membership-tab-content",
                                          "aria-selected": "true"}
      = icon_for(Collection)
      Collection Membership
  %li.nav-item
    %a#items-tab.nav-link{href: "#items-tab-content",
                          "data-toggle": "tab",
                          role: "tab",
                          "aria-controls": "items-tab-content",
                          "aria-selected": "true"}
      = icon_for(Item)
      Items
  - if policy(@resource).edit_access?
    %li.nav-item
      %a#access-tab.nav-link{href: "#access-tab-content",
                             "data-toggle": "tab",
                             role: "tab",
                             "aria-controls": "access-tab-content",
                             "aria-selected": "true"}
        %i.fa.fa-users
        Access


.tab-content
  #properties-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                                    "aria-labelledby": "properties-tab"}
    = render partial: "show_properties_tab"

  #unit-membership-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                  "aria-labelledby": "unit-membership-tab"}
    = render partial: "show_units_tab"

  #collection-membership-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                        "aria-labelledby": "collection-membership-tab"}
    = render partial: "show_collections_tab"

  #items-tab-content.tab-pane.fade.show{role: "tabpanel",
                                        "aria-labelledby": "items-tab"}
    = render partial: "show_items_tab"

  - if policy(@resource).edit_access?
    #access-tab-content.tab-pane.fade.show{role: "tabpanel",
                                           "aria-labelledby": "access-tab"}
      = render partial: "show_access_tab"

= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-properties-modal",
                   title: "Edit Properties" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-access-modal",
                   title: "Edit Access" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-membership-modal",
                   title: "Change Collection Membership" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-unit-membership-modal",
                   title: "Change Unit Membership" }