- provide :body_id, "show_collection"

-if current_user
  .btn-group.float-right{role: "group"}
    // Edit button
    %button.btn.btn-light.edit-collection{"data-collection-id": @resource.id,
                                          "data-target": "#edit-collection-modal",
                                          "data-toggle": "modal",
                                          type: "button"}
      %i.fas.fa-pencil-alt
      Edit
    // Delete button
    = link_to(collection_path(@resource), class: 'btn btn-danger',
                                          method: :delete,
                                          "data-confirm": "Are you sure you want to delete this collection?") do
      %i.fa.fa-trash
      Delete

%h1
  =icon_for(@resource)
  =@resource.title

%h2 Info
%dl
  %dt Managers
  %dd
    %ul
      - @resource.managing_users.each do |user|
        %li= link_to(user.name, "mailto:#{user.email}")

-if @resource.items.count.positive?
  .float-right
    = item_search_field(@resource, Item::IndexFields::PRIMARY_COLLECTION)
  %h2 Items
  = resource_list(@resources)

= render partial: 'edit_modal'
