- provide :body_id, "show_collection"

= render partial: "show_button_group"

%h1
  =icon_for(@resource)
  =@resource.title

%h2 Info
%dl
  %dt Managers
  %dd
    %ul
      - @resource.managing_users.each do |user|
        %li= link_to(user.name, "mailto:#{user.email}")
  %dt Submitters
  %dd
    %ul
      - @resource.submitting_users.each do |user|
        %li= link_to(user.name, "mailto:#{user.email}")

-if @resource.items.count.positive?
  .float-right
    = item_search_field(@resource, Item::IndexFields::PRIMARY_COLLECTION)
  %h2 Items
  = resource_list(@resources)

= render partial: 'edit_modal'
