- provide :body_id, "show_collection"
- provide :title, @collection.title

= hidden_field_tag :collection_id, @collection.id

= render partial: "show_button_group"

%h1.mb-3
  = icon_for(@collection)
  = @collection.title

.row
  .col-sm-5.col-md-4.col-lg-3
    .nav.flex-column.nav-pills{role: "tablist",
                               "aria-orientation": "vertical"}
      %a#properties-tab.nav-link.active{href: "#properties-tab-content",
                                        "data-toggle": "pill",
                                        role: "tab",
                                        "aria-controls": "properties-tab-content",
                                        "aria-selected": "true"}
        = icon_for(:info)
        Properties

      %a#units-tab.nav-link{href: "#units-tab-content",
                            "data-toggle": "pill",
                            role: "tab",
                            "aria-controls": "units-tab-content",
                            "aria-selected": "false"}
        = icon_for(Unit)
        Unit Membership

      %a#collections-tab.nav-link{href: "#collections-tab-content",
                                  "data-toggle": "pill",
                                  role: "tab",
                                  "aria-controls": "collections-tab-content",
                                  "aria-selected": "false"}
        = icon_for(Collection)
        Collection Membership

      %a#items-tab.nav-link{href: "#items-tab-content",
                            "data-toggle": "pill",
                            role: "tab",
                            "aria-controls": "items-tab-content",
                            "aria-selected": "false"}
        = icon_for(Item)
        Items

      - if policy(@collection).show_review_submissions?
        %a#review-submissions-tab.nav-link{href: "#review-submissions-tab-content",
                                           "data-toggle": "tab",
                                           role: "tab",
                                           "aria-controls": "review-submissions-tab-content",
                                           "aria-selected": "false"}
          %i.fa.fa-tasks
          Review Submissions
          - if @review_count > 0
            %small.badge-pill.badge-danger= @review_count

      - if policy(@collection).show_statistics?
        %a#statistics-tab.nav-link{href: "#statistics-tab-content",
                                  "data-toggle": "tab",
                                  "data-collection-id": @collection.id,
                                  role: "tab",
                                  "aria-controls": "statistics-tab-content",
                                  "aria-selected": "false"}
          %i.fa.fa-chart-bar
          Statistics

      - if policy(@collection).show_access?
        %a#access-tab.nav-link{href: "#access-tab-content",
                               "data-toggle": "tab",
                               role: "tab",
                               "aria-controls": "access-tab-content",
                               "aria-selected": "false"}
          %i.fa.fa-users
          Access

  .tab-content.col-sm-7.col-md-8.col-lg-9
    #properties-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                                      "aria-labelledby": "properties-tab"}
      = spinner

    #units-tab-content.tab-pane.fade.show{role: "tabpanel",
                                          "aria-labelledby": "units-tab"}
      = spinner

    #collections-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                "aria-labelledby": "collections-tab"}
      = spinner

    #items-tab-content.tab-pane.fade.show{role: "tabpanel",
                                          "aria-labelledby": "items-tab"}
      = spinner

    - if policy(@collection).show_statistics?
      #statistics-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                 "aria-labelledby": "statistics-tab"}
        = spinner

    - if policy(@collection).show_review_submissions?
      #review-submissions-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                         "aria-labelledby": "review-submissions-tab"}
        = spinner

    - if policy(@collection).show_access?
      #access-tab-content.tab-pane.fade.show{role: "tabpanel",
                                             "aria-labelledby": "access-tab"}
        = spinner

= render partial: "collections/add_modal",
         locals: { primary_unit: @collection.primary_unit,
                   parent: @collection,
                   title: "Add Child Collection" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-properties-modal",
                   title: "Edit Properties" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-membership-modal",
                   title: "Change Collection Membership" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-unit-membership-modal",
                   title: "Change Unit Membership",
                   size: :lg }