- provide :body_id, "show_collection"
- provide :title, @collection.title

= render partial: "show_button_group"

%h1.mb-3
  =icon_for(@collection)
  =@collection.title

.row
  .col-sm-5.col-md-4.col-lg-3
    .nav.flex-column.nav-pills{role: "tablist",
                               "aria-orientation": "vertical"}
      %a#metadata-tab.nav-link.active{href: "#properties-tab-content",
                                      "data-toggle": "pill",
                                      role: "tab",
                                      "aria-controls": "properties-tab-content",
                                      "aria-selected": "true"}
        = icon_for(:info)
        Properties

      %a#unit-membership-tab.nav-link{href: "#unit-membership-tab-content",
                                      "data-toggle": "pill",
                                      role: "tab",
                                      "aria-controls": "unit-membership-tab-content",
                                      "aria-selected": "false"}
        = icon_for(Unit)
        Unit Membership

      %a#collection-membership-tab.nav-link{href: "#collection-membership-tab-content",
                                            "data-toggle": "pill",
                                            role: "tab",
                                            "aria-controls": "collection-membership-tab-content",
                                            "aria-selected": "false"}
        = icon_for(Collection)
        Collection Membership

      %a#items-tab.nav-link{href: "#items-tab-content",
                            "data-toggle": "pill",
                            role: "tab",
                            "aria-controls": "items-tab-content",
                            "aria-selected": "false"}
        = icon_for(Item)
        Items

      - if policy(@collection).review_submissions?
        %a#review-submissions-tab.nav-link{href: "#review-submissions-tab-content",
                                           "data-toggle": "tab",
                                           role: "tab",
                                           "aria-controls": "review-submissions-tab-content",
                                           "aria-selected": "false"}
          %i.fa.fa-tasks
          Review Submissions
          %small.badge-pill.badge-danger= @review_count

      - if policy(@collection).downloads?
        %a#downloads-tab.nav-link{href: "#downloads-tab-content",
                                  "data-toggle": "tab",
                                  "data-collection-id": @collection.id,
                                  role: "tab",
                                  "aria-controls": "downloads-tab-content",
                                  "aria-selected": "false"}
          %i.fa.fa-chart-bar
          Downloads

      - if policy(@collection).edit_access?
        %a#access-tab.nav-link{href: "#access-tab-content",
                               "data-toggle": "tab",
                               role: "tab",
                               "aria-controls": "access-tab-content",
                               "aria-selected": "false"}
          %i.fa.fa-users
          Access

  .tab-content.col-sm-7.col-md-8.col-lg-9
    #properties-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                                      "aria-labelledby": "properties-tab"}
      = render partial: "show_properties_tab"

    #unit-membership-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                    "aria-labelledby": "unit-membership-tab"}
      = render partial: "show_units_tab"

    #collection-membership-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                          "aria-labelledby": "collection-membership-tab"}
      = render partial: "show_collections_tab"

    #items-tab-content.tab-pane.fade.show{role: "tabpanel",
                                          "aria-labelledby": "items-tab"}
      = render partial: "show_items_tab"

    - if policy(@collection).downloads?
      #downloads-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                "aria-labelledby": "downloads-tab"}
        = render partial: "show_downloads_tab"

    - if policy(@collection).review_submissions?
      #review-submissions-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                         "aria-labelledby": "review-submissions-tab"}
        = render partial: "show_review_submissions_tab"

    - if policy(@collection).edit_access?
      #access-tab-content.tab-pane.fade.show{role: "tabpanel",
                                             "aria-labelledby": "access-tab"}
        = render partial: "show_access_tab"

= render partial: "collections/add_modal",
         locals: { primary_unit: @collection.primary_unit,
                   parent: @collection,
                   title: "Add Child Collection" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-properties-modal",
                   title: "Edit Properties" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-access-modal",
                   title: "Edit Access" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-membership-modal",
                   title: "Change Collection Membership" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-unit-membership-modal",
                   title: "Change Unit Membership",
                   size: :lg }