- provide :body_id, "show_collection"

= render partial: "show_button_group"

%h1
  =icon_for(@resource)
  =@resource.title

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#metadata-tab.nav-link.active{href: "#metadata-tab-content",
                                    "data-toggle": "tab",
                                    role: "tab",
                                    "aria-controls": "metadata-tab-content",
                                    "aria-selected": "true"} Metadata
  %li.nav-item
    %a#items-tab.nav-link{href: "#items-tab-content",
                          "data-toggle": "tab",
                          role: "tab",
                          "aria-controls": "items-tab-content",
                          "aria-selected": "true"} Items
  %li.nav-item
    %a#unit-membership-tab.nav-link{href: "#unit-membership-tab-content",
                                    "data-toggle": "tab",
                                    role: "tab",
                                    "aria-controls": "unit-membership-tab-content",
                                    "aria-selected": "true"} Unit Membership
  %li.nav-item
    %a#access-tab.nav-link{href: "#access-tab-content",
                           "data-toggle": "tab",
                           role: "tab",
                           "aria-controls": "access-tab-content",
                           "aria-selected": "true"} Access

.tab-content
  #metadata-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                                  "aria-labelledby": "metadata-tab"}
    - if current_user&.effective_manager?(@resource)
      %dl
        %dt Metadata Profile
        %dd
          - if @resource.metadata_profile
            - if policy(@metadata_profile).show?
              = link_to(@metadata_profile.name, @metadata_profile)
            - else
              = @metadata_profile.name
          - else
            = raw("Not assigned (falling back to #{link_to(@metadata_profile.name, @metadata_profile)})")
    %hr
    = metadata_as_dl(@metadata_profile, @resource.elements)

  #items-tab-content.tab-pane.fade.show{role: "tabpanel",
                                        "aria-labelledby": "items-tab"}
    -if @resource.items.count.positive?
      .float-right
        = form_tag(items_path, method: :get, class: "filter") do
          = item_search_field(@resource, Item::IndexFields::PRIMARY_COLLECTION)
      %h2 Items
      = resource_list(@collections)
    -else
      There are no items in this collection.

  #unit-membership-tab-content.tab-pane.fade.show{role: "tabpanel",
                                                  "aria-labelledby": "unit-membership-tab"}
    - @resource.all_units.sort{ |u| u.title <=> u.title }.each do |unit|
      .media.resource-list
        .thumbnail
          = link_to(unit) do
            = icon_for(unit)
        .media-body
          %h5.mt-0
            = link_to(unit.title, unit)
            - if @resource.primary_unit_id == unit.id
              %span.badge.badge-primary PRIMARY
          %br
          %br

  #access-tab-content.tab-pane.fade.show{role: "tabpanel",
                                         "aria-labelledby": "access-tab"}
    %h3 Unit Administrators
    %ul
      - @resource.all_units.each do |unit|
        - unit.all_administrators.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    %h3 Managers
    - if @resource.managing_users.any?
      %ul
        - @resource.managing_users.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None
    %h3 Submitters
    - if @resource.submitters.any?
      %ul
        - @resource.submitting_users.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None

= render partial: "shared/ajax_modal",
         locals: { id: "edit-collection-modal", title: "Edit Collection" }