= form_for(@index_page, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = f.hidden_field :institution_id, value: f.object.institution_id

  .mb-3
    = f.label :name, "Name", class: "required"
    = f.text_field :name, class: 'form-control'

  %h5 Elements

  .mb-3
    - f.object.institution.registered_elements.order(:label).each do |re|
      .form-check
        = check_box_tag "registered_element_ids[]", re.id,
          f.object.registered_elements.find_by_id(re.id),
          { id: "registered_element_ids_#{re.id}", class: "form-check-input" }
        = label_tag "registered_element_ids_#{re.id}", re.label,
          class: "form-check-label"

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Index Page" : "Save Changes",
                 class: "btn btn-primary")
