-# @param institution [Institution]

= form_for(institution, url: institution.new_record? ? institutions_path : institution_settings_path(institution), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  - if f.object.key == "uiuc"
    .mb-3
      = f.label :shibboleth_org_dn, "Shibboleth Organization DN"
      = f.text_field :shibboleth_org_dn, class: "form-control"
      %p.form-text
        = icon_for(:info)
        When filled in, Shibboleth authentication will be enabled for this
        institution.
  - else

    %h5 SSO Federation
    .mb-3
      .form-check
        = f.radio_button(:sso_federation, Institution::SSOFederation::OPENATHENS, id: "oaf", class: "form-check-input")
        %label.form-check-label{for: "oaf"}
          = Institution::SSOFederation.label_for(Institution::SSOFederation::OPENATHENS)
      .form-check
        = f.radio_button(:sso_federation, Institution::SSOFederation::NONE, id: "saml", class: "form-check-input")
        %label.form-check-label{for: "saml"}
          = Institution::SSOFederation.label_for(Institution::SSOFederation::NONE)

    %hr

    .mb-3
      = f.label :saml_idp_entity_id, "IdP Entity ID"
      = f.text_field :saml_idp_entity_id, class: "form-control"
      %p.form-text
        = icon_for(:info)
        After changing this value, you should refresh the OpenAthens
        metadata from the page beneath this panel.
    .mb-3
      = f.label :saml_idp_sso_service_url, "IdP SSO Service URL"
      = f.text_field :saml_idp_sso_service_url, class: "form-control"
    .mb-3
      = f.label :saml_idp_cert, "IdP Certificate"
      = f.text_area :saml_idp_cert, rows: 10, class: "form-control"
    .mb-3
      = f.label :saml_email_attribute, "Email Attribute"
      = f.text_field :saml_email_attribute, class: "form-control"
    .mb-3
      = f.label :saml_first_name_attribute, "First Name Attribute"
      = f.text_field :saml_first_name_attribute, class: "form-control"
    .mb-3
      = f.label :saml_last_name_attribute, "Last Name Attribute"
      = f.text_field :saml_last_name_attribute, class: "form-control"

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Institution" : "Save Changes",
                 class: "btn btn-primary")
