-# @param institution [Institution]

= form_for(institution, url: institution.new_record? ? institutions_path : institution_properties_path(institution), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :name, "Name"
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :key, "Key"
    = f.text_field :key, class: 'form-control', disabled: !f.object.new_record?
    %p.text-muted
      %i.fa.fa-info-circle
      A short alphanumeric string that uniquely identifies the institution.
      Used only internally and cannot be changed later.

  .form-group
    = f.label :fqdn, "Fully Qualified Domain Name (FQDN)"
    = f.text_field :fqdn, class: 'form-control'
    %p.text-muted
      %i.fa.fa-info-circle
      This must be present in the
      %code config.hosts
      key in the
      %code= "config/environments/#{Rails.env}.rb"
      file.

  .form-group
    = f.label :org_dn, "Organization DN"
    = f.text_field :org_dn, class: 'form-control'
    %p.text-muted
      %i.fa.fa-info-circle
      Copy this value from the properties page of a user of this institution
      who has signed in via Shibboleth.

  .form-group
    = f.label :latitude, "Latitude"
    .row
      .col
        = f.number_field :latitude_degrees, class: "form-control",
                         placeholder: "Degrees"
      .col
        = f.number_field :latitude_minutes, class: "form-control",
                         placeholder: "Minutes"
      .col
        = f.text_field :latitude_seconds, class: "form-control",
                        placeholder: "Seconds"

  .form-group
    = f.label :longitude, "Longitude"
    .row
      .col
        = f.number_field :longitude_degrees, class: "form-control",
                         placeholder: "Degrees"
      .col
        = f.number_field :longitude_minutes, class: "form-control",
                         placeholder: "Minutes"
      .col
        = f.text_field :longitude_seconds, class: "form-control",
                        placeholder: "Seconds"

  .form-group
    .form-check
      = f.check_box :default, class: "form-check-input"
      = f.label :default, class: "form-check-label"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Institution" : "Save Changes",
                 class: "btn btn-primary")
