-# @param institution [Institution]

= form_for(institution, url: institution.new_record? ? institutions_path : institution_properties_path(institution), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .mb-3
    = f.label :name, "Name", class: "required"
    = f.text_field :name, class: 'form-control'

  .mb-3
    = f.label :key, "Key", class: "required"
    = f.text_field :key, class: 'form-control', disabled: !f.object.new_record?
    %p.form-text
      = icon_for(:info)
      A short alphanumeric string that uniquely identifies the institution.
      Used only internally and cannot be changed later.

  .mb-3
    = f.label :fqdn, "Fully Qualified Domain Name (FQDN)", class: "required"
    = f.text_field :fqdn, class: "form-control"
    - if Rails.env.development? || Rails.env.test?
      %p.form-text
        = icon_for(:info)
        This must be present in the
        %code config.hosts
        key in the
        %code= "config/environments/#{Rails.env}.rb"
        file.

  .mb-3
    = f.label :latitude, "Latitude"
    .row
      .col
        = f.number_field :latitude_degrees, class: "form-control",
                         placeholder: "Degrees"
      .col
        = f.number_field :latitude_minutes, class: "form-control",
                         placeholder: "Minutes"
      .col
        = f.text_field :latitude_seconds, class: "form-control",
                        placeholder: "Seconds"

  .mb-3
    = f.label :longitude, "Longitude"
    .row
      .col
        = f.number_field :longitude_degrees, class: "form-control",
                         placeholder: "Degrees"
      .col
        = f.number_field :longitude_minutes, class: "form-control",
                         placeholder: "Minutes"
      .col
        = f.text_field :longitude_seconds, class: "form-control",
                        placeholder: "Seconds"
    %p.form-text
      = icon_for(:info)
      These spatial coordinates affect the location of the institution's dot on
      the map on the global landing page. If they are left blank, the dot won't
      appear.

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Institution" : "Save Changes",
                 class: "btn btn-primary")
