-# @param institution [Institution]

= form_for(institution, url: institution_settings_path(institution), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .mb-3
    .form-check
      = f.check_box(:saml_auth_enabled,
                    id:    "saml-auth-enabled",
                    class: "form-check-input")
      = f.label(:saml_auth_enabled, "Enabled", class: "form-check-label")

  %h5 SSO Federation

  .mb-3
    .form-check
      = f.radio_button(:sso_federation, nil, id: "saml", class: "form-check-input")
      %label.form-check-label{for: "saml"}
        None
    .form-check
      = f.radio_button(:sso_federation, Institution::SSOFederation::ITRUST, id: "itrust", class: "form-check-input")
      %label.form-check-label{for: "itrust"}
        = Institution::SSOFederation.label_for(Institution::SSOFederation::ITRUST)
    .form-check
      = f.radio_button(:sso_federation, Institution::SSOFederation::OPENATHENS, id: "oaf", class: "form-check-input")
      %label.form-check-label{for: "oaf"}
        = Institution::SSOFederation.label_for(Institution::SSOFederation::OPENATHENS)

  %hr

  .mb-3
    = f.label :saml_idp_entity_id, "IdP Entity ID"
    = f.text_field :saml_idp_entity_id, class: "form-control"
    %p.form-text
      = icon_for(:info)
      After changing this value, you should refresh the federation metadata
      from the page beneath this panel.
  .mb-3
    = f.label :saml_idp_sso_service_url, "IdP SSO Service URL"
    = f.text_field :saml_idp_sso_service_url, class: "form-control"
  .mb-3
    = f.label :saml_sp_private_cert, "SP Private Certificate"
    = f.text_area :saml_sp_private_cert, rows: 10, class: "form-control"
  .mb-3
    = f.label :saml_sp_public_cert, "SP Public Certificate"
    = f.text_area :saml_sp_public_cert, rows: 10, class: "form-control"
  .mb-3
    = f.label :saml_idp_cert, "IdP Certificate"
    = f.text_area :saml_idp_cert, rows: 10, class: "form-control"
  .mb-3
    = f.label :saml_email_location, "Email Location"
    = f.select :saml_email_location,
               options_for_select(Institution::SAMLEmailLocation.all.map{ |v| [Institution::SAMLEmailLocation.label_for(v), v] },
                                  f.object.saml_email_location),
               {}, class: "form-select"
  .mb-3
    = f.label :saml_email_attribute, "Email Attribute"
    = f.text_field :saml_email_attribute, class: "form-control"
  .mb-3
    = f.label :saml_first_name_attribute, "First Name Attribute"
    = f.text_field :saml_first_name_attribute, class: "form-control"
  .mb-3
    = f.label :saml_last_name_attribute, "Last Name Attribute"
    = f.text_field :saml_last_name_attribute, class: "form-control"

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
