= form_for(institution, url: institution_settings_path(institution), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .mb-3
    = f.label :service_name, "Service Name", class: "required"
    = f.text_field :service_name, class: "form-control"

  .mb-3
    = f.label :main_website_url, "Main Website URL"
    = f.text_field :main_website_url, placeholder: "https://", class: "form-control"

  .mb-3
    = f.label :feedback_email, "Feedback Email"
    = f.text_field :feedback_email, class: "form-control"

  .mb-3
    = f.label :google_analytics_measurement_id, "Google Analytics v4 Measurement ID"
    = f.text_field :google_analytics_measurement_id, class: "form-control"

  .mb-3
    = f.label :welcome_html, "Welcome HTML"
    = f.text_area :welcome_html, class: "form-control", rows: 10
    %p.form-text
      %i.fa.fa-info-circle
      The following HTML tags are allowed:
      = allowed_html_tags

  .mb-3
    = f.label :about_html, "About HTML"
    = f.text_area :about_html, class: "form-control", rows: 10
    %p.form-text
      %i.fa.fa-info-circle
      The following HTML tags are allowed:
      = allowed_html_tags

  .mb-3
    = f.label :about_url, "About URL"
    = f.text_field :about_url, class: "form-control"
    %p.form-text
      %i.fa.fa-info-circle
      If filled in, this will override the About HTML.

  .mb-3
    = f.label :copyright_notice, "Copyright Notice"
    = f.text_field :copyright_notice, class: "form-control"

  .mb-3
    = f.label :earliest_search_year, "Earliest Search Year"
    = f.number_field :earliest_search_year, class: "form-control"

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
