- if policy(@institution).edit_properties?
  .btn-group.float-end{role: "group"}
    -# Edit button
    %button.btn.btn-light.edit-properties{"data-bs-target":       "#edit-properties-modal",
                                          "data-bs-toggle":       "modal",
                                          type:                   "button",
                                          "data-institution-key": @institution.key }
      %i.fa.fa-pencil-alt
      Edit
- else
  .alert.alert-light
    = icon_for(:info)
    Institution properties can only be changed by system administrators.

.clearfix.mb-3

%dl
  %dt Scope URL
  %dd
    %code= link_to(@institution.scope_url, @institution.scope_url)
  %dt Key
  %dd
    %code= @institution.key
  - if @institution.key == "uiuc"
    %dt Organization DN
    %dd
      - if @institution.org_dn.present?
        %code= @institution.org_dn
      - else
        Not Set
  - else
    %dt OpenAthens Organization ID
    %dd
      - if @institution.openathens_organization_id?
        %code= @institution.openathens_organization_id
      - else
        Not Set
  %dt Latitude
  %dd
    - if @institution.latitude_degrees.present? && @institution.latitude_minutes.present? && @institution.latitude_seconds.present?
      = raw("#{@institution.latitude_degrees}&deg;")
      = raw("#{@institution.latitude_minutes}&apos;")
      = raw("#{@institution.latitude_seconds}&quot;")
    - else
      Not Set
  %dt Longitude
  %dd
    - if @institution.longitude_degrees.present? && @institution.longitude_minutes.present? && @institution.longitude_seconds.present?
      = raw("#{@institution.longitude_degrees}&deg;")
      = raw("#{@institution.longitude_minutes}&apos;")
      = raw("#{@institution.longitude_seconds}&quot;")
    - else
      Not Set
