.btn-group.float-end{role: "group"}
  - if policy(@institution).invite_administrator?
    -# Invite Administrator button
    %button.btn.btn-light.invite-administrator{"data-bs-target":       "#invite-administrator-modal",
                                               "data-bs-toggle":       "modal",
                                               role:                   "button",
                                               "data-institution-key": @institution.key }
      %i.fa.fa-plus
      Invite Administrator

.clearfix.mb-3

.row
  .col-md-6
    .card.mb-3
      .card-body
        - if policy(@institution).edit_administering_groups?
          .float-end
            %button.btn.btn-sm.btn-light.edit-administering-groups{"data-bs-target":       "#edit-administering-groups-modal",
                                                                   "data-bs-toggle":       "modal",
                                                                   role:                   "button",
                                                                   "data-institution-key": @institution.key}
              %i.fas.fa-pencil-alt
              Edit
        %h5.card-title Direct Administrators (Groups)
        - if @institution.administering_groups.any?
          %ul
            - @institution.administering_groups.each do |group|
              %li= link_to(group.name, group)
        - else
          None

  .col-md-6
    .card.mb-3
      .card-body
        - if policy(@institution).edit_administering_users?
          .float-end
            %button.btn.btn-sm.btn-light.edit-administering-users{"data-bs-target":       "#edit-administering-users-modal",
                                                                  "data-bs-toggle":       "modal",
                                                                  role:                   "button",
                                                                  "data-institution-key": @institution.key}
              %i.fas.fa-pencil-alt
              Edit
        %h5.card-title Direct Administrators (Users)
        - if @institution.administering_users.any?
          %ul
            - @institution.administering_users.each do |user|
              %li= link_to(user.name, user)
        - else
          None

= render partial: "shared/xhr_modal",
       locals: { id: "invite-administrator-modal",
                 title: "Invite Administrator" }
= render partial: "shared/xhr_modal",
       locals: { id: "edit-administering-groups-modal",
                 title: "Edit Administering Groups" }
= render partial: "shared/xhr_modal",
       locals: { id: "edit-administering-users-modal",
                 title: "Edit Administering Users" }