.btn-group.float-end{role: "group"}
  - if policy(@institution).edit_theme?
    -# Edit button
    %button.btn.btn-light.edit-theme{"data-bs-target":       "#edit-theme-modal",
                                     "data-bs-toggle":       "modal",
                                     type:                   "button",
                                     "data-institution-key": @institution.key }
      %i.fa.fa-pencil-alt
      Edit

.clearfix.mb-3

.row.mb-3
  .col-sm-3
    .card
      .card-header Header Background Color
      .card-body{style: "background-color: #{@institution.header_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.header_background_color)}"}
        = @institution.header_background_color
  .col-sm-3
    .card
      .card-header Footer Background Color
      .card-body{style: "background-color: #{@institution.footer_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.footer_background_color)}"}
        = @institution.footer_background_color
  .col-sm-3
    .card
      .card-header Primary Color
      .card-body{style: "background-color: #{@institution.primary_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.primary_color)}"}
        = @institution.primary_color
  .col-sm-3
    .card
      .card-header Primary Hover Color
      .card-body{style: "background-color: #{@institution.primary_hover_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.primary_hover_color)}"}
        = @institution.primary_hover_color

.row.mb-3
  .col-sm-3
    .card
      .card-header Link Color
      .card-body{style: "background-color: #{@institution.link_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.link_color)}"}
        = @institution.link_color
  .col-sm-3
    .card
      .card-header Link Hover Color
      .card-body{style: "background-color: #{@institution.link_hover_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.link_hover_color)}"}
        = @institution.link_hover_color
  .col-sm-3
    .card
      .card-header Active Link Color
      .card-body{style: "background-color: #{@institution.active_link_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.active_link_color)}"}
        = @institution.active_link_color
  .col-sm-3
    .card
      .card-header
        Master Favicon
        - if @institution.has_favicon
          .float-end
            = link_to(institution_favicon_path(@institution),
                      method: :delete, class: "btn btn-danger btn-sm") do
              = icon_for(:delete)
              Delete
      .card-body
        - if @institution.has_favicon
          - size = InstitutionsHelper::FAVICONS.sort{ |a,b| a[:size] <=> b[:size] }.last[:size]
          = image_tag(@institution.favicon_url(size: size))
        - else
          No favicon set.

.row
  .col-sm-4
    .card
      .card-header
        Header Image
        - if @institution.header_image_filename.present?
          .float-end
            = link_to(institution_header_image_path(@institution),
                      method: :delete, class: "btn btn-danger btn-sm") do
              = icon_for(:delete)
              Delete
      .card-body{style: "background-color: #{@institution.header_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.header_background_color)}"}
        - if @institution.key == "uiuc"
          This institution is using a custom header image that is not configurable.
        - else
          - if @institution.header_image_filename.present?
            = image_tag(@institution.header_image_url)
          - else
            No image set.
  .col-sm-4
    .card
      .card-header
        Banner Image
        - if @institution.banner_image_filename.present?
          .float-end
            = link_to(institution_banner_image_path(@institution),
                      method: :delete, class: "btn btn-danger btn-sm") do
              = icon_for(:delete)
              Delete
      .card-body
        - if @institution.banner_image_filename.present?
          = image_tag(@institution.banner_image_url)
        - else
          No image set.
  .col-sm-4
    .card
      .card-header
        Footer Image
        - if @institution.footer_image_filename.present?
          .float-end
            = link_to(institution_footer_image_path(@institution),
                      method: :delete, class: "btn btn-danger btn-sm") do
              = icon_for(:delete)
              Delete
      .card-body{style: "background-color: #{@institution.footer_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.footer_background_color)}"}
        - if @institution.footer_image_filename.present?
          = image_tag(@institution.footer_image_url)
        - else
          No image set.
