- if policy(@institution).edit_properties?
  .btn-group.float-right{role: "group"}
    -# Edit button
    %button.btn.btn-light.edit-properties{"data-target":          "#edit-properties-modal",
                                          "data-toggle":          "modal",
                                          type:                   "button",
                                          "data-institution-key": @institution.key }
      %i.fa.fa-pencil-alt
      Edit
- else
  .alert.alert-light
    = icon_for(:info)
    Institution properties can only be changed by system administrators.

.clearfix.mb-3

%dl
  %dt Key
  %dd
    %code= @institution.key
  %dt Fully Qualified Domain Name (FQDN)
  %dd
    %code= link_to(@institution.fqdn, @institution.url)
  %dt Organization DN
  %dd
    %code= @institution.org_dn
  %dt Default
  %dd= boolean(@institution.default, style: :word)
