-# Content for the Statistics -> Downloads By Item tab

.float-end
  = link_to(institution_item_download_counts_path(@institution,
                                                  format: :csv,
                                                  params: params.permit(:from_year, :from_month, :to_year, :to_month)),
                                                  class: "btn btn-light") do
    %i.fa.fa-download
    CSV

%h2
  = "#{params[:from_month]}/#{params[:from_year]}"
  &mdash;
  = "#{params[:to_month]}/#{params[:to_year]}"

%table.table
  %thead
    %tr
      %th Item
      %th Downloads
  %tbody
    - @items.each do |row|
      %tr
        %td= link_to(row['title'], item_path(row['id']))
        %td= number_with_delimiter(row['dl_count'])
    %tr
      %th Total
      %th= number_with_delimiter(@items.map{ |row| row['dl_count'] }.sum)
