.btn-group.mb-3.float-end{role: "group"}
  -# Add Namespace button
  %button.btn.btn-light.add-element-namespace{"data-bs-target": "#add-element-namespace-modal",
                                              "data-bs-toggle": "modal",
                                              type:             "button"}
    %i.fa.fa-plus
    Add Namespace

.clearfix

.alert.alert-light
  = icon_for(:info)
  These rules associate the prefixes of your
  = link_to("registered elements", registered_elements_path)
  with URIs for dissemination in XML and Linked Data.

.alert.alert-warning
  = icon_for(:warning)
  The following element namespaces, used by one or more of your registered
  elements, have not been defined yet:
  %ul
    - @unaccounted_prefixes.each do |prefix|
      %li
        %code= prefix

= render partial: "element_namespaces/listing"

= render partial: "shared/xhr_modal",
         locals: { id: "add-element-namespace-modal", title: "Add Element Namespace" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-element-namespace-modal", title: "Edit Element Namespace" }