.btn-group.float-right{role: "group"}
  - if policy(@institution).edit_theme?
    -# Edit button
    %button.btn.btn-light.edit-theme{"data-target":          "#edit-theme-modal",
                                     "data-toggle":          "modal",
                                     type:                   "button",
                                     "data-institution-key": @institution.key }
      %i.fa.fa-pencil-alt
      Edit

.clearfix.mb-3

.row.mb-3
  .col-sm-3
    .card
      .card-header Header Background Color
      .card-body{style: "background-color: #{@institution.header_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.header_background_color)}"}
        = @institution.header_background_color
  .col-sm-3
    .card
      .card-header Footer Background Color
      .card-body{style: "background-color: #{@institution.footer_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.footer_background_color)}"}
        = @institution.footer_background_color
  .col-sm-3
    .card
      .card-header Primary Color
      .card-body{style: "background-color: #{@institution.primary_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.primary_color)}"}
        = @institution.primary_color
  .col-sm-3
    .card
      .card-header Primary Hover Color
      .card-body{style: "background-color: #{@institution.primary_hover_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.primary_hover_color)}"}
        = @institution.primary_hover_color

.row.mb-3
  .col-sm-4
    .card
      .card-header Link Color
      .card-body{style: "background-color: #{@institution.link_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.link_color)}"}
        = @institution.link_color
  .col-sm-4
    .card
      .card-header Link Hover Color
      .card-body{style: "background-color: #{@institution.link_hover_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.link_hover_color)}"}
        = @institution.link_hover_color
  .col-sm-4
    .card
      .card-header Active Link Color
      .card-body{style: "background-color: #{@institution.active_link_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.active_link_color)}"}
        = @institution.active_link_color

.row
  .col-sm-4
    .card
      .card-header Header Image
      .card-body{style: "background-color: #{@institution.header_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.header_background_color)}"}
        - if @institution.key == "uiuc"
          This institution is using a custom header image that is not configurable.
        - else
          - if @institution.header_image_filename
            = image_tag(@institution.header_image_url)
          - else
            No image set.
  .col-sm-4
    .card
      .card-header Banner Image
      .card-body
        - if @institution.banner_image_filename
          = image_tag(@institution.banner_image_url)
        - else
          No image set.
  .col-sm-4
    .card
      .card-header Footer Image
      .card-body{style: "background-color: #{@institution.footer_background_color}; "\
                        "color: #{ColorUtils.optimize_text_contrast(@institution.footer_background_color)}"}
        - if @institution.footer_image_filename
          = image_tag(@institution.footer_image_url)
        - else
          No image set.
