.btn-group.float-end{role: "group"}
  - if policy(@institution).edit_settings?
    -# Edit button
    %button.btn.btn-light.edit-settings{"data-bs-target":       "#edit-settings-modal",
                                        "data-bs-toggle":       "modal",
                                        type:                   "button",
                                        "data-institution-key": @institution.key }
      %i.fa.fa-pencil-alt
      Edit

.clearfix.mb-3

%dl
  %dt Service Name
  %dd= @institution.service_name
  %dt Main Website URL
  %dd
    - if @institution.main_website_url.present?
      = link_to(@institution.main_website_url, @institution.main_website_url)
    - else
      Not Set
  %dt Feedback Email
  %dd
    - if @institution.feedback_email.present?
      = @institution.feedback_email
    - else
      .badge.text-bg-danger
        Not Set
  %dt Welcome HTML
  %dd
    - if @institution.welcome_html.present?
      .badge.text-bg-success
        Present
    - else
      .badge.text-bg-danger
        Not Set
  %dt About
  %dd
    - if @institution.about_html.present? || @institution.about_url.present?
      .badge.text-bg-success
        Present
    - else
      .badge.text-bg-danger
        Not Set
  %dt Deposit Agreement
  %dd
    - if @institution.deposit_agreement.present?
      .badge.text-bg-success
        Present
    - else
      .badge.text-bg-danger
        Not Set
  %dt Copyright Notice
  %dd
    - if @institution.copyright_notice.present?
      = @institution.copyright_notice
    - else
      .badge.text-bg-danger
        Not Set
  %dt Earliest Search Year
  %dd= @institution.earliest_search_year