%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#agreement-tab.nav-link.active{"data-bs-toggle": "tab",
                                          "data-bs-target": "#agreement-tab-pane",
                                          type:             "button",
                                          role:             "tab",
                                          "aria-controls":  "agreement-tab-pane",
                                          "aria-selected":  "true"} Agreement
  %li.nav-item{role: "presentation"}
    %button#questions-tab.nav-link{"data-bs-toggle": "tab",
                                   "data-bs-target": "#questions-tab-pane",
                                   type:             "button",
                                   role:             "tab",
                                   "aria-controls":  "questions-tab-pane",
                                   "aria-selected":  "false"} Questions


.tab-content
  #agreement-tab-pane.tab-pane.fade.show.active{role:              "tabpanel",
                                                "aria-labelledby": "deposit-tab",
                                                tabindex:          0}
    .btn-group.float-end{role: "group"}
      - if policy(@institution).edit_deposit_agreement?
        -# Edit button
        %button.btn.btn-light.edit-deposit-agreement{"data-bs-target": "#edit-deposit-agreement-modal",
                                                     "data-bs-toggle": "modal",
                                                     type:             "button"}
          %i.fa.fa-pencil-alt
          Edit
    .clearfix.mb-3
    - if @institution.deposit_agreement.present?
      = sanitize(@institution.deposit_agreement,
                 tags: ApplicationHelper::ALLOWED_HTML_TAGS,
                 attributes: ApplicationHelper::ALLOWED_HTML_TAG_ATTRIBUTES)
    - else
      The deposit agreement has not been entered yet.

  #questions-tab-pane.tab-pane.fade{role:              "tabpanel",
                                    "aria-labelledby": "questions-tab",
                                    tabindex:          0}
    .btn-group.float-end{role: "group"}
      - if policy(@institution).edit_deposit_questions?
        -# Edit button
        %button.btn.btn-light.edit-deposit-questions{"data-bs-target": "#edit-deposit-questions-modal",
                                                     "data-bs-toggle": "modal",
                                                     type:             "button"}
          %i.fa.fa-pencil-alt
          Edit
    .clearfix.mb-3
    - @institution.deposit_agreement_questions.each do |question|
      %h5= question.text
      - if question.help_text.present?
        %p.text-secondary
          = icon_for(:info)
          = question.help_text
      %ul
        - question.responses.each do |response|
          %li
            - if response.success
              %strong.text-success
                &check;
                = response.text
            - else
              = response.text
