- provide :title, "All Institutions"

-if policy(Institution).new?
  .btn-group.float-end{role: "group"}
    -# Add Institution button
    %button.btn.btn-light{"data-bs-target": "#add-institution-modal",
                          "data-bs-toggle": "modal",
                          type:             "button"}
      %i.fa.fa-plus
      Add Institution

%h1 All Institutions

%table.table
  %thead
    %tr
      %th
      %th Name
      %th Service Name
      %th Key
      %th FQDN
  %tbody
    - @institutions.each do |institution|
      %tr
        %td.text-center
          - if institution.outgoing_message_queue.blank?
            .text-danger= icon_for(:warning)
        %td= link_to(institution.name, institution)
        %td= link_to(institution.service_name, institution)
        %td
          %code= institution.key
        %td
          %code= link_to(institution.fqdn, institution.url)

= render partial: "institutions/add_modal", locals: { institution: @new_institution }