- provide :body_id, "show_institution"
- provide :title, @institution.name

= hidden_field_tag :institution_id, @institution.id
= hidden_field_tag :institution_key, @institution.key

.float-end
  - if @institution.units.count == 0 && policy(@institution).destroy?
    -# Delete button
    = link_to(institution_path(@institution), class: "btn btn-danger",
                                              role: "button",
                                              method: :delete,
                                              data: { confirm: "Are you sure you want to delete this institution?" }) do
      %i.fa.fa-trash
      Delete

%h1
  = icon_for(@institution)
  = @institution.name

.d-flex
  .nav.nav-pills.flex-column.me-3{role:               "tablist",
                                  "aria-orientation": "vertical"}
    - if policy(@institution).show_properties?
      %button#properties-tab.nav-link.active{"data-bs-target": "#properties-tab-content",
                                             "data-bs-toggle": "pill",
                                             role:             "tab",
                                             type:             "button",
                                             "aria-controls":  "properties-tab-content",
                                             "aria-selected":  "true"}
        = icon_for(:info)
        Properties
    - if policy(@institution).show_settings?
      %button#settings-tab.nav-link{"data-bs-target": "#settings-tab-content",
                                    "data-bs-toggle": "pill",
                                    role:             "tab",
                                    type:             "button",
                                    "aria-controls":  "settings-tab-content",
                                    "aria-selected":  "false"}
        %i.fa.fa-cog
        General Settings
    - if policy(@institution).show_authentication?
      %button#authentication-tab.nav-link{"data-bs-target": "#authentication-tab-content",
                                          "data-bs-toggle": "pill",
                                          role:             "tab",
                                          type:             "button",
                                          "aria-controls":  "authentication-tab-content",
                                          "aria-selected":  "false"}
        %i.fa.fa-lock
        Authentication
    - if policy(@institution).show_preservation?
      %button#preservation-tab.nav-link{"data-bs-target": "#preservation-tab-content",
                                        "data-bs-toggle": "pill",
                                        role:             "tab",
                                        type:             "button",
                                        "aria-controls":  "preservation-tab-content",
                                        "aria-selected":  "false"}
        %i.fa.fa-box-open
        Preservation
        - if @institution.outgoing_message_queue.blank?
          %i.fa.fa-exclamation-triangle.text-danger
    - if policy(@institution).show_theme?
      %button#theme-tab.nav-link{"data-bs-target":       "#theme-tab-content",
                                 "data-bs-toggle":       "pill",
                                 role:                   "tab",
                                 type:                   "button",
                                 "aria-controls":        "theme-tab-content",
                                 "aria-selected":        "false",
                                 "data-institution-key": @institution.key}
        %i.fa.fa-palette
        Theme
    - if policy(@institution).show_depositing?
      %button#depositing-tab.nav-link{"data-bs-target": "#depositing-tab-content",
                                    "data-bs-toggle":   "pill",
                                    role:               "tab",
                                    type:               "button",
                                    "aria-controls":    "depositing-tab-content",
                                    "aria-selected":    "false"}
        %i.fa.fa-plus
        Deposit Agreement
    - if policy(@institution).show_review_submissions?
      %button#review-submissions-tab.nav-link{"data-bs-target": "#review-submissions-tab-content",
                                              "data-bs-toggle": "pill",
                                              role:             "tab",
                                              type:             "button",
                                              "aria-controls":  "review-submissions-tab-content",
                                              "aria-selected":  "false"}
        %i.fa.fa-tasks
        Review Submissions
        - if @review_count > 0
          %span.badge.rounded-pill.text-bg-primary= @review_count
    - if policy(@institution).show_submissions_in_progress?
      %button#submissions-in-progress-tab.nav-link{"data-bs-target": "#submissions-in-progress-tab-content",
                                                   "data-bs-toggle": "pill",
                                                   role:             "tab",
                                                   type:             "button",
                                                   "aria-controls":  "submissions-in-progress-tab-content",
                                                   "aria-selected":  "false"}
        %i.fa.fa-tasks
        Submissions in Progress
        - if @submissions_in_progress_count > 0
          %span.badge.rounded-pill.text-bg-primary= @submissions_in_progress_count
    - if policy(@institution).show_units?
      %button#units-tab.nav-link{"data-bs-target": "#units-tab-content",
                                 "data-bs-toggle": "pill",
                                 role:             "tab",
                                 type:             "button",
                                 "aria-controls":  "units-tab-content",
                                 "aria-selected":  "false"}
        = icon_for(Unit)
        Units
    - if policy(@institution).show_element_mappings?
      %button#element-mappings-tab.nav-link{"data-bs-target": "#element-mappings-tab-content",
                                            "data-bs-toggle": "pill",
                                            role:             "tab",
                                            type:             "button",
                                            "aria-controls":  "element-mappings-tab-content",
                                            "aria-selected":  "false"}
        = icon_for(RegisteredElement)
        Element Mappings
    - if policy(@institution).show_element_namespaces?
      %button#element-namespaces-tab.nav-link{"data-bs-target": "#element-namespaces-tab-content",
                                              "data-bs-toggle": "pill",
                                              role:             "tab",
                                              type:             "button",
                                              "aria-controls":  "element-namespaces-tab-content",
                                              "aria-selected":  "false"}
        %i.fa.fa-code
        Element Namespaces
    - if policy(@institution).show_element_registry?
      %button#element-registry-tab.nav-link{"data-bs-target": "#element-registry-tab-content",
                                            "data-bs-toggle": "pill",
                                            role:             "tab",
                                            type:             "button",
                                            "aria-controls":  "element-registry-tab-content",
                                            "aria-selected":  "false"}
        = icon_for(RegisteredElement)
        Element Registry
    - if policy(@institution).show_metadata_profiles?
      %button#metadata-profiles-tab.nav-link{"data-bs-target": "#metadata-profiles-tab-content",
                                             "data-bs-toggle": "pill",
                                             role:             "tab",
                                             type:             "button",
                                             "aria-controls":  "metadata-profiles-tab-content",
                                             "aria-selected":  "false"}
        = icon_for(MetadataProfile)
        Metadata Profiles
    - if policy(@institution).show_submission_profiles?
      %button#submission-profiles-tab.nav-link{"data-bs-target": "#submission-profiles-tab-content",
                                               "data-bs-toggle": "pill",
                                               role:             "tab",
                                               type:             "button",
                                               "aria-controls":  "submission-profiles-tab-content",
                                               "aria-selected":  "false"}
        = icon_for(SubmissionProfile)
        Submission Profiles
    - if policy(@institution).show_vocabularies?
      %button#vocabularies-tab.nav-link{"data-bs-target": "#vocabularies-tab-content",
                                        "data-bs-toggle": "pill",
                                        role:             "tab",
                                        type:             "button",
                                        "aria-controls":  "vocabularies-tab-content",
                                        "aria-selected":  "false"}
        = icon_for(Vocabulary)
        Vocabularies
    - if policy(@institution).show_prebuilt_searches?
      %button#prebuilt-searches-tab.nav-link{"data-bs-target": "#prebuilt-searches-tab-content",
                                             "data-bs-toggle": "pill",
                                             role:             "tab",
                                             type:             "button",
                                             "aria-controls":  "prebuilt-searches-tab-content",
                                             "aria-selected":  "false"}
        = icon_for(PrebuiltSearch)
        Prebuilt Searches
    - if policy(@institution).show_index_pages?
      %button#index-pages-tab.nav-link{"data-bs-target": "#index-pages-tab-content",
                                       "data-bs-toggle": "pill",
                                       role:             "tab",
                                       type:             "button",
                                       "aria-controls":  "index-pages-tab-content",
                                       "aria-selected":  "false"}
        = icon_for(IndexPage)
        Index Pages
    - if policy(@institution).show_imports?
      %button#imports-tab.nav-link{"data-bs-target": "#imports-tab-content",
                                   "data-bs-toggle": "pill",
                                   role:             "tab",
                                   type:             "button",
                                   "aria-controls":  "imports-tab-content",
                                   "aria-selected":  "false"}
        = icon_for(Import)
        Imports
    - if policy(@institution).show_invitees?
      %button#invitees-tab.nav-link{"data-bs-target": "#invitees-tab-content",
                                    "data-bs-toggle": "pill",
                                    role:             "tab",
                                    type:             "button",
                                    "aria-controls":  "invitees-tab-content",
                                    "aria-selected":  "false"}
        = icon_for(Invitee)
        Invitees
    - if policy(@institution).show_users?
      %button#users-tab.nav-link{"data-bs-target": "#users-tab-content",
                                 "data-bs-toggle": "pill",
                                 role:             "tab",
                                 type:             "button",
                                 "aria-controls":  "users-tab-content",
                                 "aria-selected":  "false"}
        = icon_for(User)
        Users
    - if policy(@institution).show_user_groups?
      %button#user-groups-tab.nav-link{"data-bs-target": "#user-groups-tab-content",
                                       "data-bs-toggle": "pill",
                                       role:             "tab",
                                       type:             "button",
                                       "aria-controls":  "user-groups-tab-content",
                                       "aria-selected":  "false"}
        = icon_for(UserGroup)
        User Groups
    - if policy(@institution).show_statistics?
      %button#statistics-tab.nav-link{"data-bs-target":       "#statistics-tab-content",
                                      "data-bs-toggle":       "pill",
                                      role:                   "tab",
                                      type:                   "button",
                                      "aria-controls":        "statistics-tab-content",
                                      "aria-selected":        "false",
                                      "data-institution-key": @institution.key}
        %i.fa.fa-chart-bar
        Statistics
    - if policy(@institution).show_usage?
      %button#usage-tab.nav-link{"data-bs-target":       "#usage-tab-content",
                                 "data-bs-toggle":       "pill",
                                 role:                   "tab",
                                 type:                   "button",
                                 "aria-controls":        "usage-tab-content",
                                 "aria-selected":        "false",
                                 "data-institution-key": @institution.key}
        %i.fa.fa-chart-bar
        Usage
    - if policy(@institution).show_access?
      %button#access-tab.nav-link{"data-bs-target":       "#access-tab-content",
                                  "data-bs-toggle":       "pill",
                                  role:                   "tab",
                                  type:                   "button",
                                  "aria-controls":        "access-tab-content",
                                  "aria-selected":        "false",
                                  "data-institution-key": @institution.key}
        %i.fa.fa-users
        Access

  .tab-content.w-100
    - if policy(@institution).show_properties?
      #properties-tab-content.tab-pane.fade.show.active{role:              "tabpanel",
                                                        "aria-labelledby": "properties-tab"}
        = spinner

    - if policy(@institution).show_settings?
      #settings-tab-content.tab-pane.fade{role:              "tabpanel",
                                          "aria-labelledby": "settings-tab"}
        = spinner

    - if policy(@institution).show_authentication?
      #authentication-tab-content.tab-pane.fade{role:              "tabpanel",
                                                "aria-labelledby": "authentication-tab"}
        = spinner

    - if policy(@institution).show_element_mappings?
      #element-mappings-tab-content.tab-pane.fade{role:              "tabpanel",
                                                  "aria-labelledby": "element-mappings-tab"}
        = spinner

    - if policy(@institution).show_element_namespaces?
      #element-namespaces-tab-content.tab-pane.fade{role:              "tabpanel",
                                                    "aria-labelledby": "element-namespaces-tab"}
        = spinner

    - if policy(@institution).show_element_registry?
      #element-registry-tab-content.tab-pane.fade{role:              "tabpanel",
                                                  "aria-labelledby": "element-registry-tab"}
        = spinner

    - if policy(@institution).show_metadata_profiles?
      #metadata-profiles-tab-content.tab-pane.fade{role:              "tabpanel",
                                                   "aria-labelledby": "metadata-profiles-tab"}
        = spinner

    - if policy(@institution).show_submission_profiles?
      #submission-profiles-tab-content.tab-pane.fade{role:              "tabpanel",
                                                     "aria-labelledby": "submission-profiles-tab"}
        = spinner

    - if policy(@institution).show_vocabularies?
      #vocabularies-tab-content.tab-pane.fade{role:              "tabpanel",
                                              "aria-labelledby": "vocabularies-tab"}
        = spinner

    - if policy(@institution).show_prebuilt_searches?
      #prebuilt-searches-tab-content.tab-pane.fade{role:              "tabpanel",
                                                   "aria-labelledby": "prebuilt-searches-tab"}
        = spinner

    - if policy(@institution).show_index_pages?
      #index-pages-tab-content.tab-pane.fade{role:              "tabpanel",
                                             "aria-labelledby": "index-pages-tab"}
        = spinner

    - if policy(@institution).show_preservation?
      #preservation-tab-content.tab-pane.fade{role:              "tabpanel",
                                              "aria-labelledby": "preservation-tab"}
        = spinner

    - if policy(@institution).show_theme?
      #theme-tab-content.tab-pane.fade{role:              "tabpanel",
                                       "aria-labelledby": "theme-tab"}
        = spinner

    - if policy(@institution).show_depositing?
      #depositing-tab-content.tab-pane.fade{role:              "tabpanel",
                                            "aria-labelledby": "depositing-tab"}
        = spinner

    - if policy(@institution).show_units?
      #units-tab-content.tab-pane.fade{role:              "tabpanel",
                                       "aria-labelledby": "units-tab"}
        = spinner

    - if policy(@institution).show_review_submissions?
      #review-submissions-tab-content.tab-pane.fade{role:              "tabpanel",
                                                    "aria-labelledby": "review-submissions-tab"}
        = spinner

    - if policy(@institution).show_submissions_in_progress?
      #submissions-in-progress-tab-content.tab-pane.fade{role:              "tabpanel",
                                                         "aria-labelledby": "submissions-in-progress-tab"}
        = spinner

    - if policy(@institution).show_imports?
      #imports-tab-content.tab-pane.fade{role:              "tabpanel",
                                         "aria-labelledby": "imports-tab"}
        = spinner

    - if policy(@institution).show_invitees?
      #invitees-tab-content.tab-pane.fade{role:              "tabpanel",
                                          "aria-labelledby": "invitees-tab"}
        = spinner

    - if policy(@institution).show_users?
      #users-tab-content.tab-pane.fade{role:              "tabpanel",
                                       "aria-labelledby": "users-tab"}
        = spinner

    - if policy(@institution).show_user_groups?
      #user-groups-tab-content.tab-pane.fade{role:              "tabpanel",
                                             "aria-labelledby": "user-groups-tab"}
        = spinner

    - if policy(@institution).show_statistics?
      #statistics-tab-content.tab-pane.fade{role:              "tabpanel",
                                            "aria-labelledby": "statistics-tab"}
        = spinner

    - if policy(@institution).show_usage?
      #usage-tab-content.tab-pane.fade{role:              "tabpanel",
                                       "aria-labelledby": "usage-tab"}
        = spinner

    - if policy(@institution).show_access?
      #access-tab-content.tab-pane.fade{role:              "tabpanel",
                                        "aria-labelledby": "access-tab"}
        = spinner

= render partial: "shared/xhr_modal",
         locals: { id: "add-unit-modal", title: "Add Unit" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-element-mappings-modal", title: "Edit Element Mappings" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-preservation-modal", title: "Edit Preservation" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-properties-modal", title: "Edit Properties" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-settings-modal", title: "Edit Settings" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-theme-modal", title: "Edit Theme" }