- provide :body_id, "show_institution"
- provide :title, @institution.name

= hidden_field_tag :institution_key, @institution.key

.float-end
  - if @institution.units.count == 0 && policy(@institution).destroy?
    -# Delete button
    = link_to(institution_path(@institution), class: "btn btn-danger",
                                              role: "button",
                                              method: :delete,
                                              data: { confirm: "Are you sure you want to delete this institution?" }) do
      %i.fa.fa-trash
      Delete

%h1
  = icon_for(@institution)
  = @institution.name

.row
  .col-sm-5.col-md-4.col-lg-3
    .nav.flex-column.nav-pills{role:               "tablist",
                               "aria-orientation": "vertical"}
      - if policy(@institution).show_properties?
        %button#properties-tab.nav-link.active{"data-bs-target": "#properties-tab-content",
                                               "data-bs-toggle": "pill",
                                               role:             "tab",
                                               type:             "button",
                                               "aria-controls":  "properties-tab-content",
                                               "aria-selected":  "true"}
          = icon_for(:info)
          Properties
      - if policy(@institution).show_settings?
        %button#settings-tab.nav-link{"data-bs-target": "#settings-tab-content",
                                      "data-bs-toggle": "pill",
                                      role:             "tab",
                                      type:             "button",
                                      "aria-controls":  "settings-tab-content",
                                      "aria-selected":  "false"}
          %i.fa.fa-cog
          Settings
      - if policy(@institution).show_preservation?
        %button#preservation-tab.nav-link{"data-bs-target": "#preservation-tab-content",
                                          "data-bs-toggle": "pill",
                                          role:             "tab",
                                          type:             "button",
                                          "aria-controls":  "preservation-tab-content",
                                          "aria-selected":  "false"}
          %i.fa.fa-box-open
          Preservation
          - if @institution.outgoing_message_queue.blank?
            %i.fa.fa-exclamation-triangle.text-danger
      - if policy(@institution).show_theme?
        %button#theme-tab.nav-link{"data-bs-target":       "#theme-tab-content",
                                   "data-bs-toggle":       "pill",
                                   role:                   "tab",
                                   type:                   "button",
                                   "aria-controls":        "theme-tab-content",
                                   "aria-selected":        "false",
                                   "data-institution-key": @institution.key}
          %i.fa.fa-palette
          Theme
      - if policy(@institution).show_users?
        %button#users-tab.nav-link{"data-bs-target": "#users-tab-content",
                                   "data-bs-toggle": "pill",
                                   role:             "tab",
                                   type:             "button",
                                   "aria-controls":  "users-tab-content",
                                   "aria-selected":  "false"}
          = icon_for(User)
          Users
      - if policy(@institution).show_statistics?
        %button#statistics-tab.nav-link{"data-bs-target":       "#statistics-tab-content",
                                        "data-bs-toggle":       "pill",
                                        role:                   "tab",
                                        type:                   "button",
                                        "aria-controls":        "statistics-tab-content",
                                        "aria-selected":        "false",
                                        "data-institution-key": @institution.key}
          %i.fa.fa-chart-bar
          Statistics
      - if policy(@institution).show_access?
        %button#access-tab.nav-link{"data-bs-target":       "#access-tab-content",
                                    "data-bs-toggle":       "pill",
                                    role:                   "tab",
                                    type:                   "button",
                                    "aria-controls":        "access-tab-content",
                                    "aria-selected":        "false",
                                    "data-institution-key": @institution.key}
          %i.fa.fa-users
          Access

  .tab-content.col-sm-7.col-md-8.col-lg-9
    - if policy(@institution).show_properties?
      #properties-tab-content.tab-pane.fade.show.active{role:              "tabpanel",
                                                        "aria-labelledby": "properties-tab"}
        = spinner

    - if policy(@institution).show_settings?
      #settings-tab-content.tab-pane.fade{role:               "tabpanel",
                                          "aria-labelledby": "settings-tab"}
        = spinner

    - if policy(@institution).show_preservation?
      #preservation-tab-content.tab-pane.fade{role:              "tabpanel",
                                              "aria-labelledby": "preservation-tab"}
        = spinner

    - if policy(@institution).show_theme?
      #theme-tab-content.tab-pane.fade{role:              "tabpanel",
                                       "aria-labelledby": "theme-tab"}
        = spinner

    - if policy(@institution).show_users?
      #users-tab-content.tab-pane.fade{role:              "tabpanel",
                                       "aria-labelledby": "users-tab"}
        = spinner

    - if policy(@institution).show_statistics?
      #statistics-tab-content.tab-pane.fade{role:              "tabpanel",
                                            "aria-labelledby": "statistics-tab"}
        = spinner

    - if policy(@institution).show_access?
      #access-tab-content.tab-pane.fade{role:              "tabpanel",
                                        "aria-labelledby": "access-tab"}
        = spinner

= render partial: "shared/ajax_modal",
         locals: { id: "edit-preservation-modal", title: "Edit Preservation" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-properties-modal", title: "Edit Properties" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-settings-modal", title: "Edit Settings" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-theme-modal", title: "Edit Theme" }