-# Requires the following locals:
-#
-# message [Message]
-#

.row
  .col-sm-6
    %h4 Request
    %dl
      %dt Sent
      %dd= message.updated_at
      %dt Operation
      %dd= badge_for_message_operation(message.operation)
      - if message.staging_key.present?
        %dt Staging Key
        %dd
          %code= message.staging_key
      - if message.target_key.present?
        %dt Target Key
        %dd
          %code= message.target_key
      - if message.bitstream_id
        %dt Item
        %dd= link_to(message.bitstream.item.title, message.bitstream.item)
        %dt Bitstream ID
        %dd= message.bitstream_id
      - if message.medusa_uuid.present?
        %dt Medusa UUID
        %dd= link_to(message.medusa_uuid,  message.medusa_url)
  .col-sm-6
    %h4 Response
    - if message.response_time
      %dl
        %dt Received
        %dd= message.response_time
        %dt Status
        %dd= badge_for_message_status(message.status)
        %dt Medusa UUID
        %dd= link_to(message.medusa_uuid,  message.medusa_url)
        - if message.error_text.present?
          %dt Error Text
          %dd= message.error_text
    - else
      %p No response received.