- provide(:body_id, "messages")
- provide(:title, "Messages")

- pagination = paginate(count:            @count,
                        page:             @current_page,
                        per_page:         @window,
                        permitted_params: @permitted_params)

%h1 Medusa Messages

.card.mb-3
  .card-body
    = form_tag messages_path, method: :get, class: "form-inline" do
      .form-group
        = label_tag nil, "Key:", class: "mr-1"
        = filter_field(name: "key")

      .form-group
        = label_tag nil, "Status:", class: "ml-3 mr-1"
        = select_tag "status", options_for_select([["Any", ""],
                                                  ["No Response", "no_response"],
                                                  ["OK", Message::Status::OK],
                                                  ["Error", Message::Status::ERROR]], params[:status]),
                     class: "custom-select"

      .btn-group
        = submit_tag "Filter", name: "", class: "btn btn-primary ml-3"

.card.mb-3
  .card-body
    Showing
    = "#{@start + 1}-#{([@start + @window, @count].min)}"
    of
    = number_with_delimiter(@count)
    messages

.row.justify-content-md-center
  .col-md-auto
    = pagination

- @messages.each do |message|
  .card.mb-3
    %h5.card-header
      = message.id
    .card-body
      = render partial: "show", locals: { message: message }

.row.justify-content-md-center
  .col-md-auto
    = pagination
