- provide(:body_id, "messages")
- provide(:title, "Messages")

- pagination = paginate(count:            @count,
                        page:             @current_page,
                        per_page:         @window,
                        permitted_params: @permitted_params)

%h1 Medusa Messages

.card.mb-3
  .card-body
    = form_tag messages_path, method: :get, class: "form-inline" do
      .row.mb-3
        .col
          = label_tag nil, "Key:", class: "form-label"
          = filter_field(name: "key")

        .col
          = label_tag nil, "Status:", class: "form-label"
          = select_tag "status", options_for_select([["Any", ""],
                                                    ["No Response", "no_response"],
                                                    ["OK", Message::Status::OK],
                                                    ["Error", Message::Status::ERROR]], params[:status]),
                       class: "form-select"

      = submit_tag "Filter", name: "", class: "btn btn-primary"

.card.mb-3
  .card-body
    Showing
    = "#{@start + 1}-#{([@start + @window, @count].min)}"
    of
    = number_with_delimiter(@count)
    messages

.row.justify-content-md-center
  .col-md-auto
    = pagination

- @messages.each do |message|
  .card.mb-3
    %h5.card-header
      = message.id
      - if message.response_time.blank?
        = link_to("Resend", message_resend_path(message),
                  role:   "button",
                  method: :post,
                  class:  "btn btn-sm btn-primary")
    .card-body
      = render partial: "show", locals: { message: message }

.row.justify-content-md-center
  .col-md-auto
    = pagination
