- if current_institution&.key == "uiuc"
  .alert.alert-light
    = icon_for(:info)
    Use this login method if you
    %strong don't
    have an
    %code @illinois.edu
    email address.

    %a{href:             "#",
       "data-bs-target": "#login-carousel",
       "data-bs-slide":  "prev"}
      (Oops, I do have one)
  .alert.alert-light
    = icon_for(:info)
    IDEALS migrated to a new platform on June 23, 2022. If you created
    your account prior to this date, you will have to reset your password
    using the forgot-password link below.
- elsif current_institution&.saml_auth_enabled || current_institution&.shibboleth_auth_enabled
  .mb-3
    %a.btn.btn-light{href:             "#",
                     "data-bs-target": "#login-carousel",
                     "data-bs-slide":  "prev"}
      %i.fa.fa-arrow-left
      Go Back

.alert.alert-danger.login-status

= form_tag "/auth/identity/callback" do
  .mb-3.row
    %label.col-sm-4.col-form-label{for: :auth_key} Email
    .col-sm-8
      = email_field_tag :auth_key, nil, class: 'form-control'
  .mb-3.row
    %label.col-sm-4.col-form-label{for: :password} Password
    .col-sm-8
      = password_field_tag :password, nil, class: 'form-control'
      = link_to "(I forgot my password)", reset_password_path
  %button.btn.btn-primary.me-3{type: "submit"}
    %i.fa.fa-sign-in-alt
    &nbsp;Log In

  - if current_institution&.allow_user_registration
    New user?
    = link_to("Sign up now.", register_path)
