#login-carousel.carousel.slide{"data-bs-ride":     "carousel",
                               "data-bs-touch":    "false",
                               "data-bs-interval": "9999999999"}
  .carousel-inner
    -# OmniAuth Developer
    - if Rails.env.development?
      .text-center
        = form_tag("/auth/developer", method: :post) do
          = submit_tag("Log in as OmniAuth Developer (DEVELOPMENT)",
                       class: "btn btn-secondary p-4 mb-3")

    -# SAML
    - if current_institution&.key == "uiuc"
      .carousel-item.uiuc.active
        = render partial: "sessions/uiuc_login_form"
    - elsif current_institution&.saml_auth_enabled
      .carousel-item.openathens.active
        = render partial: "sessions/openathens_login_form"

    -# Local Credentials
    - if current_institution&.local_auth_enabled
      .carousel-item.local-credential.p-1{class: (current_institution&.key == "uiuc" || current_institution&.saml_auth_enabled?) ? "" : "active"}
        = render partial: "sessions/local_login_form"
