-# frozen_string_literal: true
= simple_form_for(@identity) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :password_digest
    = f.input :activation_digest
    = f.input :activated
    = f.input :activated_at
    = f.input :reset_digest
    = f.input :invitee_id
    = f.input :reset_sent_at

  .form-actions
    = f.button :submit
