-# frozen_string_literal: true
-#
-# Required locals:
-#
-# identity [LocalIdentity]
-#
= form_for(identity, url: local_identity_update_password_path(identity), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = render partial: "password_requirements"

  .mb-3
    = label_tag :current_password
    = password_field_tag :current_password, nil, class: "form-control", required: true
  .mb-3
    = f.label :password
    = f.password_field :password, class: "form-control", required: true
  .mb-3
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: "form-control", required: true

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Change Password", class: "btn btn-primary")
