.alert.alert-light
  = icon_for(:info)
  Passwords must meet the following criteria:
  %ul
    %li
      At least
      = LocalIdentity::PASSWORD_MIN_LENGTH
      characters
    %li
      At least
      = pluralize(LocalIdentity::PASSWORD_MIN_LOWERCASE_LETTERS, "lowercase letter")
    %li
      At least
      = pluralize(LocalIdentity::PASSWORD_MIN_UPPERCASE_LETTERS, "uppercase letter")
    %li
      At least
      = pluralize(LocalIdentity::PASSWORD_MIN_NUMBERS, "number")
    %li
      At least
      = pluralize(LocalIdentity::PASSWORD_MIN_SPECIAL_CHARACTERS, "special character")
