- provide :title, "Register"

%h1 Register your non-NetID IDEALS account

= form_for(@identity, url: local_identity_path(@identity, token: params[:token])) do |f|

  -# TODO: why does form_for's default _method input have a garbage value? is this a rails bug?
  = hidden_field_tag "_method", "patch"
  = hidden_field_tag "_method", "patch"

  = f.fields_for(:user, @user.becomes(User)) do |u|
    .form-group
      = u.label :name
      = u.text_field :name, class: "form-control", required: true
    .form-group
      = u.label :username
      = u.text_field :username, class: "form-control", required: true
    .form-group
      = u.label :phone
      = u.phone_field :phone, class: "form-control"

  .form-group
    = f.label :email
    = f.text_field :email, class: "form-control", disabled: true
  .form-group
    = f.label :password
    = f.password_field :password, class: "form-control", required: true
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, class: "form-control", required: true

  .form-group
    = recaptcha_tags

  %button.btn.btn-primary{type: "submit"} Register
