- provide :title, "Register"

%h1 Register your non-NetID account

= form_for(@identity, url: local_identity_path(@identity, token: params[:token])) do |f|

  -# TODO: why does form_for's default _method input have a garbage value? is this a rails bug?
  = hidden_field_tag "_method", "patch"
  = hidden_field_tag "_method", "patch"

  = f.fields_for(:user, @user.becomes(User)) do |u|
    .row.form-group
      = u.label :name, class: "col-sm-3 col-form-label"
      .col-sm-9
        = u.text_field :name, class: "form-control", required: true
    .row.form-group
      = u.label :phone, class: "col-sm-3 col-form-label"
      .col-sm-9
        = u.phone_field :phone, class: "form-control"

  .row.form-group
    = f.label :email, class: "col-sm-3 col-form-label"
    .col-sm-9.col-form-label
      = f.object.email
  .row.form-group
    = f.label :institution_id, "Institution", class: "col-sm-3 col-form-label"
    .col-sm-9.col-form-label
      = f.object.invitee.institution ? f.object.invitee.institution.name : "None"
  .row.form-group
    = f.label :password, class: "col-sm-3 col-form-label"
    .col-sm-9
      = f.password_field :password, class: "form-control", required: true
  .row.form-group
    = f.label :password_confirmation, class: "col-sm-3 col-form-label"
    .col-sm-9
      = f.password_field :password_confirmation, class: "form-control", required: true

  .row.form-group
    .col-sm-3
    .col-sm-9
      = recaptcha_tags

  .row
    .col-sm-3
    .col-sm-9
      %button.btn.btn-primary{type: "submit"} Register
