%table.table
  %thead
    %th Institution
    %th Count
    %th Median File Size
    %th Max File Size
    %th Total File Size
    %th % of Total
  %tbody
    - @file_sizes.each do |row|
      %tr
        %td= link_to(row['name'], institution_path(row['id']))
        %td= number_with_delimiter(row['count'].to_i)
        %td= number_to_human_size(row['median'].to_i)
        %td= number_to_human_size(row['max'].to_i)
        %td= number_to_human_size(row['sum'].to_i)
        %td= ((row['sum'].to_i / @total_file_size.to_f) * 100).round(1)
    %tr
      %td
      %td
      %td
      %td= number_to_human_size(@total_file_size)
      %td