-# @param term [VocabularyTerm]
-# @param vocabulary [Vocabulary]

= form_for([vocabulary, term], remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb
  .form-group
    = f.label :stored_value
    = f.text_field :stored_value, class: 'form-control'
  .form-group
    = f.label :displayed_value
    = f.text_field :displayed_value, class: 'form-control'

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Term" : "Save Changes",
                 class: 'btn btn-primary')
