-#
-# Accepts the following locals:
-#
-# show_institution [Boolean]
-#

.card.mb-3
  #task-filter.card-body
    = form_tag(request.path, method: :get, class: "form-inline") do
      .row
        - if show_institution
          .col
            = label_tag("institution_id", "Institution", class: "form-label")
            = select_tag("institution_id",
                         options_for_select(Institution.order(:name).pluck(:name, :id)),
                         include_blank: true,
                         class: "form-select")

        .col
          = label_tag("queue", "Queue", class: "form-label")
          = select_tag("queue",
                       options_for_select(ApplicationJob::Queue.all.map{ |t| [ApplicationJob::Queue::to_s(t), t] }),
                       include_blank: true,
                       class: "form-select")

        .col
          = label_tag("q", "Status Text", class: "form-label")
          = filter_field

        .col
          = label_tag("status", "Status", class: "form-label")
          = select_tag("status",
                       options_for_select(Task::Status.all.map{ |t| [Task::Status::to_s(t), t] }),
                       include_blank: true,
                       class: "form-select")
