- pagination = paginate(count: @count, page: @current_page, per_page: @window,
                        permitted_params: @permitted_params)

.row.justify-content-md-center
  .col-md-auto
    = pagination

- if @tasks.any?
  %table.table
    %thead
      %tr
        %th
        %th Status
        %th Progress
        %th Started
        %th ETA
    %tbody
      - @tasks.each do |task|
        %tr{"data-id": task.id}
          %td
            = link_to(task.status_text, '#', data: { 'bs-toggle': 'modal',
                                                     'bs-target': '#show-task-modal',
                                                     'task-id':   task.id })
          %td
            = task_status_badge(task)
          %td
            = (task.indeterminate && task.percent_complete < 1) ? |
              'Indeterminate' :                                    |
              (task.percent_complete * 100).round(1).to_s + '%'    |
          %td
            = task.started_at ? local_time_ago(task.started_at) : ''
          %td
            = task.estimated_completion ? time_ago_in_words(task.estimated_completion) : nil

- else
  %p No tasks to show.

.row.justify-content-md-center
  .col-md-auto
    = pagination