- provide :title, 'Tasks'
- provide :body_id, 'tasks'

%h1
  Tasks
  %small
    in
    = current_institution.name

= hidden_field_tag(:limit, @limit)

= render partial: "filter_form"

#tasks-list
  = render partial: "tasks"

= render partial: "shared/ajax_modal",
         locals: { id: "show-task-modal",
                   title: "Task" }
