-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# bitstream [Bitstream]
-#

- bundle_options = Bitstream::Bundle.constants.map{ |r| [Bitstream::Bundle.label(Bitstream::Bundle.const_get(r)), Bitstream::Bundle.const_get(r)]}
- role_options   = Role.constants.map{ |r| [Role.label(Role.const_get(r)), Role.const_get(r)]}.sort_by{ |r| r[1] }.reverse

= form_for([bitstream.item, bitstream], remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :bundle, "Bundle"
    = f.select(:bundle,
               options_for_select(bundle_options, f.object.bundle),
               {},
               class: "custom-select")

  .form-group
    = f.label :role, "Minimum Access Role"
    = f.select(:role,
               options_for_select(role_options, f.object.role),
               {},
               class: "custom-select")

  .form-group
    = f.label :description
    = f.text_area(:description, class: "form-control")

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Edit", class: 'btn btn-primary')

.mb-3