-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# bitstream [Bitstream]
-#

- bundle_options = Bitstream::Bundle.constants.map{ |r| [Bitstream::Bundle.label(Bitstream::Bundle.const_get(r)), Bitstream::Bundle.const_get(r)]}
- role_options   = Role.constants.map{ |r| [Role.label(Role.const_get(r)), Role.const_get(r)]}.sort_by{ |r| r[1] }.reverse

= form_for([bitstream.item, bitstream], remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .mb-3
    = f.label :filename
    = f.text_field :filename, class: "form-control"

  .mb-3
    = f.label :bundle, "Bundle"
    = f.select(:bundle,
               options_for_select(bundle_options, f.object.bundle),
               {},
               class: "form-select")

  .mb-3
    = f.label :role, "Minimum Access Role"
    = f.select(:role,
               options_for_select(role_options, f.object.role),
               {},
               class: "form-select")
    %p.form-text
      = icon_for(:warning)
      If this is set to a more privileged role than your role, you will lose
      the ability to see or edit the file.

  .mb-3
    .form-check
      = f.check_box :primary, class: "form-check-input"
      = f.label :primary, class: "form-check-label"
    %p.form-text
      = icon_for(:info)
      If checked, all other files attached to the same item
      will be made non-primary.

  - if f.object.item.bitstreams.select{ |b| b.bundle == f.object.bundle }.length > 1
    .mb-3
      = f.label :bundle_position, "Position After (Within Bundle)"
      = f.select(:bundle_position,
        [["Nothing (First)", 0]] + f.object.item.bitstreams.reject{ |b| b.id == f.object.id }.sort_by{ |a| [a.bundle_position ? 0 : 1, a.bundle_position] }.map.with_index { |b, i| [b.filename, i + 1] },
        { selected: f.object.bundle_position },
        class: "form-select")

  .mb-3
    = f.label :description
    = f.text_area :description, class: "form-control"

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: 'btn btn-primary')

.mb-3