-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# bitstream [Bitstream]
-#

- bundle_options = Bitstream::Bundle.constants.map{ |r| [Bitstream::Bundle.label(Bitstream::Bundle.const_get(r)), Bitstream::Bundle.const_get(r)]}
- role_options   = Role.constants.map{ |r| [Role.label(Role.const_get(r)), Role.const_get(r)]}.sort_by{ |r| r[1] }.reverse

= form_for([bitstream.item, bitstream], remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :bundle, "Bundle"
    = f.select(:bundle,
               options_for_select(bundle_options, f.object.bundle),
               {},
               class: "custom-select")

  .form-group
    = f.label :role, "Minimum Access Role"
    = f.select(:role,
               options_for_select(role_options, f.object.role),
               {},
               class: "custom-select")

  .form-group
    .form-check
      = f.check_box :primary, class: "form-check-input"
      = f.label :primary, class: "form-check-label"
    %p.text-secondary
      If checked, all other files attached to the same item
      will automatically be made non-primary.

  - if f.object.item.bitstreams.select{ |b| b.bundle == f.object.bundle }.length > 1
    .form-group
      = f.label :bundle_position, "Position After (Within Bundle)"
      = f.select(:bundle_position,
        [["Nothing (First)", 0]] + f.object.item.bitstreams.reject{ |b| b.id == f.object.id }.sort_by(:bundle_position).map.with_index { |b, i| [b.original_filename, i + 1] },
        { selected: f.object.bundle_position },
        class: "custom-select")

  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: 'btn btn-primary')

.mb-3