- show_sysadmin_content = policy(@bitstream.item).show_sysadmin_content?

#file-navigator-viewer-header
  %h4= @bitstream.description.present? ? @bitstream.description : @bitstream.original_filename
  .btn-group{role: "group"}
    - if policy(@bitstream).download?
      -# Download button
      = link_to(item_bitstream_object_path(@bitstream.item, @bitstream, dl: 1),
                class: "btn btn-sm btn-success") do
        %i.fa.fa-download
        Download
    - if policy(@bitstream).edit?
      -# Edit button
      %button.btn.btn-sm.btn-dark.edit-bitstream{"data-item-id":      @bitstream.item_id,
                                                 "data-bitstream-id": @bitstream.id,
                                                 "data-target":       "#edit-bitstream-modal",
                                                 "data-toggle":       "modal",
                                                 type:                "button"}
        %i.fas.fa-pencil-alt
        Edit
    -# More Info button
    %button#more-info.btn.btn-sm.btn-dark{type: "button"}
      %i.fa.fa-info-circle
      More Info

#file-navigator-viewer-content
  = viewer_for(@bitstream)

  #file-navigator-viewer-info
    %dl
      - if @bitstream.description.present?
        %dt Description
        %dd= @bitstream.description
      - if @bitstream.format
        %dt Format
        %dd= @bitstream.format.long_name
      %dt Media Type
      %dd
        %code= @bitstream.media_type || "Unknown"
      %dt Size
      %dd= number_to_human_size(@bitstream.length)
      - if show_sysadmin_content
        %dt Database ID
        %dd= @bitstream.id
      %dt API Resource
      %dd= link_to(item_bitstream_path(@bitstream.item, @bitstream), |
                   item_bitstream_path(@bitstream.item, @bitstream)) |
      %dt Bundle
      %dd= Bitstream::Bundle.label(@bitstream.bundle)
      - if show_sysadmin_content
        - if @bitstream.staging_key.present?
          %dt Staging Key
          %dd
            %code= @bitstream.staging_key
        - elsif @bitstream.permanent_key.present?
          %dt Permanent Key
          %dd
            %code= @bitstream.permanent_key
      %dt Primary
      %dd= boolean(@bitstream.primary, style: :word)
      - if show_sysadmin_content
        %dt Minimum Access Role
        %dd= Role.label(@bitstream.role)
        %dt Submitted For Ingest
        %dd= boolean(@bitstream.submitted_for_ingest, style: :word)
        - if @bitstream.medusa_uuid.present?
          %dt Medusa UUID
          %dd= link_to(@bitstream.medusa_uuid, @bitstream.medusa_url)
          %dt Medusa Key
          %dd= @bitstream.medusa_key
        - else
          %dt Exists in Medusa
          %dd= boolean(false, style: :word)
        - if @bitstream.messages.any?
          %dt Medusa Messages
          %dd
            %ul
              - @bitstream.messages.each do |message|
                %li
                  = link_to(badge_for_message_operation(message.operation), message, target: "_blank")
                  &nbsp;
                  = link_to(local_time(message.created_at), message, target: "_blank")
                  = link_to(badge_for_message_status(message.status), message, target: "_blank")
        %dt Checked For Full Text
        %dd
          - if @bitstream.full_text_checked_at
            = local_time(@bitstream.full_text_checked_at)
          - else
            = boolean(false, style: :word)
      %dt Downloads
      %dd= number_with_delimiter(@bitstream.download_count)
