-# frozen_string_literal: true
= simple_form_for(@resource) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :group_id
    = f.input :parent_group_id
    = f.input :group_type

  .form-actions
    = f.button :submit
