-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = hidden_field_tag "user_group[ad_group_ids][]"
  - AdGroup.all.sort_by(&:short_name).each do |group|
    .form-check
      %strong
        = check_box_tag "user_group[ad_group_ids][]", group.id,
                        f.object.ad_groups.include?(group),
                        { id: "user_group_ad_group_ids_#{group.id}", class: "form-check-input" }
        = label_tag "user_group_ad_group_ids_#{group.id}",
        group.short_name, class: "form-check-label"
      %br
      %code.text-secondary= group.urn

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Edit", class: "btn btn-primary")
