-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :key
    = f.text_field :key, class: 'form-control', disabled: !f.object.new_record?

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  %hr

  %h5 Local Users
  = hidden_field_tag "user_group[user_ids][]"
  - LocalUser.all.order(:name).each do |user|
    .form-check
      = check_box_tag "user_group[user_ids][]", user.id,
                        f.object.users.include?(user),
                        { id: "user_group_user_ids_#{user.id}", class: "form-check-input" }
      = label_tag "user_group_user_ids_#{user.id}",
        user.name, class: "form-check-label"

  %hr

  %h5 LDAP Groups
  = hidden_field_tag "user_group[ldap_group_ids][]"
  - LdapGroup.all.order(:urn).each do |group|
    .form-check
      %strong
        = check_box_tag "user_group[ldap_group_ids][]", group.id,
                        f.object.ldap_groups.include?(group),
                        { id: "user_group_ldap_group_ids_#{group.id}", class: "form-check-input" }
        = label_tag "user_group_ldap_group_ids_#{group.id}",
        group.short_name, class: "form-check-label"
      %br
      %code= group.urn

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create User Group" : "Edit User Group",
                 class: "btn btn-primary")
