-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# This value will be cleared via JS if we are on /global-user-groups.
  = f.hidden_field(:institution_id, value: current_institution.id)

  .form-group
    = f.label :key
    = f.text_field :key, class: 'form-control', disabled: !f.object.new_record?

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create" : "Save Changes",
                 class: "btn btn-primary")
