-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# This value will be cleared via JS if we are on /global-user-groups.
  = f.hidden_field(:institution_id, value: current_institution.id)

  .mb-3
    = f.label :name, class: "required"
    = f.text_field :name, class: 'form-control'
    %p.form-text
      = icon_for(:info)
      May describe what the user group is for or who belongs to it.
      Must be unique among the user groups in your institution.

  - if f.object.new_record?
    .mb-3
      = f.label :key, class: "required"
      = f.text_field :key, class: 'form-control'
      %p.form-text
        = icon_for(:info)
        A short, unique alphanumeric string to identify the group. Cannot be
        changed later.

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create" : "Save Changes",
                 class: "btn btn-primary")
