-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = hidden_field_tag "user_group[user_ids][]"
  - LocalUser.where(institution: current_institution).order(:name).each do |user|
    .form-check
      = check_box_tag "user_group[user_ids][]", user.id,
                        f.object.users.include?(user),
                        { id: "user_group_user_ids_#{user.id}", class: "form-check-input" }
      = label_tag "user_group_user_ids_#{user.id}",
        user.name, class: "form-check-label"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
