-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .alert.alert-light
    = icon_for(:info)
    Only email addresses of existing users are accepted.

  = hidden_field_tag "user_group[users][]"
  - users = f.object.users
  - users = [User.new] if users.empty?
  - users.each do |user|
    .input-group.mb-3
      = text_field_tag "user_group[users][]", user.email,
                       placeholder: "Email",
                       class: "form-control"
      %button.btn.btn-outline-danger.remove{type: "button"}
        %i.fa.fa-minus
      .dropdown-menu
        - # populated by javascript
  %button.btn.btn-outline-success.add{type: "button"}
    %i.fa.fa-plus

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
