- provide :body_id, "user_groups"
- provide :title, "User Groups"

= hidden_field_tag :institution_id, current_institution.id

.btn-group.float-end{role: "group"}
  -# Add User Group button
  %button.btn.btn-light.add-user-group{"data-bs-target": "#add-user-group-modal",
                                       "data-bs-toggle": "modal",
                                       type:             "button"}
    %i.fa.fa-plus
    Add User Group

%h1
  User Groups
  %small
    in
    = current_institution.name

- if @user_groups.any?
  %table.table
    - @user_groups.each do |group|
      %tr
        %td= link_to(group.name, group)
        %td
          - if group.defines_institution
            %span.badge.text-bg-primary DEFINES ALL INSTITUTIONAL MEMBERS
- else
  %p This institution has no user groups.

= render partial: "shared/xhr_modal",
         locals: { id: "add-user-group-modal", title: "Add User Group" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-user-group-modal", title: "Edit User Group" }

