- provide :body_id, "show_user_group"
- provide :title, @user_group.name

- can_edit                   = policy(@user_group).edit?
- show_shibboleth_dimensions = @user_group.institution&.shibboleth_auth_enabled || !@user_group.institution

.btn-group.float-end{role: "group"}
  - if can_edit
    -# Edit button
    %button.btn.btn-light.edit-user-group{"data-bs-target":     "#edit-user-group-modal",
                                          "data-bs-toggle":     "modal",
                                          "data-user-group-id": @user_group.id,
                                          type:                 "button"}
      %i.fa.fa-pencil-alt
      Edit
  - if policy(@user_group).destroy?
    -# Delete button
    = link_to(user_group_path(@user_group), class: "btn btn-danger",
                                            role: "button",
                                            method: :delete,
                                            data: { confirm: "Are you sure you want to delete this user group?" }) do
      = icon_for(:delete)
      Delete

%h1
  = @user_group.name
  - unless @user_group.institution
    %small
      %span.badge.bg-primary GLOBAL

- if @user_group.defines_institution
  .alert.alert-light
    = icon_for(:info)
    This group defines all of the members of
    = "#{current_institution.name},"
    including faculty, staff, and students. When an item is submitted with the
    option for institution-only access privileges, an embargo is attached to it
    allowing access only to members of this group.

%dl
  %dt Key
  %dd
    %code= @user_group.key

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#membership-tab.nav-link.active{"data-bs-toggle": "tab",
                                           "data-bs-target": "#membership",
                                           role:             "tab",
                                           type:             "button",
                                           "aria-controls":  "membership",
                                           "aria-selected":  "true"} Membership
  %li.nav-item{role: "presentation"}
    %button#usage-tab.nav-link{"data-bs-toggle": "tab",
                               "data-bs-target": "#usage",
                               role:             "tab",
                               type:             "button",
                               "aria-controls":  "usage",
                               "aria-selected":  "true"} Usage

.tab-content
  #membership.tab-pane.fade.show.active{role:              "tabpanel",
                                        "aria-labelledby": "membership-tab"}
    .row.mb-3
      .col-sm-12
        .card
          .card-body
            - if can_edit
              .float-end
                %button.btn.btn-light.btn-sm.edit-users{"data-bs-target":         "#edit-users-modal",
                                                        "data-bs-toggle":         "modal",
                                                        "data-user-group-id":     @user_group.id,
                                                        "data-user-group-global": @user_group.institution_id.blank? ? "true" : "false",
                                                        type:                     "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Direct User Assignments
            - if @users.any?
              - if @user_group.institution_id
                %ul
                  - @users.each do |user|
                    %li= link_to("#{user.name} (#{user.email})", user)
              - else
                %table.table
                  - @users.each do |user|
                    %tr
                      %td
                        = link_to(user) do
                          = icon_for(user)
                          = user.name
                        = " (#{user.email})"
                      %td
                        = link_to(user.institution) do
                          = icon_for(user.institution)
                          = user.institution.name
            - else
              %p None

    .row.mb-3
      .col-sm-4
        - if show_shibboleth_dimensions
          .card
            .card-body
              - if can_edit
                .float-end
                  %button.btn.btn-light.btn-sm.edit-departments{"data-bs-target":     "#edit-departments-modal",
                                                                "data-bs-toggle":     "modal",
                                                                "data-user-group-id": @user_group.id,
                                                                type:                 "button"}
                    %i.fa.fa-pencil-alt
                    Edit
              %h4.card-title
                Departments
                %small
                  %span.badge.bg-primary SHIBBOLETH ONLY
              - if @departments.any?
                %ul
                  - @departments.each do |department|
                    %li= department.name
              - else
                %p None
      .col-sm-4
        - if show_shibboleth_dimensions
          .card
            .card-body
              - if can_edit
                .float-end
                  %button.btn.btn-light.btn-sm.edit-affiliations{"data-bs-target":     "#edit-affiliations-modal",
                                                                 "data-bs-toggle":     "modal",
                                                                 "data-user-group-id": @user_group.id,
                                                                 type:                 "button"}
                    %i.fa.fa-pencil-alt
                    Edit
              %h4.card-title
                Affiliations
                %small
                  %span.badge.bg-primary SHIBBOLETH ONLY
              - if @affiliations.any?
                %ul
                  - @affiliations.each do |affiliation|
                    %li= affiliation.name
              - else
                %p None

      .col-sm-4
        - if show_shibboleth_dimensions
          .card
            .card-body
              - if can_edit
                .float-end
                  %button.btn.btn-light.btn-sm.edit-ad-groups{"data-bs-target":     "#edit-ad-groups-modal",
                                                              "data-bs-toggle":     "modal",
                                                              "data-user-group-id": @user_group.id,
                                                              type:                 "button"}
                    %i.fa.fa-pencil-alt
                    Edit
              %h4.card-title
                AD Groups
                %small
                  %span.badge.bg-primary SHIBBOLETH ONLY
              - if @ad_groups.any?
                %ul
                  - @ad_groups.each do |group|
                    %li= group.name
              - else
                %p None

    .alert.alert-light
      = icon_for(:info)
      The aspects below are not stored in the system.
      The system can check a whether a particular logged-in user belongs to the
      group based on these aspects, but it cannot generate a definitive list of
      users who belong to it.

    .row.mb-3
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-end
                %button.btn.btn-light.btn-sm.edit-hosts{"data-bs-target":     "#edit-hosts-modal",
                                                        "data-bs-toggle":     "modal",
                                                        "data-user-group-id": @user_group.id,
                                                        type:                 "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Hosts
            - if @hosts.any?
              %ul
                - @hosts.each do |group|
                  %li
                    %code= group.pattern
            - else
              %p None
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-end
                %button.btn.btn-light.btn-sm.edit-email-patterns{"data-bs-target":     "#edit-email-patterns-modal",
                                                                 "data-bs-toggle":     "modal",
                                                                 "data-user-group-id": @user_group.id,
                                                                 type:                 "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Email Address Patterns
            - if @email_patterns.any?
              %ul
                - @email_patterns.each do |pattern|
                  %li
                    %code= pattern.pattern
            - else
              %p None

  #usage.tab-pane.fade{role: "tabpanel",
                       "aria-labelledby": "usage-tab"}
    .row
      .col-md-6
        .card
          .card-body
            %h4.card-title Units
            %h5 Allowed to administer
            - if @user_group.unit_administrator_groups.any?
              %ul
                - @user_group.unit_administrator_groups.each do |group|
                  %li= link_to(group.unit.title, group.unit)
            - else
              None
      .col-md-6
        .card
          .card-body
            %h4.card-title Collections
            %h5 Allowed to administer
            - if @user_group.collection_administrator_groups.any?
              %ul
                - @user_group.collection_administrator_groups.each do |group|
                  %li= link_to(group.collection.title, group.collection)
            - else
              None

            %h5 Allowed to submit
            - if @user_group.submitter_groups.any?
              %ul
                - @user_group.submitter_groups.each do |group|
                  %li= link_to(group.collection.title, group.collection)
            - else
              None
    .row
      .col-md-6
        .card
          .card-body
            %h4.card-title Items
            %h5 Allowed to download files
            - if @user_group.bitstream_authorizations.any?
              %ul
                - @user_group.bitstream_authorizations.each do |auth|
                  %li= link_to(auth.item.title, auth.item)
            - else
              None

= render partial: "shared/xhr_modal",
         locals: { id: "edit-user-group-modal", title: "Edit User Group" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-ad-groups-modal", title: "Edit AD Groups" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-affiliations-modal", title: "Edit Affiliations" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-departments-modal", title: "Edit Departments" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-hosts-modal", title: "Edit Hosts" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-users-modal", title: "Edit Users" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-email-patterns-modal", title: "Edit Email Address Patterns" }
