- provide :body_id, "show_user_group"
- provide :title, @user_group.name

- can_edit = policy(@user_group).edit?

.btn-group.float-right{role: "group"}
  - if can_edit
    -# Edit button
    %button.btn.btn-light.edit-user-group{"data-target": "#edit-user-group-modal",
                                          "data-toggle": "modal",
                                          "data-user-group-id": @user_group.id,
                                          type: "button"}
      %i.fa.fa-pencil-alt
      Edit
  - if policy(@user_group).destroy?
    -# Delete button
    = link_to(user_group_path(@user_group), class: "btn btn-danger",
                                            role: "button",
                                            method: :delete,
                                            data: { confirm: "Are you sure you want to delete this user group?" }) do
      %i.fa.fa-trash
      Delete

%h1= @user_group.name

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %a#membership-tab.nav-link.active{"data-toggle":   "tab",
                                      href:            "#membership",
                                      role:            "tab",
                                      "aria-controls": "membership",
                                      "aria-selected": true} Membership
  %li.nav-item{role: "presentation"}
    %a#usage-tab.nav-link{"data-toggle":   "tab",
                          href:            "#usage",
                          role:            "tab",
                          "aria-controls": "usage",
                          "aria-selected": true} Usage

.tab-content
  #membership.tab-pane.fade.show.active{role: "tabpanel",
                                        "aria-labelledby": "membership-tab"}
    .row.mb-3
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-right
                %button.btn.btn-light.btn-sm.edit-ad-groups{"data-target": "#edit-ad-groups-modal",
                                                            "data-toggle": "modal",
                                                            "data-user-group-id": @user_group.id,
                                                            type: "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title AD Groups
            - if @ad_groups.any?
              %ul
                - @ad_groups.each do |group|
                  %li= group.name
            - else
              %p None
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-right
                %button.btn.btn-light.btn-sm.edit-hosts{"data-target": "#edit-hosts-modal",
                                                        "data-toggle": "modal",
                                                        "data-user-group-id": @user_group.id,
                                                        type: "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Hosts
            - if @hosts.any?
              %ul
                - @hosts.each do |group|
                  %li
                    %code= group.pattern
            - else
              %p None

    .row.mb-3
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-right
                %button.btn.btn-light.btn-sm.edit-local-users{"data-target": "#edit-local-users-modal",
                                                              "data-toggle": "modal",
                                                              "data-user-group-id": @user_group.id,
                                                              type: "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Local Users
            - if @local_users.any?
              %ul
                - @local_users.each do |user|
                  %li= link_to(user.name, user.becomes(User))
            - else
              %p None
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-right
                %button.btn.btn-light.btn-sm.edit-netid-users{"data-target": "#edit-netid-users-modal",
                                                              "data-toggle": "modal",
                                                              "data-user-group-id": @user_group.id,
                                                              type: "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title NetID Users
            - if @netid_users.any?
              %ul
                - @netid_users.each do |user|
                  %li
                    - if user.name != user.netid
                      = link_to("#{user.name} (#{user.netid})", user.becomes(User))
                    - else
                      = link_to(user.netid, user.becomes(User))
            - else
              %p None

    .row.mb-3
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-right
                %button.btn.btn-light.btn-sm.edit-departments{"data-target": "#edit-departments-modal",
                                                              "data-toggle": "modal",
                                                              "data-user-group-id": @user_group.id,
                                                              type: "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Departments
            - if @departments.any?
              %ul
                - @departments.each do |department|
                  %li= department.name
            - else
              %p None
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-right
                %button.btn.btn-light.btn-sm.edit-affiliations{"data-target": "#edit-affiliations-modal",
                                                               "data-toggle": "modal",
                                                               "data-user-group-id": @user_group.id,
                                                               type: "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Affiliations
            - if @affiliations.any?
              %ul
                - @affiliations.each do |affiliation|
                  %li= affiliation.name
            - else
              %p None
    .row.mb-3
      .col-sm-6
        .card
          .card-body
            - if can_edit
              .float-right
                %button.btn.btn-light.btn-sm.edit-email-patterns{"data-target": "#edit-email-patterns-modal",
                                                                   "data-toggle": "modal",
                                                                   "data-user-group-id": @user_group.id,
                                                                   type: "button"}
                  %i.fa.fa-pencil-alt
                  Edit
            %h4.card-title Email Address Patterns
            - if @email_patterns.any?
              %ul
                - @email_patterns.each do |pattern|
                  %li
                    %code= pattern.pattern
            - else
              %p None

  #usage.tab-pane.fade{role: "tabpanel",
                       "aria-labelledby": "usage-tab"}
    .row
      .col-md-6
        .card
          .card-body
            %h4.card-title Units
            %h5 Allowed to administer
            - if @user_group.administrator_groups.any?
              %ul
                - @user_group.administrator_groups.each do |group|
                  %li= link_to(group.unit.title, group.unit)
            - else
              None
      .col-md-6
        .card
          .card-body
            %h4.card-title Collections
            %h5 Allowed to manage
            - if @user_group.manager_groups.any?
              %ul
                - @user_group.manager_groups.each do |group|
                  %li= link_to(group.collection.title, group.collection)
            - else
              None

            %h5 Allowed to submit
            - if @user_group.submitter_groups.any?
              %ul
                - @user_group.submitter_groups.each do |group|
                  %li= link_to(group.collection.title, group.collection)
            - else
              None
    .row
      .col-md-6
        .card
          .card-body
            %h4.card-title Items
            %h5 Allowed to download files
            - if @user_group.bitstream_authorizations.any?
              %ul
                - @user_group.bitstream_authorizations.each do |auth|
                  %li= link_to(auth.item.title, auth.item)
            - else
              None

= render partial: "shared/ajax_modal",
         locals: { id: "edit-user-group-modal", title: "Edit User Group" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-ad-groups-modal", title: "Edit AD Groups" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-affiliations-modal", title: "Edit Affiliations" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-departments-modal", title: "Edit Departments" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-local-users-modal", title: "Edit Local Users" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-hosts-modal", title: "Edit Hosts" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-netid-users-modal", title: "Edit NetID Users" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-email-patterns-modal", title: "Edit Email Address Patterns" }
