-# frozen_string_literal: true
/
/ N.B.: this form is for editing only, as users can only be created by logging
/ in.
/
/ Required locals:
/
/ user [User]
/
= form_for(user.becomes(User), remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  - if f.object.kind_of?(IdentityUser)
    .form-group
      .form-check
        = f.check_box :sysadmin, class: "form-check-input"
        = f.label :sysadmin, "System Administrator", class: "form-check-label"

  %h5 User Groups
  = hidden_field_tag "user[user_group_ids][]"
  - UserGroup.all.order(:name).each do |group|
    .form-check
      = check_box_tag "user[user_group_ids][]", group.id,
                      f.object.user_groups.include?(group),
                      { id: "user_user_group_ids_#{group.id}", class: "form-check-input" }
      = label_tag "user_user_group_ids_#{group.id}",
      group.name, class: "form-check-label"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Edit User", class: "btn btn-primary")
