-# frozen_string_literal: true
-#
-# N.B.: this form is for editing only, as User instances can only be created
-# by logging in.
-#
-# Required locals:
-#
-# user [User]
-#
= form_for(user.becomes(User), url: user_update_properties_path(user), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# For ShibbolethUsers, all of these properties are provided by AD.
  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control", disabled: !user.kind_of?(LocalUser)
  .form-group
    = f.label :email
    = f.email_field :email, class: "form-control", disabled: !user.kind_of?(LocalUser)
  .form-group
    = f.label :phone
    = f.phone_field :phone, class: "form-control", disabled: !user.kind_of?(LocalUser)

  - if policy(user.becomes(User)).change_institution?
    .form-group
      = f.label :institution
      = f.select(:institution_id, options_for_select(Institution.all.order(:name).map{ |i| [i.name, i.id] }, f.object.institution_id),
                 { include_blank: true },
                 { class: "custom-select" })

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
