-# frozen_string_literal: true
-#
-# N.B.: this form is for editing only, as User instances can only be created
-# by logging in.
-#
-# Required locals:
-#
-# user [User]
-#
= form_for(user, url: user_update_properties_path(user), remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .alert.alert-info
    = icon_for(:info)
    These properties will be overwritten with information from the identity
    provider when and if the user next logs in via single sign-on (SSO).
  .mb-3
    = f.label :name, class: "required"
    = f.text_field :name, class: "form-control"
  .mb-3
    = f.label :email, class: "required"
    = f.email_field :email, class: "form-control"

  - if policy(user).change_institution?
    .mb-3
      = f.label :institution, class: "required"
      = f.select(:institution_id, options_for_select(Institution.all.order(:name).map{ |i| [i.name, i.id] }, f.object.institution_id),
                 {},
                 { class: "form-select" })

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
