- if @items.count.positive?
  = form_tag(user_path(@user), method: :get, class: "filter") do
    .row.justify-content-between
      .col-4
        .input-group.mb-3.filter-field
          = hidden_field_tag("fq[]", "#{Item::IndexFields::SUBMITTER}:#{@user.id}")
          = filter_field(icon: "fa fa-filter", submit_text: "Filter")
      .col-4
        .input-group
          = sort_menu(MetadataProfile.default)
  = render partial: "items/listing", locals: { start_arg: :items_start }
- else
  This user has not submitted any items.
