.btn-group.float-end{role: "group"}
  - if policy(@user.becomes(User)).edit_properties?
    -# Edit Properties button
    %button.btn.btn-light.edit-properties{"data-user-id":   @user.id,
                                          "data-bs-target": "#edit-properties-modal",
                                          "data-bs-toggle": "modal",
                                          type:             "button"}
      %i.fas.fa-pencil-alt
      Edit Properties
  - if @user.kind_of?(LocalUser) && @user.identity && policy(@user.identity).edit_password?
    -# Change Password button
    %button.btn.btn-light.change-password{"data-identity-id": @user.identity.id,
                                          "data-bs-target":   "#change-password-modal",
                                          "data-bs-toggle":   "modal",
                                          type:               "button"}
      %i.fas.fa-key
      Change Password
  - if policy(@user.becomes(User)).enable?
    -# Enable/disable button
    - if @user.enabled
      = link_to(user_disable_path(@user),
                class: "btn btn-danger",
                method: :patch,
                data: { confirm: "Are you sure you want to disable this account? This user will no longer be able to log in." }) do
        %i.fa.fa-ban
        Disable
    - else
      = link_to(user_enable_path(@user),
                class: "btn btn-success",
                method: :patch,
                data: { confirm: "Are you sure you want to enable this account?" }) do
        %i.fa.fa-check-circle
        Enable

.clearfix

%dl
  %dt Account
  %dd= boolean(@user.enabled, style: :word, true_value: "ENABLED", false_value: "DISABLED")
  %dt Name
  %dd= @user.name
  %dt Email
  %dd= link_to(@user.email, "mailto:#{@user.email}")
  %dt Phone
  %dd= @user.phone.present? ? link_to(@user.phone, "tel:#{@user.phone}") : "Unknown"
  %dt Institution
  %dd
    - if @user.institution
      - if policy(@user.institution).show?
        = link_to(@user.institution.name, @user.institution)
      - else
        = @user.institution.name
    - else
      None
  - if current_institution.key == "uiuc"
    %dt Organization DN
    %dd
      - if @user.org_dn
        %code= @user.org_dn
      - else
        None
    %dt Affiliation
    %dd= @user.affiliation ? @user.affiliation.name : "None"
    %dt Department
    %dd= @user.department ? @user.department : "None"
  %dt Account Type
  %dd= @user.type.chomp('User')
  %dt Account Created
  %dd= local_time(@user.created_at)
  %dt Last Login
  %dd
    - if @user.last_logged_in_at
      = local_time(@user.last_logged_in_at)
    - else
      Never
  - if current_user.sysadmin?
    %dt Last Auth Hash
    -# some of this content can be very wide and would mess up the page layout
    -# without the overflow-x
    %dd{style: "overflow-x: scroll"}
      - if @user.auth_hash
        %pre= JSON.pretty_generate(@user.auth_hash)
      - else
        None

= render partial: "shared/ajax_modal",
         locals: { id: "edit-properties-modal", title: "Edit Properties" }
= render partial: "shared/ajax_modal",
         locals: { id: "change-password-modal", title: "Change Password" }