-#
-# Requires the following locals:
-#
-# institution_column [Boolean]
-#

- pagination = paginate(actual_count:     @count,
                        page:             @current_page,
                        per_page:         @window,
                        permitted_params: @permitted_params)

.row.justify-content-md-center
  .col-md-auto
    = pagination

%table.table
  %thead
    %tr
      %th Name
      %th Email
      - if institution_column
        %th Institution
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to(user.name, user)
        %td= link_to(user.email, "mailto:#{user.email}")
        - if institution_column
          %td= user.institution ? link_to(user.institution.name, user.institution) : "None"
        %td
          - unless user.enabled
            = boolean(user.enabled, style: :word, true_value: "ENABLED", false_value: "DISABLED")

.row.justify-content-md-center
  .col-md-auto
    = pagination
