%h1 Users

%table.table
  %thead
    %tr
      %th Username
      %th Name
      %th Email
      %th Authentication Type
      %th System Administrator
  %tbody
    - @users.each do |user|
      - user = user.becomes(User)
      %tr
        %td= link_to(user.username, user)
        %td= user.name
        %td= link_to(user.email, "mailto:#{user.email}")
        %td= user.type
        %td{class: "#{user.sysadmin? ? "bg-success" : ""}"}= boolean(user.sysadmin?)
