%h1 Users

%table.table
  %thead
    %tr
      %th Username
      %th Name
      %th Email
      %th Authentication Type
      %th Roles
  %tbody
    - @resources.each do |user|
      - user = user.becomes(User)
      %tr
        %td= link_to(user.username, user)
        %td= user.name
        %td= link_to(user.email, "mailto:#{user.email}")
        %td= user.type
        %td= user.roles.order(:name).map(&:name).join(", ")