- provide :body_id, "show_user"
- provide :title, @user.name

%h1
  =icon_for(@user)
  =@user.name

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#account-tab.nav-link.active{"data-toggle": "tab",
                                   href: "#account",
                                   role: "tab",
                                   "aria-controls": "account",
                                   "aria-selected": "true"} Account
  %li.nav-item
    %a#items-tab.nav-link{"data-toggle": "tab",
                          href: "#items",
                          role: "tab",
                          "aria-controls": "items",
                          "aria-selected": "false"}
      Submitted Items
      %span.badge.badge-pill.badge-secondary
        = @items.count
  %li.nav-item
    %a#submissions-tab.nav-link{"data-toggle": "tab",
                                href: "#submissions",
                                role: "tab",
                                "aria-controls": "submissions",
                                "aria-selected": "false"}
      Submissions In Progress
      %span.badge.badge-pill.badge-secondary
        = @submissions.count


.tab-content
  #account.tab-pane.show.active{role: "tabpanel",
                                "aria-labelledby": "account-tab"}
    = render partial: "show_account_tab", locals: { user: @user }

  #items.tab-pane{role: "tabpanel", "aria-labelledby": "items-tab"}
    = render partial: "show_items_tab"

  #submissions.tab-pane{role: "tabpanel", "aria-labelledby": "submissions-tab"}
    = render partial: "show_submissions_tab"
