- provide :body_id, "show_user"
- provide :title, @user.name

= hidden_field_tag :user_id, @user.id

%h1
  =icon_for(@user)
  = @user.name

.d-flex
  .nav.nav-pills.flex-column.me-3{role:               "tablist",
                                  "aria-orientation": "vertical"}
    %button#properties-tab.nav-link.active{"data-bs-toggle": "pill",
                                           "data-bs-target": "#properties-tab-content",
                                           role:             "tab",
                                           type:             "button",
                                           "aria-controls":  "properties-tab-content",
                                           "aria-selected":  "true"}
      Properties
    %button#credentials-tab.nav-link{"data-bs-toggle": "pill",
                                     "data-bs-target": "#credentials-tab-content",
                                     role:             "tab",
                                     type:             "button",
                                     "aria-controls":  "credentials-tab-content",
                                     "aria-selected":  "true"}
      Credentials
    %button#logins-tab.nav-link{"data-bs-toggle": "pill",
                                "data-bs-target": "#logins-tab-content",
                                role:             "tab",
                                type:             "button",
                                "aria-controls":  "logins-tab-content",
                                "aria-selected":  "true"}
      Most Recent Logins
    %button#submittable-collections-tab.nav-link{"data-bs-toggle": "pill",
                                                 "data-bs-target": "#submittable-collections-tab-content",
                                                 role:             "tab",
                                                 type:             "button",
                                                 "aria-controls":  "submittable-collections-tab-content",
                                                 "aria-selected":  "false"}
      Submittable Collections
      %span.badge.rounded-pill.text-bg-secondary
        = @submittable_collections_count
    %button#submitted-items-tab.nav-link{"data-bs-toggle": "pill",
                                         "data-bs-target": "#submitted-items-tab-content",
                                         role:             "tab",
                                         type:             "button",
                                         "aria-controls":  "submitted-items-tab-content",
                                         "aria-selected":  "false"}
      Submitted Items
      %span.badge.rounded-pill.text-bg-secondary
        = @submitted_items_count
    %button#submissions-in-progress-tab.nav-link{"data-bs-toggle": "pill",
                                                 "data-bs-target": "#submissions-in-progress-tab-content",
                                                 role:             "tab",
                                                 type:             "button",
                                                 "aria-controls":  "submissions-in-progress-tab-content",
                                                 "aria-selected":  "false"}
      Submissions In Progress
      %span.badge.rounded-pill.text-bg-secondary
        = @submissions_in_progress_count

  .tab-content.w-100
    #properties-tab-content.tab-pane.fade.show.active{role:              "tabpanel",
                                                      "aria-labelledby": "properties-tab"}
      = spinner

    #credentials-tab-content.tab-pane.fade{role:              "tabpanel",
                                           "aria-labelledby": "credentials-tab"}
      = spinner

    #logins-tab-content.tab-pane.fade{role:              "tabpanel",
                                      "aria-labelledby": "logins-tab"}
      = spinner

    #submittable-collections-tab-content.tab-pane.fade{role:              "tabpanel",
                                                       "aria-labelledby": "submittable-collections-tab"}
      = spinner

    #submitted-items-tab-content.tab-pane.fade{role:              "tabpanel",
                                               "aria-labelledby": "submitted-items-tab"}
      = spinner

    #submissions-in-progress-tab-content.tab-pane{role:              "tabpanel",
                                                  "aria-labelledby": "submissions-in-progress-tab"}
      = spinner
