- provide :body_id, "show_user"
- provide :title, @user.name

= hidden_field_tag :user_id, @user.id

%h1
  =icon_for(@user)
  = @user.name

.row
  .col-sm-5.col-md-4.col-lg-3
    %ul.nav.nav-pills.flex-column{role:               "tablist",
                                  "aria-orientation": "vertical"}
      %li.nav-item{role: "presentation"}
        %a#properties-tab.nav-link.active{"data-toggle":   "pill",
                                          href:            "#properties-tab-content",
                                          role:            "tab",
                                          "aria-controls": "properties-tab-content",
                                          "aria-selected": "true"} Properties
      %li.nav-item{role: "presentation"}
        %a#privileges-tab.nav-link{"data-toggle":   "pill",
                                   href:            "#privileges-tab-content",
                                   role:            "tab",
                                   "aria-controls": "privileges-tab-content",
                                   "aria-selected": "false"} Privileges
      %li.nav-item{role: "presentation"}
        %a#submittable-collections-tab.nav-link{"data-toggle":   "pill",
                                                href:            "#submittable-collections-tab-content",
                                                role:            "tab",
                                                "aria-controls": "submittable-collections-tab-content",
                                                "aria-selected": "false"}
          Submittable Collections
          %span.badge.badge-pill.badge-secondary
            = @submittable_collections_count
      %li.nav-item{role: "presentation"}
        %a#submitted-items-tab.nav-link{"data-toggle":   "pill",
                                        href:            "#submitted-items-tab-content",
                                        role:            "tab",
                                        "aria-controls": "submitted-items-tab-content",
                                        "aria-selected": "false"}
          Submitted Items
          %span.badge.badge-pill.badge-secondary
            = @submitted_items_count
      %li.nav-item{role: "presentation"}
        %a#submissions-in-progress-tab.nav-link{"data-toggle":   "pill",
                                                href:            "#submissions-in-progress-tab-content",
                                                role:            "tab",
                                                "aria-controls": "submissions-in-progress-tab-content",
                                                "aria-selected": "false"}
          Submissions In Progress
          %span.badge.badge-pill.badge-secondary
            = @submissions_in_progress_count

  .tab-content.col-sm-7.col-md-8.col-lg-9
    #properties-tab-content.tab-pane.fade.show.active{role:              "tabpanel",
                                                      "aria-labelledby": "properties-tab"}
      = spinner

    #privileges-tab-content.tab-pane.fade{role:              "tabpanel",
                                          "aria-labelledby": "privileges-tab"}
      = spinner

    #submittable-collections-tab-content.tab-pane.fade{role:              "tabpanel",
                                                       "aria-labelledby": "submittable-collections-tab"}
      = spinner

    #submitted-items-tab-content.tab-pane.fade{role:              "tabpanel",
                                               "aria-labelledby": "submitted-items-tab"}
      = spinner

    #submissions-in-progress-tab-content.tab-pane{role:              "tabpanel",
                                                  "aria-labelledby": "submissions-in-progress-tab"}
      = spinner
