= provide :body_id, "show_user"

= render partial: "show_button_group"

%h1
  =icon_for(@resource)
  =@resource.name

%h2 Account
%dl
  %dt UID
  %dd= @resource.uid
  %dt Username
  %dd= @resource.username
  %dt Email
  %dd= @resource.email
  %dt Type
  %dd= @resource.type
  %dt Created
  %dd= @resource.created_at

= render partial: "shared/ajax_modal",
         locals: { id: "edit-user-modal", title: "Edit User" }