-# frozen_string_literal: true
= form_for(@manager) do |f|
  .form-inputs
    .form-group
      = f.label :provider, "Authentication Identity Provider", class: "control-label"
      = f.select :provider, options_for_select(Ideals::AuthProvider::ARRAY), {}, {class: "form-control"}
    .form-group
      = f.label :uid, "Email Address"
      = f.text_field :uid, placeholder: "netid@illinois.edu", class: "form-control"

  .form-actions
    .pull-right
      = f.submit "Create Manager", class: "btn btn-primary"
