// @param profile [SubmissionProfile]
// @param context [Symbol] :new or :edit

= form_for(profile, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    .form-check
      = f.check_box :default, class: 'form-check-input'
      = f.label :default, class: "form-check-label"
  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(context == :new ? 'Create Profile' : 'Edit Profile',
                 class: 'btn btn-primary')
