- provide :body_id, "show_submission_profile"
- provide :title, @profile.name

.btn-group.float-end{role: "group"}
  - if policy(@profile).edit?
    -# Edit button
    %button.btn.btn-light.edit-submission-profile{"data-bs-target":             "#edit-submission-profile-modal",
                                                  "data-bs-toggle":             "modal",
                                                  "data-submission-profile-id": @profile.id,
                                                  type:                         "button"}
      %i.fa.fa-pencil-alt
      Edit
  - if policy(@profile).clone?
    -# Clone button
    = link_to(submission_profile_clone_path(@profile), method: "post",
                                                       role:   "button",
                                                       class:  "btn btn-light") do
      %i.fa.fa-copy
      Clone
  - if policy(@profile).destroy?
    -# Delete button
    = link_to(submission_profile_path(@profile), class:  "btn btn-danger",
                                                 role:   "button",
                                                 method: :delete,
                                                 data:   { confirm: "Are you sure you want to delete this profile?" }) do
      %i.fa.fa-trash
      Delete

%h1= @profile.name

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %button#elements-tab.nav-link.active{"data-bs-target": "#elements",
                                         "data-bs-toggle": "tab",
                                         role:             "tab",
                                         type:             "button",
                                         "aria-controls":  "elements",
                                         "aria-selected":  "true"}
      = icon_for(RegisteredElement)
      Elements
      %span.badge.rounded-pill.text-bg-secondary= @profile.elements.count
  - unless @profile.institution_default
    %li.nav-item
      %button#collections-tab.nav-link{"data-bs-target": "#collections",
                                       "data-bs-toggle": "tab",
                                       role:             "tab",
                                       type:             "button",
                                       "aria-controls":  "collections",
                                       "aria-selected":  "false"}
        = icon_for(Collection)
        Collections
        %span.badge.rounded-pill.text-bg-secondary= @collections.count

.tab-content
  #elements.tab-pane.fade.show.active{role:              "tabpanel",
                                      "aria-labelledby": "elements-tab"}
    - if policy(@profile).edit?
      .btn-group.float-end.mb-3{role: "group"}
        -# Add Element button
        %button.btn.btn-light{"data-bs-target": "#add-element-modal",
                              "data-bs-toggle": "modal",
                              type:             "button"}
          %i.fa.fa-plus
          Add Element

    .clearfix

    - @profile.elements.each do |element|
      .card.mb-3
        .card-body
          .btn-group.float-end
            %button.btn.btn-light.btn-sm.edit-element{type:                         "button",
                                                      "data-bs-toggle":             "modal",
                                                      "data-bs-target":             "#edit-element-modal",
                                                      "data-submission-profile-id": @profile.id,
                                                      "data-element-id":            element.id}
              %i.fa.fa-pencil-alt
              Edit
            - unless @profile.institution.required_elements.map(&:id).include?(element.registered_element_id)
              = link_to(submission_profile_submission_profile_element_path(@profile, element),
                        class: 'btn btn-danger btn-sm',
                        method: :delete,
                        data: { confirm: 'Are you sure you want to delete this element?' }) do
                %i.fa.fa-trash
                Delete
          %h5.card-title.mb-3= element.registered_element.label
          %dl.mb-0
            %dt Required
            %dd= boolean(element.required)
            %dt Repeatable
            %dd= boolean(element.repeatable)
            %dt Placeholder Text
            %dd
              - if element.placeholder_text.present?
                = element.placeholder_text
              - else
                None
            %dt Help Text
            %dd= element.help_text

  - unless @profile.institution_default
    #collections.tab-pane.fade{role: "tabpanel",
                               "aria-labelledby": "collections-tab"}
      - if @collections.count > 0
        = resource_list(@collections)
      - else
        This submission profile is not in use by any collections.

= render partial: "shared/xhr_modal",
         locals: { id: "edit-submission-profile-modal", title: "Edit Submission Profile" }
= render partial: "submission_profile_elements/add_modal"
= render partial: "shared/xhr_modal",
         locals: { id: "edit-element-modal", title: "Edit Element" }
