- provide :body_id, "show_submission_profile"
- provide :title, @profile.name

.btn-group.float-right{role: "group"}
  - if policy(@profile).edit?
    / Edit button
    %button.btn.btn-light.edit-profile{"data-target": "#edit-profile-modal",
                                       "data-toggle": "modal",
                                       "data-profile-id": @profile.id,
                                       type: "button"}
      %i.fa.fa-pencil-alt
      Edit
  - if policy(@profile).clone?
    / Clone button
    = link_to(submission_profile_clone_path(@profile), method: "post",
                                                       role: "button",
                                                       class: "btn btn-light") do
      %i.fa.fa-copy
      Clone
  - if policy(@profile).destroy?
    / Delete button
    = link_to(submission_profile_path(@profile), class: "btn btn-danger",
                                                 role: "button",
                                                 method: :delete,
                                                 data: { confirm: "Are you sure you want to delete this profile?" }) do
      %i.fa.fa-trash
      Delete

%h1= @profile.name

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#elements-tab.nav-link.active{href: "#elements", "data-toggle": "tab",
                                    role: "tab", "aria-controls": "elements",
                                    "aria-selected": "true"}
      = icon_for(RegisteredElement)
      Elements
      %span.badge.badge-pill.badge-secondary= @profile.elements.count
  - unless @profile.default
    %li.nav-item
      %a#collections-tab.nav-link{href: "#collections", "data-toggle": "tab",
                                  role: "tab", "aria-controls": "collections",
                                  "aria-selected": "false"}
        = icon_for(Collection)
        Collections
        %span.badge.badge-pill.badge-secondary= @collections.count

.tab-content
  #elements.tab-pane.fade.show.active{role: "tabpanel",
                                      "aria-labelledby": "elements-tab"}
    - if policy(@profile).edit?
      .btn-group.float-right.mb-3{role: "group"}
        / Add Element button
        %button.btn.btn-light{"data-target": "#add-element-modal",
                              "data-toggle": "modal", type: "button"}
          %i.fa.fa-plus
          Add Element

    .clearfix

    - @profile.elements.each do |element|
      .card.mb-3
        .card-body
          .btn-group.float-right
            %button.btn.btn-light.btn-sm.edit-element{type: "button",
                                                      "data-toggle": "modal",
                                                      "data-target": "#edit-element-modal",
                                                      "data-profile-id": @profile.id,
                                                      "data-element-id": element.id}
              %i.fa.fa-pencil-alt
              Edit
            = link_to(submission_profile_submission_profile_element_path(@profile, element),
                      class: 'btn btn-danger btn-sm',
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this element?' }) do
              %i.fa.fa-trash
              Delete
          %h5.card-title= element.registered_element.label
          .row
            .col-sm-3.text-right
              %strong Input Type
            -# .col-sm-9= element.vocabulary ? "Menu" : element.input_type&.split("_")&.map(&:capitalize)&.join(" ")
            .col-sm-9= element.input_type&.split("_")&.map(&:capitalize)&.join(" ")
          .row
            .col-sm-3.text-right
              %strong Required
            .col-sm-9= boolean(element.required)
          .row
            .col-sm-3.text-right
              %strong Repeatable
            .col-sm-9= boolean(element.repeatable)
          .row
            .col-sm-3.text-right
              %strong Placeholder Text
            .col-sm-9= element.placeholder_text
          .row
            .col-sm-3.text-right
              %strong Help Text
            .col-sm-9= element.help_text

  - unless @profile.default
    #collections.tab-pane.fade{role: "tabpanel",
                               "aria-labelledby": "collections-tab"}
      - if @collections.count > 0
        = resource_list(@collections)
      - else
        This submission profile is not in use by any collections.

= render partial: "shared/ajax_modal",
         locals: { id: "edit-profile-modal", title: "Edit Profile" }
= render partial: "submission_profile_elements/add_modal"
= render partial: "shared/ajax_modal",
         locals: { id: "edit-element-modal", title: "Edit Element" }
