- provide :body_id, 'welcome'
- provide :title, "Welcome"

#welcome-image
  .row.justify-content-sm-center
    .col-sm-8.col-md-7.col-lg-6
      = form_tag(items_path, method: :get) do
        .input-group.mb-4
          = search_field_tag(:q, '',
              placeholder: raw("Search across #{number_with_delimiter(@item_count)} items&hellip;"),
              'aria-label': 'Search',
              class: 'form-control form-control-lg')
          .input-group-append
            %input{type: "submit", value: "Search", class: "btn btn-primary"}

- if current_user
  = render partial: 'welcome'
- else
  .row
    .col-8
      = render partial: 'welcome'
    .col-4
      %br
      = link_to(netid_login_path, role: 'button', class: 'btn btn-primary btn-block') do
        = image_tag 'library_wordmark_horizontal_1.png', style: 'height: 1em'
        %i.fa.fa-sign-in-alt
        &nbsp;Log in with Illinois NetID
      %br
      %button.btn.btn-primary.btn-block{"data-target": "#non-netid-login-modal", "data-toggle": "modal", type: "button"}
        %i.fa.fa-user
        %i.fa.fa-sign-in-alt
        &nbsp;Log in without a NetID
