- provide :body_id, "global-landing"
- provide :title, "Welcome"

#main-image
  %div
    Open Access Publications from the University of Illinois

= banner_message
= render partial: "shared/flashes"

%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi etiam dignissim diam quis enim lobortis scelerisque. In arcu cursus euismod quis viverra nibh cras pulvinar. Id diam maecenas ultricies mi eget mauris. Ac turpis egestas sed tempus urna et pharetra pharetra. Sed turpis tincidunt id aliquet. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Ac odio tempor orci dapibus ultrices in. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Senectus et netus et malesuada fames ac turpis egestas sed.

%section#map-section.row.mb-3.pt-3.pb-3
  .col-md-5.d-flex.justify-content-center
    = render partial: "illinois"
  .col-md-7
    %p.count
      %small Housing content from
      %br
      = icon_for(Institution)
      = number_with_delimiter(@num_institutions)
      institutions
      %br
      %small across Illinois

    #institution-accordion.accordion
      - @institutions.each do |institution|
        .card.institution{"data-key": institution.key}
          .card-header
            %h2.mb-0
              %button.btn.btn-link.btn-block.text-left{type:            "button",
                                                       "data-toggle":   "collapse",
                                                       "data-target":   "#collapse-#{institution.key}",
                                                       "aria-expanded": "true",
                                                       "aria-controls": "collapse-#{institution.key}"}
                = institution.name

          .collapse{id:                "collapse-#{institution.key}",
                    "aria-labelledby": "headingOne",
                    "data-parent":     "#institution-accordion"}
            .card-body.text-center
              = link_to(url_for(controller: "units", action: "index", host: institution.fqdn), class: "count") do
                = icon_for(Unit)
                = number_with_delimiter(institution.units.count)
                academic units
              &bull;
              = link_to(url_for(controller: "items", action: "index", host: institution.fqdn), class: "count") do
                = icon_for(Item)
                = number_with_delimiter(institution.public_item_count)
                items
              %br
              = link_to("Go to #{institution.service_name}",
                        url_for(controller: "welcome", action: "index", host: institution.fqdn),
                        class: "btn btn-outline-primary mt-3")



%section.row
  .col-md-4.d-flex.justify-content-center.align-items-center
    %p.count
      = icon_for(Item)
      = number_with_delimiter(@num_items)
      items
      %br
      %small across all institutions
  .col-md-8
    .list-group
      - @recent_items.each do |item|
        = link_to(url_for(controller: "items", action: "show", id: item.id, host: item.institution.fqdn),
                  class: "list-group-item list-group-item-action") do
          .d-flex.w-100.justify-content-between
            %h5.mb-1= item.title
            %small= local_time_ago(item.created_at)
          %small= item.institution.name
    .text-center.mt-2
      = link_to(raw("More items&hellip;"), items_path)