- provide :body_id, "global-landing"
- provide :title, "Welcome"

#main-image
  %div
    Open Access Scholarship from the State of Illinois

= render partial: "shared/flashes"

%p Illinois Scholarship is a scholarly repository service for the state of Illinois. It is built for open access publications with an eye to long-term digital preservation. It is available to members of the Consortium for Academic and Research Libraries in Illinois (CARLI), with technology developed by the University of Illinois at Urbana-Champaign.

%section#map-section.row.mb-3.pt-3.pb-3
  .col-md-5.d-flex.justify-content-center
    = render partial: "illinois"
  .col-md-7
    %p.count
      %small Housing content from
      %br
      = icon_for(Institution)
      = number_with_delimiter(@num_institutions)
      institutions
      %br
      %small across Illinois

    #institution-accordion.accordion.accordion-flush
      - @institutions.each do |institution|
        .accordion-item.institution{"data-key": institution.key}
          %h2.accordion-header
            %button.accordion-button.collapsed{type:             "button",
                                               "data-bs-toggle": "collapse",
                                               "data-bs-target": "#collapse-#{institution.key}",
                                               "aria-expanded":  "false",
                                               "aria-controls":  "collapse-#{institution.key}"}
              = institution.name

          .accordion-collapse.collapse{id:                "collapse-#{institution.key}",
                                       "aria-labelledby": "headingOne",
                                       "data-bs-parent":  "#institution-accordion"}
            .accordion-body.text-center
              = link_to(url_for(controller: "units", action: "index", host: institution.fqdn), class: "count") do
                = icon_for(Unit)
                = number_with_delimiter(institution.units.count)
                academic units
              &bull;
              = link_to(url_for(controller: "items", action: "index", host: institution.fqdn), class: "count") do
                = icon_for(Item)
                = number_with_delimiter(institution.public_item_count)
                items
              %br
              = link_to("Go to #{institution.service_name}",
                        url_for(controller: "welcome", action: "index", host: institution.fqdn),
                        class: "btn btn-outline-primary mt-3")



%section.row
  .col-md-4.d-flex.justify-content-center.align-items-center
    %p.count
      = icon_for(Item)
      = number_with_delimiter(@num_items)
      items
      %br
      %small across all institutions
  .col-md-8
    .list-group
      - @recent_items.each do |item|
        = link_to(url_for(controller: "items", action: "show", id: item.id, host: item.institution.fqdn),
                  class: "list-group-item list-group-item-action") do
          .d-flex.w-100.justify-content-between
            %h5.mb-1= item.title
            %small= local_time_ago(item.created_at)
          %small= item.institution.name
    .text-center.mt-2
      = link_to(raw("More items&hellip;"), items_path)