- pagination = paginate(actual_count:     @count,
                        page:             @current_page,
                        per_page:         @window,
                        permitted_params: @permitted_params)

.row.justify-content-md-center
  .col-md-auto
    = pagination

- if @events.any?
  %table.table
    %thead
      %tr
        - if action_name == "index_all"
          %th Institution
        %th User
        %th Type
        %th Entity
        %th Description
        %th Occurred
    %tbody
      - @events.each do |event|
        %tr{"data-id": event.id}
          - if action_name == "index_all"
            %td
              - if event.institution
                = link_to(event.institution) do
                  = icon_for(event.institution)
                  = event.institution.name
          %td
            - if event.user
              = link_to(event.user) do
                = icon_for(event.user)
                = event.user.name
          %td
            %span.badge.text-bg-primary
              = Event::Type.label(event.event_type)
          %td
            - if event.collection_id
              = link_to(event.collection) do
                = icon_for(event.collection)
                = event.collection.title
            - elsif event.item_id
              = link_to(event.item) do
                = icon_for(event.item)
                = event.item.effective_title
            - elsif event.bitstream_id
              = link_to(event.item) do
                = icon_for(event.bitstream)
                = event.bitstream.filename
            - elsif event.login_id && event.login.user
              = link_to(event.login.user) do
                = icon_for(event.login.user)
                = event.login.user.name
            - elsif event.unit_id
              = link_to(event.unit) do
                = icon_for(event.unit)
                = event.unit.title
          %td
            - if event.description.present?
              = link_to(event.description, "#", data: { 'bs-toggle': "modal",
                                                        'bs-target': "#show-event-modal",
                                                        'event-id':  event.id })
          %td
            = local_time_ago(event.happened_at)

- else
  %p No events to show.

.row.justify-content-md-center
  .col-md-auto
    = pagination
