- provide :title, "Settings"
- provide :body_id, "settings"

%h1 Global Settings

= form_tag(settings_path, method: :patch) do

  .mb-3.row
    = label_tag("settings[#{Setting::Key::FEEDBACK_EMAIL}]",
                "Feedback Email",
                class: "col-sm-3 col-form-label required")
    .col-sm-9
      = text_field_tag("settings[#{Setting::Key::FEEDBACK_EMAIL}]",
                       Setting.string(Setting::Key::FEEDBACK_EMAIL),
                       class: "form-control")
      %p.form-text
        = icon_for(:info)
        This is used in the global context and for notifications of
        system-level events. Institutions can override this within their own
        contexts.

  .mb-3.row
    = label_tag("settings[#{Setting::Key::EARLIEST_SEARCH_YEAR}]",
                "Earliest Search Year",
                class: "col-sm-3 col-form-label required")
    .col-sm-9
      = number_field_tag("settings[#{Setting::Key::EARLIEST_SEARCH_YEAR}]",
                         Setting::integer(Setting::Key::EARLIEST_SEARCH_YEAR),
                         class: "form-control")
      %p.form-text
        = icon_for(:info)
        This is used only in the global context.
        Institutions can override this within their own contexts.

  .card.mb-3
    .card-body
      .mb-3.row
        = label_tag("settings[#{Setting::Key::BANNER_MESSAGE}]",
                    "Banner Message",
                    class: "col-sm-3 col-form-label")
        .col-sm-9
          = text_area_tag("settings[#{Setting::Key::BANNER_MESSAGE}]",
                           Setting::string(Setting::Key::BANNER_MESSAGE),
                           class: "form-control")

      .mb-3.row
        = label_tag("settings[#{Setting::Key::BANNER_MESSAGE_TYPE}]",
                    "Banner Message Type",
                    class: "col-sm-3 col-form-label")
        .col-sm-9
          = select_tag("settings[#{Setting::Key::BANNER_MESSAGE_TYPE}]",
                       options_for_select([%w(Blue/Info info), %w(Yellow/Warning warning), %w(Red/Danger danger)],
                                          Setting.string(Setting::Key::BANNER_MESSAGE_TYPE)),
                       class: "form-select")

  .card.mb-3
    .card-body
      .mb-3.row
        = label_tag("settings[#{Setting::Key::RESULT_WINDOW_DEFAULT}]",
                    "Default Result Window",
                    class: "col-sm-3 col-form-label")
        .col-sm-9
          = number_field_tag("settings[#{Setting::Key::RESULT_WINDOW_DEFAULT}]",
                               Setting::integer(Setting::Key::RESULT_WINDOW_DEFAULT),
                               class: "form-control")

      .mb-3.row
        = label_tag("settings[#{Setting::Key::RESULT_WINDOW_MIN}]",
                    "Minimum Result Window",
                    class: "col-sm-3 col-form-label")
        .col-sm-9
          = number_field_tag("settings[#{Setting::Key::RESULT_WINDOW_MIN}]",
                               Setting::integer(Setting::Key::RESULT_WINDOW_MIN),
                               class: "form-control")

      .mb-3.row
        = label_tag("settings[#{Setting::Key::RESULT_WINDOW_MAX}]",
                    "Maximum Result Window",
                    class: "col-sm-3 col-form-label")
        .col-sm-9
          = number_field_tag("settings[#{Setting::Key::RESULT_WINDOW_MAX}]",
                               Setting::integer(Setting::Key::RESULT_WINDOW_MAX),
                               class: "form-control")

  .mb-3.row
    = label_tag("settings[#{Setting::Key::SAML_CERT_VALIDITY_YEARS}]",
                "SAML Certificate Validity (Years)",
                class: "col-sm-3 col-form-label")
    .col-sm-9
      = number_field_tag("settings[#{Setting::Key::SAML_CERT_VALIDITY_YEARS}]",
                         Setting::integer(Setting::Key::SAML_CERT_VALIDITY_YEARS),
                         class: "form-control")

  .mb-3.row
    .col-sm-3
    .col-sm-9
      = submit_tag 'Save Changes', class: 'btn btn-primary'
