- provide :title, "Settings"
- provide :body_id, "settings"

%h1 Settings

= form_tag(settings_path, method: :patch) do

  .mb-3.row
    = label_tag("settings[#{Setting::Key::EARLIEST_SEARCH_YEAR}]",
                "Earliest Search Year",
                class: "col-sm-3 col-form-label")
    .col-sm-9
      = number_field_tag("settings[#{Setting::Key::EARLIEST_SEARCH_YEAR}]",
                         Setting::integer(Setting::Key::EARLIEST_SEARCH_YEAR),
                         class: "form-control")
      %p.form-text
        = icon_for(:info)
        This is used only in the global context.
        Institutions can override this within their own contexts.
  .mb-3.row
    = label_tag("settings[#{Setting::Key::BANNER_MESSAGE}]",
                "Banner Message",
                class: "col-sm-3 col-form-label")
    .col-sm-9
      = text_area_tag("settings[#{Setting::Key::BANNER_MESSAGE}]",
                       Setting::string(Setting::Key::BANNER_MESSAGE),
                       class: "form-control")
  .mb-3.row
    = label_tag("settings[#{Setting::Key::BANNER_MESSAGE_TYPE}]",
                "Banner Message Type",
                class: "col-sm-3 col-form-label")
    .col-sm-9
      = select_tag("settings[#{Setting::Key::BANNER_MESSAGE_TYPE}]",
                   options_for_select([%w(Blue/Info info), %w(Yellow/Warning warning), %w(Red/Danger danger)],
                                      Setting.string(Setting::Key::BANNER_MESSAGE_TYPE)),
                   class: "form-select")

  .mb-3.row
    .col-sm-3
    .col-sm-9
      = submit_tag 'Save Changes', class: 'btn btn-primary'
