.row
  .col-sm-6
    %h3 Import Details
    %dl
      %dt Format
      %dd= Import::Format.to_s(@import.format)
      %dt Database ID
      %dd= @import.id
      %dt File
      %dd
        - if @import.filename.present?
          %pre
            = link_to(@import.filename, @import.presigned_download_url)
      %dt File Length
      %dd
        - if @import.length.present?
          = number_to_human_size(@import.length)
      %dt Collection
      %dd= link_to(@import.collection.title, @import.collection)
      %dt User
      %dd
        - if @import.user
          = link_to(@import.user) do
            = icon_for(@import.user)
            = @import.user.name
        - else
          Unknown
      %dt Created
      %dd= local_time(@import.created_at)

  .col-sm-6
    %h3 Task Details
    - if @import.task
      = render partial: "tasks/show", locals: { task: @import.task }
    - else
      %p Task not created yet.


