%dl
  %dt Kind
  %dd= Import::Kind.to_s(@import.kind)
  %dt Database ID
  %dd= @import.id
  %dt User
  %dd
    = link_to(@import.user.becomes(User)) do
      = icon_for(@import.user)
      = @import.user.name
  %dt Collection
  %dd= link_to(@import.collection.title, @import.collection)
  %dt Status
  %dd
    - if @import.task
      %span.badge{class: bootstrap_class_for_task_status(@import.task.status)}
        = Task::Status::to_s(@import.task.status)
    - else
      %span.badge{class: bootstrap_class_for_task_status(Task::Status::PENDING)}
        = Task::Status::to_s(Task::Status::PENDING)
  %dt Progress
  %dd= "#{((@import.task&.percent_complete || 0) * 100).round(1)}%"
  %dt Created
  %dd= local_time(@import.created_at)
  - if @import.task&.detail&.present?
    %dt Detail
    %dd.text-danger= @import.task.detail
  - if @import.files&.any?
    %dt Files
    %dd
      %pre= @import.files&.join("\n")