- provide :body_id, "imports"
- provide :title, "Imports"

.btn-group.float-right{role: "group"}
  - if policy(Import).new?
    %button.btn.btn-light.new-import{"data-target": "#new-import-modal",
                                     "data-toggle": "modal",
                                     role:          "button"}
      %i.fa.fa-plus
      New Import&hellip;
    %button.btn.btn-light{"data-target": "#help-modal",
                          "data-toggle": "modal",
                          role:          "button"}
      %i.fa.fa-question-circle
      Help&hellip;

%h1 Import Items

#import-list
  = render partial: "imports"

= render partial: "help_modal"
= render partial: "shared/ajax_modal",
         locals: { id: "new-import-modal",
                   title: "New Import" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-import-modal",
                   title: "Upload Package" }
= render partial: "shared/ajax_modal",
         locals: { id: "show-import-modal",
                   title: "Import Details" }