-# frozen_string_literal: true
= simple_form_for(@handle) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :handle
    = f.input :resource_type_id
    = f.input :resource_id

  .form-actions
    = f.button :submit
