%h1 Listing handles

%table
  %thead
    %tr
      %th Handle
      %th Resource type
      %th Resource
      %th
      %th
      %th

  %tbody
    - @handles.each do |handle|
      %tr
        %td= handle.handle
        %td= handle.resource_type_id
        %td= handle.resource_id
        %td= link_to 'Show', handle
        %td= link_to 'Edit', edit_handle_path(handle)
        %td= link_to 'Destroy', handle, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Handle', new_handle_path
