-# Add-invitee modal
-#
-# Requires the following locals:
-#
-# invitee [Invitee]
-# token [String]
-#
#invite-user-modal.modal.fade{"aria-labelledby": "invite-user-modal-label", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h4#invitee-user-modal-label.modal-title Invite User
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} &times;
      .modal-body
        .alert.alert-light
          = icon_for(:info)
          An email containing a link to the registration form will be sent to
          this address.

        = form_for(invitee, url: invitees_path, remote: true) do |f|
          .error-messages
            -# populated via ajax by shared/_validation_messages.js.erb

          = f.hidden_field :inviting_user_id, value: current_user.id
          = f.hidden_field :note, value: "Invited by #{current_user.name}"

          .form-group
            = f.label :email, "Email"
            = f.text_field :email, class: "form-control"

          .form-group
            = f.label :institution_id, "Institution (optional)"
            = f.select :institution_id, options_for_select(Institution.all.order(:name).map{ |i| [i.name, i.id] }),
                       { include_blank: true }, { class: "custom-select" }

          .form-group
            = f.submit "Send Invite", class: "btn btn-primary"
