-# frozen_string_literal: true
= simple_form_for(@invitee) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :email
    = f.input :role
    = f.input :expires_at
    = f.input :approved

  .form-actions
    = f.button :submit
