= form_for(@invitee, url: invitees_path, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = f.hidden_field :institution_id, value: f.object.institution_id
  = f.hidden_field :inviting_user_id, value: current_user.id
  = f.hidden_field :purpose, value: "Invited by #{current_user.name} (#{current_user.email})"

  - if f.object.institution.sso_enabled?
    .alert.alert-light
      %p
        = icon_for(:info)
        This form should only be used to invite users who are unable to log in
        via single sign-on (SSO). The invited user will be routed through the
        process to create an account with locally-stored credentials.

      %p.mb-0
        SSO users do not need to be invited. Their accounts are created
        automatically upon their first login.

  .mb-3
    = f.label :email, "Email", class: "required"
    = f.text_field :email, class: "form-control"
    %p.form-text
      = icon_for(:info)
      An email containing a link to the registration form will be sent
      to this address.

  .mb-3
    .form-check
      = f.check_box :institution_admin, class: "form-check-input"
      = f.label :institution_admin, "Make this user an administrator of #{f.object.institution.name}", class: "form-check-label"

  .mb-3
    = f.submit "Send Invite", class: "btn btn-primary"
