-# frozen_string_literal: true

%h2 Request non-NetID IDEALS identity
.info-box
  %p
    In special circumstances, individuals who do not have an Illinois NetID are approved to register a non-NetID identity
    in the IDEALS system.
  %p
    %strong These non-NetID identities are not valid for access to items restricted to University of Illinois only or embargoed items.
  %p
    To request a non-NetID IDEALS identity, provide your email address in the form below, along with the purpose.
    If approved, you will be sent an email inviting you to register.
  %p
    IDEALS @ Illinois administrators may be contacted at
    =succeed(".") do
      %a(href="mailto:ideals-gen@illinois.edu") ideals-gen@illinois.edu
%br
= form_for(invitee) do |f|
  .form-group.required.row
    .col-md-1.col-md-offset-3
      = f.label :email, class: "control-label"
    .col-md-4
      = f.text_field :email, class: "form-control"
  .form-group.required.row
    .col-md-1.col-md-offset-3
      = f.label :note, "Purpose", class: "control-label"
    .col-md-4
      = f.text_field :note, class: "form-control"
  .row
    .col-md-4.col-md-offset-4
      =recaptcha_tags
  .row
    .col-md-2.col-md-offset-7
      = f.submit "Submit Request", class: "btn btn-primary btn-block"

%hr
.row
  .col-md-4.col-md-offset-2
    %h3 Related alternative actions:
%hr
.row
  .col-md-4.col-md-offset-2
    Have an Illinois NetID?
  .col-md-4
    %button{type: "button", class: "btn btn-primary btn-block"}
      %a{href: "/login", class: "idb"}
        %span.pull-left
          =image_tag 'favicon.ico'
          %span.glyphicon.glyphicon-log-in
          &nbsp;
          Log in with Illinois NetID
%br

.row
  .col-md-4.col-md-offset-2
    Already registered a non-NetID IDEALS identity?
  .col-md-4
    %button{type: "button", class: "btn btn-info btn-block"}
      %a{href: "/identities/login", class: "idb"}
        %span.pull-left
          %span.glyphicon.glyphicon-user
          %span.glyphicon.glyphicon-log-in
          &nbsp;
          Log in with non-NetID identity
%br

.row
  .col-md-4.col-md-offset-2
    Non-NetID identity approved, not yet registered?
  .col-md-4
    %a{class: "btn btn-success btn-block idb", href: "/identities/register"}
      %span.pull-left
        %span.glyphicon.glyphicon-user
        Register Approved non-NetID identity

%hr