- provide :body_id, "list_invitees"
- provide :title, "Invitees"

-if policy(User).invite?
  .btn-group.float-end{role: "group"}
    -# Invite button
    %button.btn.btn-light{"data-bs-target": "#invite-user-modal",
                          "data-bs-toggle": "modal",
                          type:             "button"}
      %i.fa.fa-plus
      Invite User

%h1
  Invitees
  %small
    in
    = current_institution.name

= render partial: "filter_form"

#invitees-xhr-content
  = render partial: "invitees",
           locals: { count:            @count,
                     current_page:     @current_page,
                     invitees:         @invitees,
                     permitted_params: @permitted_params,
                     window:           @window }

= render partial: "add_modal", locals: { invitee: @new_invitee }
= render partial: "shared/xhr_modal",
         locals: { id: "reject-modal", title: "Reject Invitee" }