- provide :body_id, "list_invitees"
- provide :title, "Invitees"

-if policy(User).invite?
  .btn-group.float-right{role: "group"}
    -# Invite button
    %button.btn.btn-light{"data-target": "#invite-user-modal",
                          "data-toggle": "modal", type: "button"}
      %i.fa.fa-plus
      Invite User

%h1 Invitees

.card.mb-3
  .card-body
    = form_tag invitees_path, method: :get, class: "form-inline" do
      .form-inline
        .form-group.mr-3
          = label_tag nil, "Email", class: "mr-1"
          = filter_field
        .form-group.mr-3
          = label_tag nil, "Approval State", class: "mr-1"
          = select_tag "approval_state",
                       options_for_select(ApprovalState::all.map{ |s| [s.capitalize, s] },
                                          params[:approval_state]),
                       include_blank: true,
                       class: "custom-select"
        .btn-group{role: "group", "aria-label": "Filter controls"}
          = button_tag "Clear", type: "reset", class: "btn btn-outline-secondary"
          = submit_tag "Filter", name: "", class: "btn btn-primary"

= render partial: "invitees",
         locals: { count:            @count,
                   current_page:     @current_page,
                   invitees:         @invitees,
                   permitted_params: @permitted_params,
                   window:           @window }
= render partial: "add_modal", locals: { invitee: @new_invitee }
