%h2 Non-NetID IDEALS identity invitee

%p#notice= notice

%p
  %b Email:
  = @invitee.email
%p
  %b Role:
  = @invitee.role
%p
  %b Purpose:
  = @invitee.note
%p
  %b Expires at:
  = @invitee.expires_at
%p
  %b Approval:
  = @invitee.approval_state

= link_to 'Edit', edit_invitee_path(@invitee)
\|
= link_to 'Back', invitees_path
