- provide :title, "Invitee #{@invitee.email}"

.btn-group.float-end{role: "group"}
  = render partial: "actions_menu", locals: { invitee: @invitee,
                                              button_class: "btn btn-light" }

%h1 Invitee #{@invitee.email}

%dl
  %dt Email
  %dd= link_to(@invitee.email, "mailto:#{@invitee.email}")
  %dt Associated User
  %dd= @invitee.user ? link_to(@invitee.user.name, @invitee.user.becomes(User)) : "Not yet registered"
  %dt Invited By
  %dd= @invitee.inviting_user ? link_to(@invitee.inviting_user.name, @invitee.inviting_user.becomes(User)) : "Self-Invited"
  %dt Purpose
  %dd= @invitee.note
  %dt Approval State
  %dd
    - case @invitee.approval_state
    - when Invitee::ApprovalState::PENDING
      %span.badge.text-bg-primary PENDING
    - when Invitee::ApprovalState::APPROVED
      %span.badge.text-bg-success APPROVED
    - when Invitee::ApprovalState::REJECTED
      %span.badge.text-bg-danger REJECTED
  %dt Created
  %dd= local_time_ago(@invitee.created_at)
  - if @invitee.pending? && @invitee.expires_at?
    %dt Expires
    %dd= local_time_ago(@invitee.expires_at)
