-# frozen_string_literal: true

= form_for(@resource, url: submission_path(@resource), remote: true,
           html: { id: "files-form" }) do |f|
  = token_tag(nil)

  #files-messages.error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  -# Read in JavaScript to determine where to upload files to.
  = hidden_field_tag "item_bitstreams_uri", item_bitstreams_url(f.object)

  -# This table is modified by DepositForm/FileTable.addFile() (JavaScript).
  -# Its structure must be kept in sync with that code.
  %table.table.table-sm.files
    %tbody
      - @resource.bitstreams.order(:original_filename).each do |bs|
        %tr{"data-uri":      item_bitstream_path(@resource, bs),
            "data-filename": bs.original_filename}
          %td
            %i.fa.fa-check.text-success
          %td= bs.original_filename
          %td= number_to_human_size(bs.length)
          %td
          %td
            %button.btn.btn-sm.btn-danger.remove
              %i.fa.fa-minus
              Remove

  %ul.nav.nav-pills.nav-justified{role: "tablist"}
    %li.nav-item
      %a#browser-files-tab.nav-link.active{"data-toggle": "tab",
                                        href: "#browser-files",
                                        role: "tab",
                                        "aria-controls": "browser-files",
                                        "aria-selected": "true"} Upload From Browser
    %li.nav-item
      %a#box-files-tab.nav-link{"data-toggle": "tab",
                                href: "#box-files",
                                role: "tab",
                                "aria-controls": "box-files",
                                "aria-selected": "false"} Upload From Box

  .tab-content
    #browser-files.tab-pane.fade.show.active{role: "tabpanel",
                                             "aria-labelledby": "browser-files-tab"}
      = render partial: "deposit_files_form_browser"

    #box-files.tab-pane.fade{role: "tabpanel",
                             "aria-labelledby": "box-files-tab"}
      = render partial: "deposit_files_form_box"


  .text-center.mb-3.mt-3
    %button.btn.btn-light.step-3-to-2{type: "button"}
      %i.fa.fa-arrow-left
      Previous Step
    = f.hidden_field :submitting, value: "false"
    = f.submit("Complete Submission", class: "btn btn-primary")

#complete-modal.modal.fade{tabindex: "-1", role: "dialog",
                           "data-backdrop": "static",
                           "aria-labelledby": "complete-modal-label",
                           "aria-hidden": "true"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#complete-modal-label.modal-title Submission Complete
      .modal-body
        .alert.alert-info
          TODO: This is placeholder text. Provide finalized text (including link URLs) in a new JIRA ticket.
        Sint enim enim sequi quo perferendis accusantium ut. Pariatur amet facere natus voluptate explicabo est. Praesentium illo dicta provident aut ipsum omnis ratione. Voluptatem nemo qui soluta eius aut atque voluptatum. Nostrum ratione culpa veritatis et. Culpa itaque aut qui vero rerum blanditiis.
      .modal-footer
        = link_to "Done", root_path, class: "btn btn-primary"
