-# frozen_string_literal: true

= form_for(@resource, url: submission_path(@resource), remote: true) do |f|
  = token_tag(nil)

  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  - if @resource.primary_collection
    = f.hidden_field :primary_collection_id, value: params[:collection_id]
    %h2 Collection
    %p= @resource.primary_collection.title
  - else
    .alert.alert-light
      Select the collection into which you'd like to deposit the item.

    = f.select(:primary_collection_id, deposit_collection_options_for_select,
               {}, class: "custom-select")
    %p.form-text.text-muted
      This menu contains all collections to which you have directly-assigned
      submitter access. To request access to another collection, _______ TODO: write this

  .text-center.mb-3
    %button.btn.btn-light.step-1-to-2{type: "button"}
      Proceed to Step 2
      %i.fa.fa-arrow-right
