-# frozen_string_literal: true

= form_for(@item, url: submission_path(@item), remote: true,
           html: { id: "metadata-form" }) do |f|
  = token_tag(nil)

  #metadata-messages.error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# Include this only because `item` is required in the params.
  = f.hidden_field :submitter_id, value: current_user.id

  %table.table.metadata
    %tbody
      - @submission_profile.elements.each do |profile_element|
        %tr
          %td
            = profile_element.registered_element.label
            - if profile_element.required
              %span.badge.badge-danger REQUIRED
            %p.form-text.text-muted.mb-0= profile_element.help_text
          %td
            - if f.object.element(profile_element.registered_element.name.to_sym).nil?
              - f.object.elements.build(registered_element: profile_element.registered_element)
            - f.object.elements.select{ |e| e.registered_element == profile_element.registered_element }.each do |ascribed_element|
              .input-group.mb-2
                = hidden_field_tag "elements[][name]",
                                   profile_element.registered_element.name
                - if profile_element.vocabulary
                  = select_tag("elements[][string]", options_for_select(profile_element.vocabulary.terms.map{ |t| [t.displayed_value, t.stored_value] },
                                                                        ascribed_element.string),
                               class: "custom-select",
                               required: profile_element.required)
                - else
                  - case profile_element.input_type
                  - when SubmissionProfileElement::InputType::DATE
                    - hidden_input_id = SecureRandom.hex
                    - date            = ascribed_element.date
                    -# This hidden input contains a date in "Month DD, YYYY" format.
                    -# Changes to the Y/M/D select menus below cause its value
                    -# to change (via JS).
                    = hidden_field_tag("elements[][string]",
                                       ascribed_element.string,
                                       id: hidden_input_id,
                                       data: { 'input-type': "date" })
                    .form-inline
                      -# N.B.: these are submitted incidentally as part of the
                      -# form but not read server-side.
                      = select_tag("month",
                                   options_for_select((1..12).map{ |d| Date.parse("#{'%02d' % d}/01").strftime("%B") },
                                                      date&.strftime("%B")),
                                   data: { for: hidden_input_id },
                                   class: "custom-select mr-2")
                      = select_tag("day",
                                   options_for_select((1..31), date&.day),
                                   data: { for: hidden_input_id },
                                   class: "custom-select mr-2")
                      = select_tag("year",
                                   options_for_select((1900..((Time.now + 1.year).year)),
                                                      date&.year || Time.now.year),
                                   data: { for: hidden_input_id },
                                   class: "custom-select")
                  - when SubmissionProfileElement::InputType::PERSON
                    - hidden_input_id = SecureRandom.hex
                    - person_name     = ascribed_element.person_name || {}
                    -# This hidden input contains a person name in
                    -# "Familyname Givenname" format.
                    -# Changes to the inputs below cause its value to change (via JS).
                    = hidden_field_tag("elements[][string]",
                                       ascribed_element.string,
                                       id: hidden_input_id,
                                       data: { 'input-type': "person" })
                    .form-inline
                      -# N.B.: these are submitted incidentally as part of the
                      -# form but not read server-side.
                      = text_field_tag("family_name", person_name[:family_name],
                                       placeholder: "Family Name",
                                       data: { for: hidden_input_id },
                                       class: "form-control mr-2")
                      = text_field_tag("given_name", person_name[:given_name],
                                       placeholder: "Given Name",
                                       data: { for: hidden_input_id },
                                       class: "form-control")
                  - when SubmissionProfileElement::InputType::TEXT_AREA
                    = text_area_tag("elements[][string]",
                                    ascribed_element.string,
                                    class: "form-control",
                                    required: profile_element.required)
                  - else
                    = text_field_tag("elements[][string]",
                                     ascribed_element.string,
                                     class: "form-control",
                                     required: profile_element.required)

                  - if !profile_element.required || profile_element.repeatable
                    .input-group-append
                      %button.btn.btn-outline-danger.remove{type: "button"}
                        %i.fa.fa-minus
                        Remove
            - if profile_element.repeatable
              %button.btn.btn-outline-success.btn-sm.mt-1.add{type: "button"}
                %i.fa.fa-plus
                Add Another Field
          %td.message
            .text-success
              %i.fa.fa-check
              Value saved
            .text-danger
              %i.fa.fa-times
              Invalid value
  .text-center.mb-3
    .btn-group{role: "group"}
      %button.btn.btn-light.step-2-to-1{type: "button"}
        %i.fa.fa-arrow-left
        Previous Step
      %button.btn.btn-light.step-2-to-3{type: "button"}
        Next Step
        %i.fa.fa-arrow-right
