-# frozen_string_literal: true

= form_for(@resource, url: submission_path(@resource), remote: true, html: { id: "deposit-files-form" }) do |f|
  = token_tag(nil)

  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  / Include this only because `item` is required in the params.
  = f.hidden_field :primary_collection_id, value: f.object.primary_collection_id

  .alert.alert-light
    Select one or more files to attach to the item.

  %p (File upload goes here)

  .text-center.mb-3
    %button.btn.btn-light.step-3-to-2{type: "button"}
      %i.fa.fa-arrow-left
      Back to Step 2
    = f.submit("Complete Deposit", class: "btn btn-primary")

#complete-modal.modal.fade{tabindex: "-1", role: "dialog",
                           "data-backdrop": "static",
                           "aria-labelledby": "complete-modal-label",
                           "aria-hidden": "true"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#complete-modal-label.modal-title Deposit Complete
      .modal-body
        Sint enim enim sequi quo perferendis accusantium ut. Pariatur amet facere natus voluptate explicabo est. Praesentium illo dicta provident aut ipsum omnis ratione. Voluptatem nemo qui soluta eius aut atque voluptatum. Nostrum ratione culpa veritatis et. Culpa itaque aut qui vero rerum blanditiis.
      .modal-footer
        = link_to "Done", root_path, class: "btn btn-primary"
