- show_unit_menu = current_user.effective_institution_admin?(current_institution, client_ip: request_context.client_ip, client_hostname: request_context.client_hostname)

= form_for(@item, url: submission_path(@item), remote: true,
           html: { id: "collection-form" }) do |f|
  = token_tag(nil)

  #collection-messages.error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# Include this only because `item` is required in the params.
  = f.hidden_field :stage, value: Item::Stages::SUBMITTING
  = f.hidden_field :initial_primary_collection_unit_id, value: f.object&.primary_collection&.primary_unit&.id
  = f.hidden_field :initial_primary_collection_id, value: f.object.primary_collection&.id
  = hidden_field_tag :show_unit_menu, show_unit_menu
  = hidden_field_tag :user_id, current_user.id
  = hidden_field_tag :caching_submittable_collections_task_id, current_user.caching_submittable_collections_task_id

  - if current_institution.deposit_form_collection_help.present?
    .alert.alert-light
      = icon_for(:info)
      = current_institution.deposit_form_collection_help

  - if show_unit_menu
    %section#unit-section
      %p Select the unit into which you would like to deposit the item.

      .row.mb-3
        .col-sm-10
          -# This element is used only to populate the collection-select menu.
          = select_tag(:unit_id, options_for_select(unit_tree_options(include_blank: f.object&.primary_collection&.primary_unit&.id.blank?)),
                       class: "form-select")
        .col-sm-2
          .message
            .text-success
              %i.fa.fa-check
              Value saved

  #collection-check-in-progress-alert.mb-3{style: "display: none"}
    %p
      Checking to determine which collections you are allowed to submit to.
      Please wait&hellip;
    .progress
      .progress-bar.progress-bar-striped.progress-bar-animated.bg-info{"aria-valuemax": "100",
                                                                       "aria-valuemin": "0",
                                                                       "aria-valuenow": "0",
                                                                       role:            "progressbar",
                                                                       style:           "width: 0%"}

  #no-collections-alert.mb-3.text-danger{style: "display: none"}

  %section#collection-section{style: "display: none"}
    %p Select the collection into which you would like to deposit the item.

    .row.mb-3
      .col-sm-10
        = select_tag("item[primary_collection_id]", options_for_select([]),
                     class: "form-select")
      .col-sm-2
        .message
          .text-success
            %i.fa.fa-check
            Value saved

#check-collections.alert.alert-light.mb-3
  %p
    = icon_for(:info)
    If you can't find the collection you're looking for in the menu above, it
    may have been added or had its permissions changed recently. Try checking for it again:
  = form_with(url: user_update_submittable_collections_path(current_user), method: :post) do
    = submit_tag("Check Again", class: "btn btn-secondary btn-sm mb-3" )
  %p If you still can't find it, please contact us.

.text-center.mt-3.mb-3
  %button.btn.btn-light.step-1-to-2{type: "button"}
    Next Step
    %i.fa.fa-arrow-right
