-# frozen_string_literal: true

= form_for(@item, url: submission_path(@item), remote: true,
           html: { id: "files-form" }) do |f|
  = token_tag(nil)
  = render partial: "submit_files_form_uploads", locals: { item: f.object }

= form_for(@item, url: submission_complete_path(@item), method: :post,
           html: { id: "completion-form" }) do |f|
  .text-center.mb-3.mt-3
    .btn-group{role: "group"}
      %button.btn.btn-light.step-4-to-3{type: "button"}
        %i.fa.fa-arrow-left
        Previous Step
      = f.submit("Complete Submission", class: "btn btn-primary")
