- provide :body_id, "deposit-agreement-body"
- provide :title, "Submit an Item"

%h1 Submit an Item

%p To start your deposit, please review the deposit agreement and answer the following questions.

- if @submissions.any?
  .card.text-white.bg-info.submissions-in-progress.mb-3
    .card-header= "#{pluralize(@submissions.length, "submission")} in progress"
    .card-body.pt-3.pr-2.pb-2.pl-2
      %ul
        - @submissions.each do |item|
          %li.mb-1
            - if item.primary_collection
              = link_to(raw("Started #{local_time_ago(item.created_at)} in #{item.primary_collection.title}"),
                        edit_submission_path(item))
            - else
              = link_to(raw("Started #{local_time_ago(item.created_at)} (collection not selected)"),
                        edit_submission_path(item))
  %button.begin-submission.btn.btn-outline-primary Begin New Submission

#deposit-agreement.accordion.mb-3{style: "#{@submissions.any? ? "display: none" : ""}"}
  .card
    #deposit-agreement-header.card-header
      %button.btn.btn-link{type:            "button",
                           "data-toggle":   "collapse",
                           "data-target":   "#deposit-agreement-collapse",
                           "aria-expanded": false,
                           "aria-controls": "deposit-agreement-collapse"}
        %i.far.fa-plus-square
        IDEALS Deposit Agreement
        %span.text-info (expand)
    #deposit-agreement-collapse.collapse{"aria-labelledby": "deposit-agreement-heading",
                                         "data-parent":     "#deposit-agreement"}
      .card-body
        -# https://wiki.illinois.edu/wiki/display/IDEALS/Deposit+Agreement+-+Non-Exclusive+Distribution+and+Preservation+License
        %p To properly administer the Illinois Digital Environment for Access to Learning and Scholarship (IDEALS) and preserve the contents for future use, the Board of Trustees of the University of Illinois on behalf of its Urbana-Champaign campus (the "University") requires certain permissions and warrants from you, the author(s) and/or copyright owner. If you are the copyright owner, by accepting this license, you still retain copyright to your work and do not give up the right to submit the work to publishers or other repositories. If you are not the copyright owner, you represent that the copyright owner has given you permission to deposit the work.
        %p By accepting (clicking through) this license, you grant to the University the non-exclusive right to reproduce, translate (as described below), and distribute the submission, including the descriptive information (metadata) and abstract, in any format or medium worldwide and royalty-free, including, but not limited to, publication over the Internet, except as provided for by an addendum to this agreement.
        %p When provided, the University will clearly identify your name(s) as the author(s) or copyright owner(s) of the submission as well as the name(s) of the copyright owner(s) if different from your name(s), include a statement of your copyright, and will not make any alteration, other than as allowed by this license, to your submission.
        %p You agree that the University may translate the submission to any medium or format for the purposes of security, back-up, and preservation. You agree that the University may make multiple copies of the submission for the purposes of security, back-up, and preservation.
        %p If you cannot make all of the following representations, then you shall contact the IDEALS Staff at ideals@library.illinois.edu before proceeding further. In order to make this submission, you represent that:
        %p You have the right to grant the rights contained in the license.
        %p This submission does not, to the best of your knowledge, infringe on anyone's copyright or other intellectual property rights.
        %p If the submission does contain material for which you do not hold copyright and that exceeds fair use, you have obtained the unrestricted permission of the copyright owner to grant the University the rights required by this license and that such third-party owned material is clearly identified and acknowledged within the text or content of the submission.
        %p The submission does not contain any confidential information, proprietary information of others or export controlled information.
        %p There are not any restrictions or required publication delays on the distribution of the submission by the University.
        %p The information you provide about the submission is accurate.
        %p
          %strong You understand that if copyright terms for, or ownership of, the submission change, it is your responsibility to notify the University of these changes.
        %p
          %strong You understand that you may request that the submission be withdrawn from IDEALS, and, in such an event, the descriptive information (metadata) will be retained and a copy of the submission will be retained in a 'dark archive' where it is no longer publicly accessible. The exception to this is requests to withdraw theses and dissertations electronically deposited with the Graduate College; in those cases, you understand that you must contact the Graduate College at thesis@illinois.edu to make such a request.
        %p If the submission is based upon work that has been sponsored or supported by an agency or organization other than the University, you must fulfill any right of review or other obligations required by the contract or agreement with such an agency or organization before depositing into IDEALS.
        %p By accepting this license, you acknowledge that you have read and agreed to the terms of this agreement and all related IDEALS and University policies.

-# N.B.: these questions are outside of the form because they are only read
-# by JavaScript and don't need to be submitted
.question.mb-3
  %p
    %strong Are you a creator of this work or have you been granted permission by the creator to deposit it?
  .form-check
    %input#q1-1.response.form-check-input{type: "radio", name: "q1", value: "Yes"}
    %label.form-check-label{for: "q1-1"} Yes
  .form-check
    %input#q1-2.response.form-check-input{type: "radio", name: "q1", value: "No"}
    %label.form-check-label{for: "q1-2"} No
  %p.mt-2.text-info
    %i.fa.fa-info-circle
    Deposit into IDEALS requires that the depositor be the creator of the dataset or have permission to deposit it.

%hr

.question.mb-3
  %p
    %strong Have you removed any private, confidential, export controlled, or other legally protected information from the submission?
  .form-check
    %input#q2-1.response.form-check-input{type: "radio", name: "q2", value: "Yes"}
    %label.form-check-label{for: "q2-1"} Yes
  .form-check
    %input#q2-2.response.form-check-input{type: "radio", name: "q2", value: "No"}
    %label.form-check-label{for: "q2-2"} No
  .form-check
    %input#q2-3.response.form-check-input{type: "radio", name: "q2", value: "Not applicable"}
    %label.form-check-label{for: "q2-3"} Not Applicable
  %p.mt-2.text-info
    %i.fa.fa-info-circle
    Deposit into IDEALS requires removal of any private, confidential, export controlled, or other legally protected information from the work. A selection of ‘Not Applicable’ indicates that either the work never included any such information, which a selection of ‘Yes’ indicates that such information has been removed.

%hr

.question.mb-3
  %p
    %strong Do you agree to the IDEALS Deposit Agreement in its entirety?
  .form-check
    %input#q3-1.response.form-check-input{type: "radio", name: "q3", value: "Yes"}
    %label.form-check-label{for: "q3-1"} Yes
  .form-check
    %input#q3-2.response.form-check-input{type: "radio", name: "q3", value: "No"}
    %label.form-check-label{for: "q3-2"} No
  %p.mt-2.text-info
    %i.fa.fa-info-circle
    Deposit into IDEALS requires agreement to the Deposit Agreement. Click on the Deposit Agreement heading above to view the full agreement.

%hr

= form_tag submissions_path, method: :post do
  = hidden_field_tag(:primary_collection_id, params[:collection_id])
  .row
    .col-sm-2
      = submit_tag("Begin Submission", class: "btn btn-primary")
    .col-sm-10
      #feedback.text-danger.ml-2
        = icon_for(:warning)
        The selections you have made indicate that you are not ready to deposit your dataset. IDEALS curators are available to discuss your dataset with you. Please contact us!