- provide :body_id, "edit_submission"
- provide :title, "Submit an Item"

.btn-group.float-right{role: "group"}
  = link_to(submission_path(@item), class: "btn btn-danger",
                                        role: "button",
                                        method: :delete,
                                        data: { confirm: "Are you sure you want to cancel this submission? Once canceled, it cannot be retrieved!" }) do
    %i.fa.fa-stop
    Cancel Submission

%h1 Submit an Item

.alert.alert-light
  = icon_for(:info)
  Changes are saved automatically. You can leave this page at any time and
  return to it later.

%ul.nav.nav-pills.nav-justified{role: "tablist"}
  %li.nav-item
    %a#properties-tab.nav-link.active{"data-toggle": "tab",
                                      href: "#properties",
                                      role: "tab",
                                      "aria-controls": "properties",
                                      "aria-selected": "true"} Step 1: Basic Properties
  %li.nav-item
    %a#metadata-tab.nav-link{"data-toggle": "tab",
                             href: "#metadata",
                             role: "tab",
                             "aria-controls": "metadata",
                             "aria-selected": "true"} Step 2: Metadata
  %li.nav-item
    %a#files-tab.nav-link{"data-toggle": "tab",
                          href: "#files",
                          role: "tab",
                          "aria-controls": "files",
                          "aria-selected": "true"} Step 3: Files

.tab-content
  #properties.tab-pane.fade.show.active{role: "tabpanel",
                                        "aria-labelledby": "properties-tab"}
    = render partial: "deposit_properties_form"

  #metadata.tab-pane.fade{role: "tabpanel",
                          "aria-labelledby": "metadata-tab"}
    = render partial: "deposit_metadata_form"

  #files.tab-pane.fade{role: "tabpanel",
                       "aria-labelledby": "files-tab"}
    = render partial: "deposit_files_form"
