- provide :body_id, "edit_submission"
- provide :title, "Submit an Item"

.btn-group.float-end{role: "group"}
  = link_to(submission_path(@item), class: "btn btn-danger",
                                        role: "button",
                                        method: :delete,
                                        data: { confirm: "Are you sure you want to cancel this submission? Once canceled, it cannot be retrieved!" }) do
    %i.fa.fa-stop
    Cancel Submission

%h1 Submit an Item

%ul.nav.nav-pills.nav-justified{role: "tablist"}
  %li.nav-item
    %button#properties-tab.nav-link.active{"data-bs-toggle": "tab",
                                           "data-bs-target": "#properties",
                                           role:             "tab",
                                           type:             "button",
                                           "aria-controls":  "properties",
                                           "aria-selected":  "true"}
      %span.badge.rounded-pill 1
      Pick a Collection

  %li.nav-item
    %button#access-tab.nav-link{"data-bs-toggle": "tab",
                                "data-bs-target": "#access",
                                role:             "tab",
                                type:             "button",
                                "aria-controls":  "access",
                                "aria-selected":  "true"}
      %span.badge.rounded-pill 2
      Access

  %li.nav-item
    %button#metadata-tab.nav-link{"data-bs-toggle": "tab",
                                  "data-bs-target": "#metadata",
                                  role:             "tab",
                                  type:             "button",
                                  "aria-controls":  "metadata",
                                  "aria-selected":  "true"}
      %span.badge.rounded-pill 3
      Metadata

  %li.nav-item
    %button#files-tab.nav-link{"data-bs-toggle": "tab",
                               "data-bs-target": "#files",
                               role:             "tab",
                               type:             "button",
                               "aria-controls":  "files",
                               "aria-selected":  "true"}
      %span.badge.rounded-pill 4
      Files

.tab-content
  #properties.tab-pane.fade.show.active{role:              "tabpanel",
                                        "aria-labelledby": "properties-tab"}
    = render partial: "submit_properties_form"

  #access.tab-pane.fade{role:              "tabpanel",
                        "aria-labelledby": "access-tab"}
    = render partial: "submit_access_form"

  #metadata.tab-pane.fade{role:              "tabpanel",
                          "aria-labelledby": "metadata-tab"}
    = render partial: "submit_metadata_form"

  #files.tab-pane.fade{role:              "tabpanel",
                       "aria-labelledby": "files-tab"}
    = render partial: "submit_files_form"
