- provide :body_id, "deposit-agreement-body"
- provide :title, "Submit an Item"

%h1
  Submit an Item
  - if @collection
    %small
      to
      = @collection.title

- if @submissions.any?
  #submissions-in-progress.card.text-white.bg-info.mb-3
    .card-header
      = icon_for(:info)
      = "You already have #{pluralize(@submissions.length, "submission")} in progress."
    .card-body.pb-1
      %ol
        - @submissions.each do |item|
          %li.mb-1
            - if item.title
              = link_to(raw("#{item.title} (started #{local_time_ago(item.created_at)})"),
                        edit_submission_url(item, host: item.institution.fqdn))
            - elsif item.primary_collection
              = link_to(raw("Started #{local_time_ago(item.created_at)} in #{item.primary_collection.title}"),
                        edit_submission_url(item, host: item.institution.fqdn))
            - else
              = link_to(raw("Started #{local_time_ago(item.created_at)}"),
                        edit_submission_url(item, host: item.institution.fqdn))

.alert.alert-light
  = icon_for(:info)
  To start your deposit, please review the deposit agreement and answer the
  following questions.

#deposit-agreement.accordion.mb-3
  .accordion-item
    %h3#deposit-agreement-header.accordion-header
      %button.accordion-button.collapsed{type:             "button",
                                         "data-bs-toggle": "collapse",
                                         "data-bs-target": "#deposit-agreement-collapse",
                                         "aria-expanded":  "false",
                                         "aria-controls":  "deposit-agreement-collapse"}
        = current_institution.service_name
        Deposit Agreement&nbsp;
        %span.text-info (expand)
    #deposit-agreement-collapse.accordion-collapse.collapse{"aria-labelledby": "deposit-agreement-heading",
                                                            "data-bs-parent":  "#deposit-agreement"}
      .accordion-body
        = sanitize(current_institution.deposit_agreement,
                   tags:       ApplicationHelper::ALLOWED_HTML_TAGS,
                   attributes: ApplicationHelper::ALLOWED_HTML_TAG_ATTRIBUTES)

-# N.B.: these questions are outside of the form because they are only read
-# by JavaScript and don't need to be submitted
#questions

  %p
    %strong Are you a creator of this work or have you been granted permission by the creator to deposit it?

  .row
    .col-sm-3.question
      .form-check
        %input#q1-1.response.form-check-input{type: "radio", name: "q1", value: "Yes"}
        %label.form-check-label{for: "q1-1"} Yes
      .form-check
        %input#q1-2.response.form-check-input{type: "radio", name: "q1", value: "No"}
        %label.form-check-label{for: "q1-2"} No
    .col-sm-9
      %p.mt-2.text-secondary
        %i.fa.fa-info-circle
        Deposit into
        = current_institution.service_name
        requires that the depositor be the creator of the dataset or have
        permission to deposit it.

  %hr

  %p
    %strong Have you removed any private, confidential, export controlled, or other legally protected information from the submission?

  .row
    .col-sm-3.question
      .form-check
        %input#q2-1.response.form-check-input{type: "radio", name: "q2", value: "Yes"}
        %label.form-check-label{for: "q2-1"} Yes
      .form-check
        %input#q2-2.response.form-check-input{type: "radio", name: "q2", value: "No"}
        %label.form-check-label{for: "q2-2"} No
      .form-check
        %input#q2-3.response.form-check-input{type: "radio", name: "q2", value: "Not applicable"}
        %label.form-check-label{for: "q2-3"} Not Applicable
    .col-sm-9
      %p.mt-2.text-secondary
        %i.fa.fa-info-circle
        Deposit into
        = current_institution.service_name
        requires removal of any private, confidential,
        export-controlled, or other legally protected information from the
        work. A selection of "Not Applicable" indicates that the work never
        included such information, while a selection of ‘Yes’ indicates that
        such information has been removed.

  %hr

  %p
    %strong
      Do you agree to the
      = current_institution.service_name
      Deposit Agreement in its entirety?

  .row
    .col-sm-3.question.mb-3
      .form-check
        %input#q3-1.response.form-check-input{type: "radio", name: "q3", value: "Yes"}
        %label.form-check-label{for: "q3-1"} Yes
      .form-check
        %input#q3-2.response.form-check-input{type: "radio", name: "q3", value: "No"}
        %label.form-check-label{for: "q3-2"} No
    .col-sm-9
      %p.mt-2.text-secondary
        %i.fa.fa-info-circle
        Deposit into
        = current_institution.service_name
        requires agreement to the Deposit Agreement. Click
        on the Deposit Agreement heading above to view the full agreement.

  %hr

  = form_tag(submissions_path, method: :post) do
    = hidden_field_tag(:primary_collection_id, @collection&.id)
    .row
      .col-sm-3
        = submit_tag("Begin Submission", class: "btn btn-secondary btn-lg")
      .col-sm-9
        #feedback.text-danger.ms-2
          = icon_for(:warning)
          The selections you have made indicate that you are not ready to deposit your dataset.
          = current_institution.service_name
          curators are available to discuss your dataset with you. Please contact us!