- provide :body_id, "deposit-agreement-body"
- provide :title, "Submit an Item"

%h1
  Submit an Item
  - if @collection
    %small
      to
      = @collection.title

- if @submissions.any?
  #submissions-in-progress.card.text-white.bg-info.mb-3
    .card-header
      = icon_for(:info)
      = "You have #{pluralize(@submissions.length, "submission")} in progress."
    .card-body.pb-1
      %ol
        - @submissions.each do |item|
          %li.mb-1
            - if item.title
              = link_to(raw("#{item.title} (started #{local_time_ago(item.created_at)})"),
                        edit_submission_url(item, host: item.institution.fqdn))
            - elsif item.primary_collection
              = link_to(raw("Started #{local_time_ago(item.created_at)} in #{item.primary_collection.title}"),
                        edit_submission_url(item, host: item.institution.fqdn))
            - else
              = link_to(raw("Started #{local_time_ago(item.created_at)}"),
                        edit_submission_url(item, host: item.institution.fqdn))

- if current_institution.deposit_agreement.present?
  .alert.alert-light
    = icon_for(:info)
    To start your deposit, please review the deposit agreement and answer the
    following questions.

  #deposit-agreement.accordion.mb-3
    .accordion-item
      %h3#deposit-agreement-header.accordion-header
        %button.accordion-button.collapsed{type:             "button",
                                           "data-bs-toggle": "collapse",
                                           "data-bs-target": "#deposit-agreement-collapse",
                                           "aria-expanded":  "false",
                                           "aria-controls":  "deposit-agreement-collapse"}
          = current_institution.service_name
          Deposit Agreement&nbsp;
          %span.text-info (expand)
      #deposit-agreement-collapse.accordion-collapse.collapse{"aria-labelledby": "deposit-agreement-heading",
                                                              "data-bs-parent":  "#deposit-agreement"}
        .accordion-body
          = sanitize(current_institution.deposit_agreement,
                     tags:       ApplicationHelper::ALLOWED_HTML_TAGS,
                     attributes: ApplicationHelper::ALLOWED_HTML_TAG_ATTRIBUTES)

-# N.B.: these questions are outside of the form because they are only read
-# by JavaScript and don't need to be submitted
#questions
  - current_institution.deposit_agreement_questions.each do |question|
    %p
      %strong= question.text
    .row
      .col-sm-4.question
        - question.responses.each do |response|
          .form-check
            %input.response.form-check-input{type:           "radio",
                                             id:             "response-#{response.id}",
                                             name:           "question-#{question.id}",
                                             value:          "Yes",
                                             "data-success": response.success ? "true" : "false"}
            %label.form-check-label{for: "response-#{response.id}"}= response.text
      .col-sm-8
        - if question.help_text.present?
          %p.mt-2.text-secondary
            %i.fa.fa-info-circle
            = question.help_text
    %hr

  = form_tag(submissions_path, method: :post) do
    = hidden_field_tag(:primary_collection_id, @collection&.id)
    .row
      .col-sm-3
        = submit_tag("Begin Submission", class: "btn btn-secondary btn-lg")
      .col-sm-9
        #feedback.text-danger.ms-2
          = icon_for(:warning)
          - if current_institution.deposit_form_disagreement_help.present?
            = current_institution.deposit_form_disagreement_help
          - else
            The selections you have made indicate that you are not ready to deposit your dataset.
            Our curators are available to discuss your dataset with you. Please contact us!