-# frozen_string_literal: true
= simple_form_for(@invitee_note) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :invitee_id
    = f.input :note
    = f.input :source

  .form-actions
    = f.button :submit
