%h1 Listing invitee_notes

%table
  %thead
    %tr
      %th Invitee
      %th Note
      %th Source
      %th
      %th
      %th

  %tbody
    - @invitee_notes.each do |invitee_note|
      %tr
        %td= invitee_note.invitee_id
        %td= invitee_note.note
        %td= invitee_note.source
        %td= link_to 'Show', invitee_note
        %td= link_to 'Edit', edit_invitee_note_path(invitee_note)
        %td= link_to 'Destroy', invitee_note, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Invitee note', new_invitee_note_path
