%p#notice= notice

%p
  %b Invitee:
  = @invitee_note.invitee_id
%p
  %b Note:
  = @invitee_note.note
%p
  %b Source:
  = @invitee_note.source

= link_to 'Edit', edit_invitee_note_path(@invitee_note)
\|
= link_to 'Back', invitee_notes_path
