%h1 Listing identities

%table
  %thead
    %tr
      %th Name
      %th Email
      %th Password digest
      %th Activation digest
      %th Activated
      %th Activated at
      %th Reset digest
      %th Invitee
      %th Reset sent at
      %th
      %th
      %th

  %tbody
    - @identities.each do |identity|
      %tr
        %td= identity.name
        %td= identity.email
        %td= identity.password_digest
        %td= identity.activation_digest
        %td= identity.activated
        %td= identity.activated_at
        %td= identity.reset_digest
        %td= identity.invitee_id
        %td= identity.reset_sent_at
        %td= link_to 'Show', identity
        %td= link_to 'Edit', edit_identity_path(identity)
        %td= link_to 'Destroy', identity, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Identity', new_identity_path
