- provide :title, "Reset Password"

%h1 Reset Password

= form_for(@identity, url: identity_reset_password_path(@identity, token: @token)) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  = hidden_field_tag :token, @token

  .form-group
    = f.label :password, "New Password"
    = f.password_field :password, class: "form-control"
  .form-group
    = f.label :password_confirmation, "Confirm Password"
    = f.password_field :password_confirmation, class: "form-control"
  .form-group
    = f.submit("Reset Password", class: 'btn btn-primary')
