-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# item [Item]
-#

= form_for(item, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# Include this only because `item` is required in the params.
  = f.hidden_field :id, value: f.object.id

  - embargoes = item.current_embargoes.order(:expires_at)
  - if embargoes.any?
    - embargoes.each_with_index do |embargo, index|
      = embargoes_form_card(embargo: embargo, index: index)
  - else
    = embargoes_form_card

  %button.btn.btn-success.add-embargo{type: "button"}
    %i.fa.fa-plus

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Edit", class: 'btn btn-primary')
