-# frozen_string_literal: true
= simple_form_for(@resource) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :submitter_email
    = f.input :submitter_auth_provider
    = f.input :in_archive
    = f.input :withdrawn
    = f.input :collection_id
    = f.input :discoverable

  .form-actions
    = f.button :submit
