%form(action="#{form_action}" id="searchForm" accept-charset="UTF-8" method="get" )
  .row
    .col-md-5
      .input-group.search-control
        -if params.has_key?('q') && params['q'] && params['q'].length > 0
          %input(type="text" class="form-control q" name="q" aria-label="search input box" value="#{params['q']}" )
        -else
          %input(type="text" class="form-control q" name="q" aria-label="search input box" placeholder="#{search_prompt}" )
        %span(class="input-group-btn" )
          %button(type="submit" class="btn btn-primary" id="submitSearch")
            %span(class="glyphicon glyphicon-search" aria-hidden="true" )
          %button(type="button" class="btn btn-danger" onclick="clearSearchTerm()" )
            %span(class="glyphicon glyphicon-remove" aria-hidden="true" )
    .col-md-5
      = will_paginate search.results, previous_label: "<".html_safe, next_label: ">".html_safe, renderer: BootstrapPagination::Rails
    .col-md-2
      = select_tag :per_page, options_for_select([['25 per page', '25'], ['50 per page', '50'], ['Show All', '500']], params[:per_page]), onchange: 'set_per_page()', class: "form-control search-control"

-if search
  .row
    .col-sm-12
      =page_entries_info(search.results)

  %ul
    -search.each_hit_with_result do |hit, item|
      %li
        %a(href="#{IDEALS_CONFIG[:root_url_text]}/handle/#{item.relative_handle}")
          =item.title
