-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# item [Item]
-#

= form_for(item, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = hidden_field_tag :initial_primary_collection_unit_id, f.object.primary_collection&.primary_unit_id
  = hidden_field_tag :initial_primary_collection_id, f.object.primary_collection_id

  .form-group
    = f.label :unit_id, "Unit"
    = select_tag(:unit_id, options_for_select(unit_tree_options(include_blank: f.object&.primary_collection&.primary_unit_id.blank?)),
                 class: "custom-select")

  .form-group
    = f.label :primary_collection_id, "Primary Collection"
    = f.select(:primary_collection_id, options_for_select([]),
               {}, class: "custom-select")

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Edit", class: 'btn btn-primary')
