-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# item [Item]
-#

= form_for(item, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  - if current_user.effective_institution_admin?(f.object.institution, client_ip: request_context.client_ip, client_hostname: request_context.client_hostname)
    - unit_options = unit_tree_options(institution:        f.object.institution,
                                       include_only_admin: true,
                                       include_blank:      false)
  - else
    - unit_options = unit_list_options(user:        current_user,
                                       institution: f.object.institution)
  - f.object.collection_item_memberships.each do |membership|
    .row.unit-collection-combo
      = hidden_field_tag "initial_unit_ids[]", membership.collection.primary_unit.id
      = hidden_field_tag "initial_collection_ids[]", membership.collection.id
      .col-sm-9
        .mb-3.row
          = label_tag :unit_id, "Unit", class: "col-sm-2 col-form-label"
          .col-sm-10
            = select_tag(:unit_id, options_for_select(unit_options, membership.collection.primary_unit.id),
                         class: "form-select unit-menu")
        .mb-3.row
          = label_tag('collection_item_memberships[][collection_id]', "Collection",
                      class: "col-sm-2 col-form-label")
          .col-sm-10
            -# will by populated via JS
            = select_tag('collection_item_memberships[][collection_id]', options_for_select([]),
                         class: "form-select collection-menu",
                         data: { "unit-id": membership.collection.primary_unit.id })
      .col-sm-1.col-primary
        .form-check{style: "white-space: nowrap"}
          = radio_button_tag('collection_item_memberships[][primary]', "true",
                             checked: membership.primary,
                             class: 'form-check-input primary')
          = label_tag('collection_item_memberships[][primary]', "Primary")
      .col-sm-2.col-buttons
        %button.btn.btn-sm.btn-outline-danger.remove-collection
          %i.fa.fa-minus
          Remove

  %button.btn.btn-sm.btn-outline-success.add-collection
    %i.fa.fa-plus
    Add Collection

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: 'btn btn-primary')
