-# frozen_string_literal: true
-#
-# Required arguments:
-#
-# item [Item]
-#

= form_for(item, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  %h5 User Groups Allowed to Access Files

  .alert.alert-light
    %i.fa.fa-info-circle
    If no boxes are checked, files are unrestricted.

  .mb-3
    = hidden_field_tag("item_bitstream_authorized_groups[]", nil)
    - f.object.institution.user_groups.order(:name).each do |group|
      .form-check
        = check_box_tag("item_bitstream_authorized_groups[]", group.id,
                        f.object.bitstream_authorizations.map(&:user_group_id).include?(group.id),
                        id: "item_bitstream_authorized_groups_#{group.id}",
                        class: "form-check-input")
        = label_tag("item_bitstream_authorized_groups_#{group.id}",
                    group.name,
                    class: "form-check-label")

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: 'btn btn-primary')
