.btn-group.float-right{role: "group"}
  - if policy(@item).edit_properties?
    %button.btn.btn-light.edit-item-properties{"data-item-id": @item.id,
                                               "data-target": "#edit-item-properties-modal",
                                               "data-toggle": "modal",
                                               role: "button"}
      %i.fas.fa-pencil-alt
      Edit Properties

%dl
- if @item.submitter
  - submitter = @item.submitter.becomes(User)
  %dt Submitter
  %dd
    - if policy(submitter).show?
      = link_to(submitter.name, submitter)
    - else
      = submitter.name
%dt In Submission Process
%dd= @item.submitting
%dt In Archive
%dd= @item.in_archive
%dt Discoverable
%dd= @item.discoverable
%dt Withdrawn
%dd= @item.withdrawn
%dt Created
%dd= local_time @item.created_at
%dt Last Updated
%dd= local_time @item.updated_at
