%dl
  %dt Unit Administrators
  %dd
    - admins = @resource.all_unit_administrators
    - if admins.any?
      %ul
        - admins.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None
  %dt Collection Managers
  %dd
    - managers = @resource.all_collection_managers
    - if managers.any?
      %ul
        - managers.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None
  %dt Collection Submitters
  %dd
    - submitters = @resource.all_collection_submitters
    - if submitters.any?
      %ul
        - submitters.each do |user|
          %li= link_to(user.name, "mailto:#{user.email}")
    - else
      None
