- if policy(@item).show_access?
  %h2.mt-5 Access

  %dl
    %dt Unit Administrators
    %dd
      - admins = @item.all_unit_administrators
      - if admins.any?
        %ul
          - admins.each do |user|
            %li= link_to(user.name, "mailto:#{user.email}")
      - else
        None
    %dt Collection Managers
    %dd
      - managers = @item.all_collection_managers
      - if managers.any?
        %ul
          - managers.each do |user|
            %li= link_to(user.name, "mailto:#{user.email}")
      - else
        None
    %dt Collection Submitters
    %dd
      - submitters = @item.all_collection_submitters
      - if submitters.any?
        %ul
          - submitters.each do |user|
            %li= link_to(user.name, "mailto:#{user.email}")
      - else
        None
