%ul.nav.nav-pills.mt-3{role: "tablist"}
  %li.nav-item{role: "presentation"}
    %button#download-chart-tab.nav-link.active{"data-bs-toggle": "tab",
                                               "data-bs-target": "#download-chart-content",
                                               role:             "tab",
                                               type:             "button",
                                               "aria-controls":  "download-chart-content",
                                               "aria-selected":  "true"} Chart
  %li.nav-item{role: "presentation"}
    %button#download-table-tab.nav-link{"data-bs-toggle": "tab",
                                        "data-bs-target": "#download-table-content",
                                        role:             "tab",
                                        type:             "button",
                                        "aria-controls":  "download-table-content",
                                        "aria-selected":  "true"} Table

.tab-content
  #download-chart-content.tab-pane.fade.show.active{role:              "tabpanel",
                                                    "aria-labelledby": "download-chart-tab"}
    -# We will read this data on the client side in order to render the chart.
    = hidden_field_tag("chart-data", JSON.generate(@counts_by_month.to_a))
    %canvas#download-chart

  #download-table-content.tab-pane.fade{role: "tabpanel",
                                        "aria-labelledby": "download-table-tab"}
    = link_to(item_download_counts_path(@item,
                                        format: :csv,
                                        params: params.permit(:from_year, :from_month, :to_year, :to_month)),
                                        class: "btn btn-light mb-3 float-right") do
      %i.fa.fa-download
      CSV

    %table.table
      %thead
        %tr
          %th Month
          %th Downloads
      %tbody
        - @counts_by_month.each do |row|
          %tr
            %td= row['month'].strftime("%B %Y")
            %td= number_with_delimiter(row['dl_count'])
        %tr
          %th Total
          %th= number_with_delimiter(@counts_by_month.map{ |row| row['dl_count'] }.sum)
