- if policy(@item).show_properties?
  %h2.mt-5
    Properties
    - if policy(@item).edit_properties?
      %button.btn.btn-light.edit-item-properties{"data-item-id":   @item.id,
                                                 "data-bs-target": "#edit-item-properties-modal",
                                                 "data-bs-toggle": "modal",
                                                 role:             "button"}
        %i.fas.fa-pencil-alt
        Edit

  %dl.properties
    %dt Handle URI
    %dd
      - if @item.handle
        = link_to(@item.handle.permanent_url, @item.handle.permanent_url)
      - else
        None
    - if @item.submitter
      - submitter = @item.submitter
      %dt Submitter
      %dd
        - if policy(submitter).show?
          = link_to(submitter.name, submitter)
        - else
          = submitter.name
    %dt Lifecycle Stage
    %dd
      = Item::Stages.constants.find{ |c| @item.stage == Item::Stages.const_get(c) }&.to_s&.downcase&.capitalize
      - if @item.stage_reason.present?
        %br
        = @item.stage_reason
    %dt User Groups Allowed to Access Files
    %dd
      - if @item.bitstream_authorizations.any?
        %ul
          - @item.bitstream_authorizations.each do |auth|
            %li= link_to(auth.user_group.name, auth.user_group)
      - else
        Any
    %dt Created
    %dd= local_time @item.created_at
    %dt Last Updated
    %dd= local_time @item.updated_at
