%dl
  - if @resource.submitter
    - submitter = @resource.submitter.becomes(User)
    %dt Submitter
    %dd
      - if policy(submitter).show?
        = link_to(submitter.name, submitter)
      - else
        = submitter.name
  %dt In archive
  %dd= @resource.in_archive
  %dt Withdrawn
  %dd= @resource.withdrawn
  %dt Discoverable
  %dd= @resource.discoverable
  %dt Created
  %dd= @resource.created_at
  %dt Last Updated
  %dd= @resource.updated_at
