%ul.list-unstyled
  - @bitstreams.each do |bs|
    %li.media.mb-3
      .mr-3.type-icon
        = icon_for(bs)
      .media-body
        %h5.mt-0.mb-1
          = bs.original_filename
          - if bs.exists_in_staging || bs.medusa_uuid.present?
            = link_to(item_bitstream_data_path(@item, bs), class: "btn btn-sm btn-outline-primary") do
              %i.fa.fa-download
              Download
        - if policy(@item).show_sysadmin_content?
          .row
            .col-md-4
              %dl
                %dt Media Type
                %dd
                  - if bs.media_type
                    = bs.media_type
                  - else
                    Unknown
                %dt Size
                %dd= number_to_human_size(bs.length)
            .col-md-8
              %dl
                %dt Database ID
                %dd= bs.id
                %dt Submitted For Ingest
                %dd= boolean(bs.submitted_for_ingest, style: :word)
                - if bs.exists_in_staging && bs.staging_key
                  %dt Staging Key
                  %dd= bs.staging_key
                - if bs.medusa_uuid
                  %dt Medusa UUID
                  %dd= link_to(bs.medusa_uuid, bs.medusa_url)
                  %dt Medusa Key
                  %dd
                    %code= bs.medusa_key
        - else
          %span
          - if bs.media_type.present?
            = bs.media_type
          - else
            Unknown
          = number_to_human_size(bs.length)
