%ul.list-unstyled
  - @bitstreams.each do |bs|
    %li.media.mb-3
      .mr-3
        = icon_for(bs)
      .media-body
        %h5.mt-0.mb-1= bs.original_filename
        %span
          - if bs.media_type.present?
            = bs.media_type
            &bull;
          = number_to_human_size(bs.length)
        - if policy(@resource).show_sysadmin_content?
          %br
          %span
            = bs.key