- show_sysadmin_content = policy(@item).show_sysadmin_content?

- content_bitstreams = @bitstreams.select{ |b| b.bundle == Bitstream::Bundle::CONTENT }
- other_bitstreams   = @bitstreams.reject{ |b| b.bundle == Bitstream::Bundle::CONTENT }

%h2.mt-3
  Files
  .btn-group
    - if policy(@item).upload_bitstreams?
      %button.btn.btn-light.upload-item-files{"data-item-id": @item.id,
                                            "data-target": "#upload-item-files-modal",
                                            "data-toggle": "modal",
                                            role: "button"}
        %i.fas.fa-upload
        Upload
    - if policy(@item).download_counts?
      %button.btn.btn-light.download-counts{"data-item-id": @item.id,
                                            "data-target": "#download-counts-modal",
                                            "data-toggle": "modal",
                                            role: "button"}
        %i.fa.fa-chart-bar
        Download Counts&hellip;

%h4 Main Files
- content_bitstreams.each do |bitstream|
  = bitstream_info(bitstream, show_sysadmin_content: show_sysadmin_content)

- if other_bitstreams.any?
  %h4#other-files-heading
    = link_to("#other-files",
              "data-toggle":   "collapse",
              role:            "button",
              "aria-expanded": false,
              "aria-controls": "other-files") do
      %i.far.fa-plus-square
      Other Files
  #other-files.collapse
    - other_bitstreams.each do |bitstream|
      = bitstream_info(bitstream, show_sysadmin_content: show_sysadmin_content)

= render partial: "shared/ajax_modal",
         locals: { id: "download-counts-modal",
                   title: "Download Counts",
                   size: "lg" }
= render partial: "shared/ajax_modal",
         locals: { id: "upload-item-files-modal",
                   title: "Upload Files",
                   size: "lg" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-bitstream-modal",
                   title: "Edit File" }
