- provide :body_id, "export_items"
- provide :title, "Export Items"

%h1 Export Items

= form_tag(method: :post) do |f|
  .mb-3
    = label_tag :handles, "Collection/Unit Handles"
    = text_field_tag :handles, nil, class: "form-control"
    %small.form-text Separate multiple handles with commas.

  .mb-3
    %h4
      Elements
      .btn-group{role: "group"}
        %button#check-all.btn.btn-light.btn-sm
          %i.far.fa-check-square
          Check All

    = hidden_field_tag "elements[]", ""
    - @registered_elements.each do |element|
      .form-check
        = check_box_tag "elements[]",
                        element.name,
                        false,
                        id: "element-#{element.id}",
                        class: "form-check-input"
        = label_tag "elements[]",
                    element.label,
                    for: "element-#{element.id}",
                    class: "form-check-label"

  = submit_tag "Export CSV", class: "btn btn-primary"
