- provide :body_id, "show_item"
- provide :title, @item.title

= google_analytics_tags

= hidden_field_tag(:item_id, @item.id)

= render partial: "show_button_group"

- if @item.stage == Item::Stages::REJECTED
  .alert.alert-danger
    %i.fa.fa-exclamation-triangle
    This item has been rejected.

%h1= @item.title

%h4.creators= @item.authors.map(&:string).join("; ")

.mb-3

- result = policy(@item).file_navigator
- if !result[:authorized]
  .alert.alert-secondary
    %i.fa.fa-lock
    = result[:reason]
- elsif @content_bitstreams.any? || @other_bitstreams.any?
  #file-navigator
    = spinner
    -# items/_file_navigator is inserted here via XHR

- if @item.handle
  %h2.mt-5 Permalink
  %p.permalink
    = @item.handle.permanent_url
    %button.btn.btn-light.btn-sm.copy
      %i.fas.fa-paste
      Copy

= render partial: "show_metadata_section"
= render partial: "show_collections_section"
= render partial: "show_properties_section"
= render partial: "show_embargoes_section"
= render partial: "show_access_section"
= render partial: "show_events_section"
= render partial: "show_indexing_section" if Rails.env.development?

= render partial: "shared/xhr_modal",
         locals: { id:    "manage-item-files-modal",
                   title: "Manage Files",
                   size:   "lg" }
= render partial: "shared/xhr_modal",
         locals: { id:    "edit-item-membership-modal",
                   title: "Edit Collection Membership",
                   size:  :xl }
= render partial: "shared/xhr_modal",
         locals: { id:    "edit-item-metadata-modal",
                   title: "Edit Metadata",
                   size:  :xl }
= render partial: "shared/xhr_modal",
         locals: { id:    "edit-item-properties-modal",
                   title: "Edit Properties" }
= render partial: "shared/xhr_modal",
         locals: { id:    "edit-item-embargoes-modal",
                   title: "Embargoes",
                   size:  :lg }

= include_chart_library