- provide :body_id, "show_item"
- provide :title, "Withdrawn Item"

.text-center
  %h1 410 Gone
  %hr
  %p This item has been withdrawn.

= render partial: "show_button_group"

= render partial: "show_metadata_section"
= render partial: "show_collections_section"
= render partial: "show_properties_section"
= render partial: "show_events_section"

= render partial: "shared/ajax_modal",
         locals: { id: "upload-item-files-modal",
                   title: "Upload Files",
                   size: "lg" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-membership-modal",
                   title: "Edit Membership",
                   size: :xl }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-metadata-modal",
                   title: "Edit Metadata",
                   size: :xl }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-properties-modal",
                   title: "Edit Properties" }

= include_chart_library