- provide :body_id, "show_item"
- provide :title, @item.title

= render partial: "show_button_group"

%h1
  = icon_for(@item)
  = @item.title

%h4.creators= @item.creators

%hr

- if @item.handle
  .row
    .col-md-6.col-lg-5.handle
      .card.text-white.bg-primary.handle.mt-3
        .card-header
          Use this link to cite this item:
        .card-body
          = link_to(@item.handle.handle_net_url, @item.handle.handle_net_url)

= render partial: "show_files_section"
= render partial: "show_metadata_section"

%h2.mt-5
  Owning Collections
  - if policy(@item).edit_membership?
    %button.btn.btn-light.edit-item-membership{"data-item-id": @item.id,
                                               "data-target": "#edit-item-membership-modal",
                                               "data-toggle": "modal",
                                               role: "button"}
      %i.fas.fa-pencil-alt
      Change
= resource_list(@collections, primary_id: @item.primary_collection_id)

= render partial: "show_properties_section"
= render partial: "show_access_section"

= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-membership-modal",
                   title: "Edit Membership" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-metadata-modal",
                   title: "Edit Metadata",
                   size: :xl }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-properties-modal",
                   title: "Edit Properties" }