- provide :body_id, "show_item"
- provide :title, @resource.title

= render partial: "show_button_group"

%h1
  = icon_for(@resource)
  = @resource.title

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %a#metadata-tab.nav-link.active{href: "#metadata-tab-content",
                                    "data-toggle": "tab",
                                    role: "tab",
                                    "aria-controls": "metadata-tab-content",
                                    "aria-selected": "true"}
      = icon_for(AscribedElement)
      Metadata
  %li.nav-item
    %a#properties-tab.nav-link{href: "#properties-tab-content",
                               "data-toggle": "tab",
                               role: "tab",
                               "aria-controls": "properties-tab-content",
                               "aria-selected": "true"}
      %i.fa.fa-info-circle
      Properties
  %li.nav-item
    %a#collections-tab.nav-link{href: "#collections-tab-content",
                                "data-toggle": "tab",
                                role: "tab",
                                "aria-controls": "collections-tab-content",
                                "aria-selected": "true"}
      = icon_for(Collection)
      Owning Collections
  - if policy(@resource).show_access?
    %li.nav-item
      %a#access-tab.nav-link{href: "#access-tab-content",
                             "data-toggle": "tab",
                             role: "tab",
                             "aria-controls": "access-tab-content",
                             "aria-selected": "true"}
        %i.fa.fa-users
        Access

.tab-content
  #metadata-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                                  "aria-labelledby": "metadata-tab"}
    = render partial: "show_metadata_tab"

  #properties-tab-content.tab-pane.fade{role: "tabpanel",
                                        "aria-labelledby": "properties-tab"}
    = render partial: "show_properties_tab"

  #collections-tab-content.tab-pane{role: "tabpanel",
                                    "aria-labelledby": "collections-tab"}
    = render partial: "show_collections_tab"

  - if policy(@resource).show_access?
    #access-tab-content.tab-pane{role: "tabpanel",
                                 "aria-labelledby": "access-tab"}
      = render partial: "show_access_tab"

= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-membership-modal",
                   title: "Edit Membership" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-metadata-modal",
                   title: "Edit Metadata",
                   size: :xl }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-properties-modal",
                   title: "Edit Properties" }