- provide :body_id, "show_item"
- provide :title, "Deleted Item"

.btn-group.float-end{role: "group"}
  - if policy(@item).undelete?
    -# Undelete button
    = link_to(item_undelete_path(@item), class:  "btn btn-danger",
                                         role:   "button",
                                         method: :post,
                                         data:   { confirm: "Are you sure you want to undelete this item?" }) do
      %i.fa.fa-trash-restore
      Undelete

.clearfix
.text-center
  %h1 410 Gone
  %hr
  %p This item has been deleted.

= render partial: "show_metadata_section"
= render partial: "show_collections_section"
= render partial: "show_properties_section"
= render partial: "show_events_section"