- provide :body_id, "show_item"
- provide :title, "Rejected Item"

= render partial: "show_button_group"

.clearfix
.text-center
  %h1 410 Gone
  %hr
  %p This item has been rejected.

= render partial: "show_metadata_section"
= render partial: "show_collections_section"
= render partial: "show_properties_section"
= render partial: "show_events_section"

= render partial: "shared/xhr_modal",
         locals: { id:    "edit-item-membership-modal",
                   title: "Edit Collection Membership",
                   size:  :xl }
= render partial: "shared/xhr_modal",
         locals: { id:    "edit-item-metadata-modal",
                   title: "Edit Metadata",
                   size:  :xl }
= render partial: "shared/xhr_modal",
         locals: { id:    "edit-item-properties-modal",
                   title: "Edit Properties" }