%p#notice= notice

%h1= @resource.title

- if @resource.withdrawn
  .alert.alert-info
    This item has been withdrawn.
- elsif !@resource.in_archive
  .alert.alert-info
    This item is not in archive.
- elsif !@resource.discoverable
  .alert.alert-info
    This item is not discoverable.

- if policy(@resource).show?
  %ul.nav.nav-tabs{role: "tablist"}
    %li.nav-item
      %a#metadata-tab.nav-link.active{href: "#metadata-tab-content",
                                      "data-toggle": "tab",
                                      role: "tab",
                                      "aria-controls": "metadata-tab-content",
                                      "aria-selected": "true"}
        = icon_for(AscribedElement)
        Metadata
    %li.nav-item
      %a#properties-tab.nav-link{href: "#properties-tab-content",
                                 "data-toggle": "tab",
                                 role: "tab",
                                 "aria-controls": "properties-tab-content",
                                 "aria-selected": "true"}
        %i.fa.fa-info-circle
        Properties
    %li.nav-item
      %a#collections-tab.nav-link{href: "#collections-tab-content",
                                  "data-toggle": "tab",
                                  role: "tab",
                                  "aria-controls": "collections-tab-content",
                                  "aria-selected": "true"}
        = icon_for(Collection)
        Collections

  .tab-content
    #metadata-tab-content.tab-pane.fade.show.active{role: "tabpanel",
                                             "aria-labelledby": "metadata-tab"}
      = metadata_as_dl(@resource.effective_metadata_profile,
                       @resource.elements)

    #properties-tab-content.tab-pane.fade{role: "tabpanel",
                                          "aria-labelledby": "properties-tab"}
      %dl
        - if @resource.submitter
          - submitter = @resource.submitter.becomes(User)
          %dt Submitter
          %dd
            - if policy(submitter).show?
              = link_to(submitter.name, submitter)
            - else
              = submitter.name
        %dt In archive
        %dd= @resource.in_archive
        %dt Withdrawn
        %dd= @resource.withdrawn
        %dt Discoverable
        %dd= @resource.discoverable

    #collections-tab-content.tab-pane{role: "tabpanel",
                                      "aria-labelledby": "collections-tab"}
      = resource_list(@collections)