- provide :body_id, "show_item"
- provide :title, @item.title

= render partial: "show_button_group"

%h1
  = icon_for(@item)
  = @item.title

%h4.creators= @item.creators

%hr

- if @item.handle
  %h2.mt-5 Permalink
  %p.permalink
    = @item.handle.handle_net_url
    %button.btn.btn-light.btn-sm.copy
      %i.fas.fa-paste
      Copy

= render partial: "show_files_section"
= render partial: "show_metadata_section"
= render partial: "show_collections_section"
= render partial: "show_properties_section"
= render partial: "show_access_section"
= render partial: "show_events_section"

= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-membership-modal",
                   title: "Edit Membership",
                   size: :xl }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-metadata-modal",
                   title: "Edit Metadata",
                   size: :xl }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-item-properties-modal",
                   title: "Edit Properties" }