#password-requirements.alert.alert-light
  %p
    = icon_for(:info)
    Passwords must meet the following criteria:
  %ul
    %li#min-length{'data-value': Credential::PASSWORD_MIN_LENGTH}
      %i.fa.fa-check.text-success
      At least
      = Credential::PASSWORD_MIN_LENGTH
      characters
    %li#min-lowercase-letters{'data-value': Credential::PASSWORD_MIN_LOWERCASE_LETTERS}
      %i.fa.fa-check.text-success
      At least
      = pluralize(Credential::PASSWORD_MIN_LOWERCASE_LETTERS, "lowercase letter")
    %li#min-uppercase-letters{'data-value': Credential::PASSWORD_MIN_UPPERCASE_LETTERS}
      %i.fa.fa-check.text-success
      At least
      = pluralize(Credential::PASSWORD_MIN_UPPERCASE_LETTERS, "uppercase letter")
    %li#min-numbers{'data-value': Credential::PASSWORD_MIN_NUMBERS}
      %i.fa.fa-check.text-success
      At least
      = pluralize(Credential::PASSWORD_MIN_NUMBERS, "number")
    %li#min-special-characters{'data-value':      Credential::PASSWORD_MIN_SPECIAL_CHARACTERS,
                               'data-characters': Credential::PASSWORD_SPECIAL_CHARACTERS}
      %i.fa.fa-check.text-success
      At least
      = pluralize(Credential::PASSWORD_MIN_SPECIAL_CHARACTERS, "special character")
