- provide :title, "Reset Password"

%h1 Reset Password

= form_for(@credential, url: credential_reset_password_path(@credential, token: @token)) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = render partial: "password_requirements"

  = hidden_field_tag :token, @token

  .mb-3
    = f.label :password, "New Password"
    = f.password_field :password, class: "form-control"
  .mb-3
    = f.label :password_confirmation, "Confirm Password"
    = f.password_field :password_confirmation, class: "form-control"
  .mb-3
    = f.submit("Reset Password", class: 'btn btn-primary')
