- provide :title, "Register"
- provide :body_id, "register"

%h1 Register a New Account

= form_for(@credential, method: :patch, url: credential_path(@credential, token: @token)) do |f|

  = f.fields_for(:user, @user) do |u|
    .row.mb-3
      = u.label :name, class: "col-sm-3 col-form-label"
      .col-sm-9
        = u.text_field :name, class: "form-control", required: true

  .row.mb-3
    = f.label :email, class: "col-sm-3 col-form-label"
    .col-sm-9.col-form-label
      = f.object.email
  .row.mb-3
    = f.label :institution_id, "Institution", class: "col-sm-3 col-form-label"
    .col-sm-9.col-form-label
      = f.object.user.institution ? f.object.user.institution.name : "None"

  = render partial: "password_requirements"

  .row.mb-3
    = f.label :password, class: "col-sm-3 col-form-label"
    .col-sm-9
      = f.password_field :password, class: "form-control", required: true
  .row.mb-3
    = f.label :password_confirmation, class: "col-sm-3 col-form-label"
    .col-sm-9
      = f.password_field :password_confirmation, class: "form-control", required: true

  - captcha_hash = captcha
  .row.mb-3
    = captcha_hash[:label]
    .col-sm-9
      = captcha_hash[:field]

  .row
    .col-sm-3
    .col-sm-9
      %button.btn.btn-primary{type: "submit"} Register
