-# @param vocabulary [Vocabulary]

= form_for(vocabulary, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = f.hidden_field :institution_id, value: f.object.institution_id

  .mb-3
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Vocabulary" : "Save Changes",
                 class: "btn btn-primary")
