- provide :body_id, "show_vocabulary"
- provide :title, @vocabulary.name

.btn-group.float-end{role: "group"}
  - if policy(@vocabulary).edit?
    -# Add Term button
    %button.btn.btn-light.add-term{"data-bs-target":     "#add-term-modal",
                                   "data-bs-toggle":     "modal",
                                   "data-vocabulary-id": @vocabulary.id,
                                   type:                 "button"}
      %i.fa.fa-plus
      Add Term
    - # Import Terms button
    %button.btn.btn-light.import-terms{"data-bs-target":     "#import-terms-modal",
                                       "data-bs-toggle":     "modal",
                                       "data-vocabulary-id": @vocabulary.id,
                                       type:                 "button"}
      %i.fa.fa-file-import
      Import Terms&hellip;

    -# Edit button
    %button.btn.btn-light.edit-vocabulary{"data-bs-target":     "#edit-vocabulary-modal",
                                          "data-bs-toggle":     "modal",
                                          "data-vocabulary-id": @vocabulary.id,
                                          type:                 "button"}
      %i.fa.fa-pencil-alt
      Edit
  - if policy(@vocabulary).destroy?
    -# Delete button
    = link_to(vocabulary_path(@vocabulary), class:  "btn btn-danger",
                                            role:   "button",
                                            method: :delete,
                                            data:   { confirm: "Are you sure you want to delete this vocabulary?" }) do
      %i.fa.fa-trash
      Delete

%h1= @vocabulary.name

.card.mb-3
  .card-body
    .row.justify-content-between
      .col-4
        = form_tag(vocabulary_path(@vocabulary)) do
          .filter-field
            = filter_field(placeholder: "Filter")

#terms-list
  = render partial: "terms"

= render partial: "shared/xhr_modal",
         locals: { id: "edit-vocabulary-modal", title: "Edit Vocabulary" }
= render partial: "shared/xhr_modal",
         locals: { id: "add-term-modal", title: "Add Term" }
= render partial: "shared/xhr_modal",
         locals: { id: "import-terms-modal", title: "Import Terms" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-term-modal", title: "Edit Term" }
