-# frozen_string_literal: true
//
// Required locals:
//
// unit [Unit]
// context [Symbol] `:new` or `:edit`
//
= form_for(unit, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = label_tag :parent_id, "Parent Unit"
    = f.select(:parent_id,
        unit_tree_options_for_select(unit.parent, true),
        {}, { class: "custom-select" })

  .form-group
    = f.label :primary_administrator_id, "Primary Administrator"
    = f.select(:primary_administrator_id,
        options_for_select(User::User.all.order(:name).map{ |u| [u.name, u.id] },
                           f.object.primary_administrator_id),
        {}, { class: "custom-select" })

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(context == :new ? 'Create Unit' : 'Edit Unit',
                 class: 'btn btn-primary')
