-# Required locals:
-#
-# unit [Unit]
-#
= form_for(unit, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"

  .form-group
    = f.label :short_description
    = f.text_area :short_description, class: "form-control"

  .form-group
    = f.label :introduction
    = f.text_area :introduction, class: "form-control"
    %p.text-info
      %i.fa.fa-info-circle
      HTML is allowed.

  .form-group
    = f.label :rights
    = f.text_area :rights, class: "form-control"

  .form-group
    = f.label :metadata_profile_id, "Metadata Profile"
    = f.select :metadata_profile_id, MetadataProfile.all.pluck(:name, :id),
               { include_blank: true }, class: "custom-select"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
