.btn-group.float-end{role: "group"}
  - if policy(@unit).export_items?
    .dropdown
      %button#export-button.btn.btn-light.dropdown-toggle{type:             "button",
                                                          "data-bs-toggle": "dropdown",
                                                          "aria-expanded":  "false"}
        = icon_for(:download)
        Export
      .dropdown-menu.dropdown-menu-right{"aria-labelledby": "export-button"}
        %button.dropdown-item.download-csv{"data-unit-id":   @unit.id,
                                           "data-bs-target": "#download-csv-modal",
                                           "data-bs-toggle": "modal",
                                           role:             "button"}
          All Items As CSV

.clearfix.mb-3

- if @items.count.positive?
  = form_tag(unit_path(@unit), method: :get, class: "filter") do
    = hidden_field_tag("fq[]", "#{Item::IndexFields::UNIT_TITLES}:#{@unit.title}")
    .card.mb-3
      .card-body
        %ul#search-tabs.nav.nav-pills.mb-0{role: "tablist"}
          %li.nav-item{role: "presentation"}
            %button#all-items-tab.nav-link.active{"data-bs-toggle": "pill",
                                                  "data-bs-target": "#all-items",
                                                  role:             "tab",
                                                  type:             "button",
                                                  "aria-controls":  "all-items",
                                                  "aria-selected":  "true"} All Items
          %li.nav-item{role: "presentation"}
            %button#simple-search-tab.nav-link{"data-bs-toggle": "pill",
                                               "data-bs-target": "#simple-search",
                                               role:             "tab",
                                               type:             "button",
                                               "aria-controls":  "simple-search",
                                               "aria-selected":  "true"} Simple Search
          %li.nav-item{role: "presentation"}
            %button#advanced-search-tab.nav-link{"data-bs-toggle": "pill",
                                                 "data-bs-target": "#advanced-search",
                                                 role:             "tab",
                                                 type:             "button",
                                                 "aria-controls":  "advanced-search",
                                                 "aria-selected":  "true"} Advanced Search
        .tab-content
          #all-items.tab-pane.fade.show.active{role:              "tabpanel",
                                               "aria-labelledby": "all-items-tab"}
            -# this tab is empty
          #simple-search.tab-pane.fade.mt-3{role: "tabpanel",
                                            "aria-labelledby": "simple-search-tab"}
            .input-group.filter-field
              = filter_field
          #advanced-search.tab-pane.fade.mt-3{role: "tabpanel",
                                              "aria-labelledby": "advanced-search-tab"}
            = advanced_search_form(@unit.institution.default_metadata_profile)

    .row.justify-content-between
      .col-8
      .col-4
        .input-group.mb-3
          = sort_menu

  #items-xhr-content
    -# items/listing inserted here via XHR
- else
  This unit does not contain any items.

= render partial: "shared/xhr_modal",
         locals: { id:    "download-csv-modal",
                   title: "Download CSV" }
