.btn-group.float-end{role: "group"}
  - if policy(@unit).edit_administrators?
    %button.btn.btn-light.edit-administrators{"data-unit-id":   @unit.id,
                                              "data-bs-target": "#edit-administrators-modal",
                                              "data-bs-toggle": "modal",
                                              role:             "button"}
      %i.fas.fa-pencil-alt
      Edit Administrators

.clearfix.mb-3

.row
  .col-md-6
    .card.mb-3
      .card-body
        %h5.card-title Direct Group Administrators
        - if @unit.administering_groups.any?
          %ul
            - @unit.administering_groups.each do |group|
              %li= link_to(group.name, group)
        - else
          None
    .card
      .card-body
        %h5.card-title Effective Group Administrators
        - admins = @unit.all_administrator_groups
        - if admins.any?
          %ul
            - admins.each do |group|
              %li= link_to(group.name, group)
        - else
          None

  .col-md-6
    .card.mb-3
      .card-body
        %h5.card-title Direct User Administrators
        - if @unit.administering_users.any?
          %ul
            - @unit.administering_users.each do |user|
              %li= link_to(raw("#{user.name}#{user == @unit.primary_administrator ? " <span class=\"badge text-bg-primary\">PRIMARY</span>" : ""}"),
                  "mailto:#{user.email}")
        - else
          None
    .card
      .card-body
        %h5.card-title Effective User Administrators
        - admins = @unit.all_administrators
        - if admins.any?
          %ul
            - admins.each do |user|
              %li= link_to(user.name, "mailto:#{user.email}")
        - else
          None

= render partial: "shared/ajax_modal",
       locals: { id: "edit-administrators-modal",
                 title: "Edit Administrators" }