.row
  .col-md-6
    .card.mb-3
      .card-body
        - if policy(@unit).edit_administering_groups?
          .float-end
            %button.btn.btn-sm.btn-light.edit-administering-groups{"data-bs-target": "#edit-administering-groups-modal",
                                                                   "data-bs-toggle": "modal",
                                                                   role:             "button"}
              %i.fas.fa-pencil-alt
              Edit
        %h5.card-title Direct Group Administrators
        - if @unit.administering_groups.any?
          %ul
            - @unit.administering_groups.each do |group|
              %li= link_to(group.name, group)
        - else
          None
    .card
      .card-body
        %h5.card-title Effective Administering Groups
        - admins = @unit.effective_administering_groups
        - if admins.any?
          %ul
            - admins.each do |group|
              %li= link_to(group.name, group)
        - else
          None

  .col-md-6
    .card.mb-3
      .card-body
        - if policy(@unit).edit_administering_users?
          .float-end
            %button.btn.btn-sm.btn-light.edit-administering-users{"data-bs-target":  "#edit-administering-users-modal",
                                                                  "data-bs-toggle": "modal",
                                                                  role:             "button"}
              %i.fas.fa-pencil-alt
              Edit
        %h5.card-title Direct User Administrators
        - if @unit.administering_users.any?
          %ul
            - @unit.administering_users.each do |user|
              %li= link_to(raw("#{user.name}#{user == @unit.primary_administrator ? " <span class=\"badge text-bg-primary\">PRIMARY</span>" : ""}"),
                  "mailto:#{user.email}")
        - else
          None
    .card
      .card-body
        %h5.card-title Effective User Administrators
        - admins = @unit.effective_administering_users
        - if admins.any?
          %ul
            - admins.each do |user|
              %li= link_to(user.name, "mailto:#{user.email}")
        - else
          None

= render partial: "shared/xhr_modal",
       locals: { id: "edit-administering-groups-modal",
                 title: "Edit Administering Groups" }
= render partial: "shared/xhr_modal",
       locals: { id: "edit-administering-users-modal",
                 title: "Edit Administering Users" }