.btn-group.float-right{role: "group"}
  - if policy(@unit).edit_properties?
    %button.btn.btn-light.edit-unit-properties{"data-unit-id": @unit.id,
                                               "data-target": "#edit-unit-properties-modal",
                                               "data-toggle": "modal",
                                               role: "button"}
      %i.fas.fa-pencil-alt
      Edit Properties

.clearfix.mb-3

%dl
  - if @unit.introduction.present?
    %dt Introduction
    %dd= raw(@unit.introduction)
  - if @unit.short_description.present? && policy(@unit).show_access?
    %dt Short Description
    %dd= @unit.short_description
  - if @unit.rights.present?
    %dt Rights
    %dd= @unit.rights
  %dt Handle URI
  %dd= @unit.handle&.url
  %dt File Downloads
  %dd= number_with_delimiter(@num_downloads)
  %dt Items Awaiting Review
  %dd= number_with_delimiter(@num_submitting_items)
  %dt Created
  %dd= local_time @unit.created_at
  %dt Updated
  %dd= local_time @unit.updated_at
