.btn-group.float-right{role: "group"}
  - if @unit.default_collection && policy(@unit.default_collection).submit_item?
    = link_to(collection_deposit_path(@unit.default_collection), class: "btn btn-light mb-3", role: "button") do
      %i.fas.fa-plus
      Deposit Item Into This Unit

.clearfix.mb-3

- if @items.count.positive?
  = form_tag(unit_path(@unit), method: :get, class: "filter") do
    .row.justify-content-between
      .col-6
        .input-group.mb-3.filter-field
          = hidden_field_tag("fq[]", "#{Item::IndexFields::UNIT_TITLES}:#{@unit.title}")
          = filter_field(icon: "fa fa-filter", placeholder: "Filter")
      .col-6
        .input-group
          = sort_menu(MetadataProfile.default)
  #items-xhr-content
    = render partial: "items/listing"
- else
  This unit does not contain any items.
