.btn-group.float-end{role: "group"}
  - if policy(@unit).edit_properties?
    %button.btn.btn-light.edit-unit-properties{"data-unit-id":   @unit.id,
                                               "data-bs-target": "#edit-unit-properties-modal",
                                               "data-bs-toggle": "modal",
                                               role:             "button"}
      %i.fas.fa-pencil-alt
      Edit Properties

.clearfix.mb-3

%dl
  - if @unit.introduction.present?
    %dt Introduction
    %dd= raw(@unit.introduction)
  - if @unit.short_description.present? && policy(@unit).show_access?
    %dt Short Description
    %dd= @unit.short_description
  - if @unit.rights.present?
    %dt Rights
    %dd= @unit.rights
  %dt Handle URI
  %dd= @unit.handle&.permanent_url
  - if policy(@unit).show_extended_about?
    %dt Metadata Profile
    %dd
      - if @unit.metadata_profile
        - if policy(@metadata_profile).show?
          = link_to(@metadata_profile.name, @metadata_profile)
        - else
          = @metadata_profile.name
      - else
        = raw("Not assigned (falling back to #{link_to(@metadata_profile.name, @metadata_profile)})")
    %dt File Downloads
    %dd= number_with_delimiter(@num_downloads)
    %dt Items Awaiting Review
    %dd= number_with_delimiter(@num_submitted_items)
    %dt Created
    %dd
      = local_time @unit.created_at
      - create_event = @unit.create_event
      - if create_event
        by
        = link_to(create_event.user) do
          = icon_for(create_event.user)
          = create_event.user.name
    %dt Last Updated
    %dd
      = local_time @unit.updated_at
      - update_event = @unit.last_update_event
      - if update_event
        by
        = link_to(update_event.user) do
          = icon_for(update_event.user)
          = update_event.user.name

%hr

.btn-group.float-end{role: "group"}
  - if policy(@unit).edit_membership?
    %button.btn.btn-light.edit-unit-membership{"data-unit-id":   @unit.id,
                                               "data-bs-target": "#edit-unit-membership-modal",
                                               "data-bs-toggle": "modal",
                                               role:             "button"}
      %i.fas.fa-pencil-alt
      Change Unit Membership
    %button.btn.btn-light.add-child-unit{"data-unit-id":   @unit.id,
                                         "data-bs-target": "#add-child-unit-modal",
                                         "data-bs-toggle": "modal",
                                         role:             "button"}
      %i.fa.fa-plus
      Add Child Unit

- if @unit.parent
  %h2 Parent Unit
  = resource_list([@unit.parent], use_resource_host: false)

- if @subunits.any?
  %h2 Child Units
  = resource_list(@subunits, use_resource_host: false)

- if !@unit.parent && @subunits.empty?
  %h2 Units
  %p This unit has no parent or sub-units.

%hr

= render partial: "show_collections_tab", locals: { show_title: true }
