- provide :body_id, "show_unit"
- provide :title, @unit.title

= google_analytics_tags

= hidden_field_tag :institution_id, @unit.institution.id
= hidden_field_tag :unit_id, @unit.id

= render partial: "show_button_group"

%h1
  = icon_for(@unit)
  = @unit.title

.d-flex
  .nav.nav-pills.flex-column.me-3{role:               "tablist",
                                  "aria-orientation": "vertical"}
    %button#items-tab.nav-link.active{"data-bs-target": "#items-tab-content",
                                      "data-bs-toggle": "pill",
                                      role:             "tab",
                                      type:             "button",
                                      "aria-controls":  "items-tab-content",
                                      "aria-selected":  "true"}
      = icon_for(Item)
      Items
    - if policy(@unit).show_collections?
      %button#collections-tab.nav-link{"data-bs-target": "#collections-tab-content",
                                       "data-bs-toggle": "pill",
                                       role:             "tab",
                                       "aria-controls":  "collections-tab-content",
                                       "aria-selected":  "false"}
        = icon_for(Collection)
        Collections
    - if policy(@unit).show_review_submissions?
      %button#review-submissions-tab.nav-link{"data-bs-target": "#review-submissions-tab-content",
                                              "data-bs-toggle": "pill",
                                              role:             "tab",
                                              "aria-controls":  "review-submissions-tab-content",
                                              "aria-selected":  "false"}
        %i.fa.fa-tasks
        Review Submissions
        - if @review_count > 0
          %span.badge.rounded-pill.text-bg-danger= @review_count
    - if policy(@unit).show_submissions_in_progress?
      %button#submissions-in-progress-tab.nav-link{"data-bs-target": "#submissions-in-progress-tab-content",
                                                   "data-bs-toggle": "pill",
                                                   role:             "tab",
                                                   "aria-controls":  "submissions-in-progress-tab-content",
                                                   "aria-selected":  "false"}
        %i.fa.fa-tasks
        Submissions In Progress
        - if @submissions_in_progress_count > 0
          %span.badge.rounded-pill.text-bg-primary= @submissions_in_progress_count
    - if policy(@unit).show_about?
      %button#about-tab.nav-link{"aria-controls":  "about-tab-content",
                                 "aria-selected":  "false",
                                 "data-bs-toggle": "pill",
                                 "data-bs-target": "#about-tab-content",
                                 role:             "tab",
                                 type:             "button"}
        = icon_for(:info)
        About This Unit
        - if @unit.unit_collection_memberships.count < 1 && current_user&.effective_unit_admin?(@unit)
          %i.fa.fa-exclamation-triangle.text-danger
    - if policy(@unit).show_statistics?
      %button#statistics-tab.nav-link{"data-bs-target": "#statistics-tab-content",
                                      "data-bs-toggle": "tab",
                                      role:             "tab",
                                      type:             "button",
                                      "aria-controls":  "statistics-tab-content",
                                      "aria-selected":  "false"}
        %i.fa.fa-chart-bar
        Statistics
    - if policy(@unit).show_access?
      %button#access-tab.nav-link{"aria-controls":  "access-tab-content",
                                  "aria-selected":  "false",
                                  "data-bs-toggle": "pill",
                                  "data-bs-target": "#access-tab-content",
                                  role:             "tab",
                                  type:             "button"}
        %i.fa.fa-users
        Access

  .tab-content.w-100
    #items-tab-content.tab-pane.fade.show.active{"aria-labelledby": "items-tab",
                                                 role:              "tabpanel"}
      = spinner
    - if policy(@unit).show_about?
      #about-tab-content.tab-pane.fade{"aria-labelledby": "about-tab",
                                       role:              "tabpanel"}
        = spinner
    - if policy(@unit).show_collections?
      #collections-tab-content.tab-pane.fade{"aria-labelledby": "collections-tab",
                                             role:              "tabpanel"}
        = spinner
    - if policy(@unit).show_review_submissions?
      #review-submissions-tab-content.tab-pane.fade{role:              "tabpanel",
                                                    "aria-labelledby": "review-submissions-tab"}
        = spinner
    - if policy(@unit).show_submissions_in_progress?
      #submissions-in-progress-tab-content.tab-pane.fade{role:              "tabpanel",
                                                         "aria-labelledby": "submissions-in-progress-tab"}
        = spinner
    - if policy(@unit).show_statistics?
      #statistics-tab-content.tab-pane.fade{role:              "tabpanel",
                                            "aria-labelledby": "statistics-tab"}
        = spinner
    - if policy(@unit).show_access?
      #access-tab-content.tab-pane.fade{"aria-labelledby": "access-tab",
                                        role:              "tabpanel"}
        = spinner

= render partial: "shared/xhr_modal",
         locals: { id:    "edit-unit-properties-modal",
                   title: "Edit Properties" }
= render partial: "shared/xhr_modal",
         locals: { id:    "edit-unit-membership-modal",
                   title: "Change Unit Membership" }
= render partial: "shared/xhr_modal",
         locals: { id:    "add-child-unit-modal",
                   title: "Add Child Unit" }
= render partial: "shared/xhr_modal",
         locals: { id:           "add-collection-modal",
                   title:        "Add Collection",
                   primary_unit: @unit,
                   institution:  @unit.institution }

= include_chart_library
