- provide :body_id, "show_unit"
- provide :title, @unit.title

= hidden_field_tag :institution_id, @unit.institution.id
= hidden_field_tag :unit_id, @unit.id

= render partial: "show_button_group"

%h1
  = icon_for(@unit)
  = @unit.title

.d-flex
  .nav.nav-pills.flex-column.me-3{role:               "tablist",
                                  "aria-orientation": "vertical"}
    %button#items-tab.nav-link.active{"data-bs-target": "#items-tab-content",
                                      "data-bs-toggle": "pill",
                                      role:             "tab",
                                      type:             "button",
                                      "aria-controls":  "items-tab-content",
                                      "aria-selected":  "true"}
      = icon_for(Item)
      Items
    - if policy(@unit).show_about?
      %button#about-tab.nav-link{"aria-controls":  "about-tab-content",
                                 "aria-selected":  "false",
                                 "data-bs-toggle": "pill",
                                 "data-bs-target": "#about-tab-content",
                                 role:             "tab",
                                 type:             "button"}
        = icon_for(:info)
        About This Unit
    - if policy(@unit).show_statistics?
      %button#statistics-tab.nav-link{"data-bs-target": "#statistics-tab-content",
                                      "data-bs-toggle": "tab",
                                      role:             "tab",
                                      type:             "button",
                                      "aria-controls":  "statistics-tab-content",
                                      "aria-selected":  "false"}
        %i.fa.fa-chart-bar
        Statistics
    - if policy(@unit).show_access?
      %button#access-tab.nav-link{"aria-controls":  "access-tab-content",
                                  "aria-selected":  "false",
                                  "data-bs-toggle": "pill",
                                  "data-bs-target": "#access-tab-content",
                                  role:             "tab",
                                  type:             "button"}
        %i.fa.fa-users
        Access

  .tab-content.w-100
    #items-tab-content.tab-pane.fade.show.active{"aria-labelledby": "items-tab",
                                                 role:              "tabpanel"}
      = spinner
    - if policy(@unit).show_about?
      #about-tab-content.tab-pane.fade{"aria-labelledby": "about-tab",
                                       role:              "tabpanel"}
        = spinner
    - if policy(@unit).show_statistics?
      #statistics-tab-content.tab-pane.fade{role:              "tabpanel",
                                            "aria-labelledby": "statistics-tab"}
        = spinner
    - if policy(@unit).show_access?
      #access-tab-content.tab-pane.fade{"aria-labelledby": "access-tab",
                                        role:              "tabpanel"}
        = spinner

= render partial: "shared/ajax_modal",
         locals: { id:    "edit-unit-properties-modal",
                   title: "Edit Properties" }
= render partial: "shared/ajax_modal",
         locals: { id:    "edit-unit-membership-modal",
                   title: "Change Unit Membership" }
= render partial: "shared/ajax_modal",
         locals: { id:    "add-child-unit-modal",
                   title: "Add Child Unit" }
= render partial: "shared/ajax_modal",
         locals: { id:           "add-collection-modal",
                   title:        "Add Collection",
                   primary_unit: @unit,
                   institution:  @unit.institution }

= include_chart_library
