= provide :body_id, "show_unit"

= render partial: "show_button_group"

%h1
  =icon_for(@resource)
  =@resource.title

.float-right
  = item_search_field(@resource, Item::IndexFields::PRIMARY_UNIT)

%h2 Info
%dl
  %dt Direct Administrators
  %dd
    %ul
      - @resource.administering_users.each do |user|
        %li= link_to(raw("#{user.name}#{user == @resource.primary_administrator ? " <span class=\"badge badge-primary\">PRIMARY</span>" : ""}"),
        "mailto:#{user.email}")
  %dt Effective Administrators (including administrators of parent units)
  %dd
    %ul
      - @resource.all_administrators.each do |user|
        %li= link_to(user.name, "mailto:#{user.email}")

-if @subunits.any?
  %h2 Sub-Units
  =resource_list(@subunits)

-if policy(Collection).new?
  .btn-group.float-right{role: "group"}
    / Add Collection button
    %button.btn.btn-light{"data-target": "#add-collection-modal",
                          "data-toggle": "modal", type: "button"}
      %i.fa.fa-plus
      Add Collection

  %h2 Collections
  = resource_list(@collections)

= render partial: "collections/add_modal", locals: { collection: @new_collection,
                                                     primary_unit: @resource,
                                                     context: :new }
= render partial: "units/add_modal", locals: { unit: @new_unit,
                                               context: :new }
= render partial: "units/edit_modal", locals: { unit: @resource,
                                                context: :edit}