-# @param element [MetadataProfileElement]
-# @param profile [MetadataProfile]

= form_for([profile, element], remote: true) do |f|
  = f.hidden_field :metadata_profile_id, value: profile.id
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb
  .form-group
    = f.label :registered_element_id, "Element"
    = f.select(:registered_element_id, RegisteredElement.all.order(:name).pluck(:name, :id),
      { selected: f.object.registered_element_id },
      class: "custom-select")
  - if profile.elements.any?
    .form-group
      = f.label :position, "Position After"
      = f.select(:position, profile.elements.where("id != ?", element&.id || -1).map.with_index { |e, i| [e.label, i + 1] },
        { selected: element.position },
        class: "custom-select")
  - else
    = f.hidden_field :position, value: 0
  .form-group
    .form-check
      = f.check_box :visible, class: "form-check-input"
      = f.label :visible, class: "form-check-label"
    .form-check
      = f.check_box :searchable, class: "form-check-input"
      = f.label :searchable, class: "form-check-label"
    .form-check
      = f.check_box :sortable, class: "form-check-input"
      = f.label :sortable, class: "form-check-label"
    .form-check
      = f.check_box :faceted, class: "form-check-input"
      = f.label :faceted, class: "form-check-label"
    .form-check
      = f.check_box :indexed, class: "form-check-input"
      = f.label :indexed, class: "form-check-label"
    - unless f.object.new_record?
      #indexed-warning.alert.alert-light
        = icon_for(:warning)
        After the "Indexed" checkbox is changed, all items in all collections that
        use this profile must be reindexed using the Reindex Items button.
  .form-group
    = f.label :relevance_weight, "Relevance Weight (1-10)"
    = f.number_field :relevance_weight, min: 1, max: 10, class: "form-control"

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Element" : "Save Changes",
                 class: 'btn btn-primary')
