= form_for(@profile, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = f.hidden_field :institution_id, value: f.object.institution_id

  - unless f.object.global?
    .mb-3
      = f.label :name, class: "required"
      = f.text_field :name, class: 'form-control'

  .mb-3
    = f.label :all_elements_relevance_weight,
              "All Elements Relevance Weight (#{MetadataProfileElement::MIN_RELEVANCE_WEIGHT}-#{MetadataProfileElement::MAX_RELEVANCE_WEIGHT})",
              class: "required"
    = f.number_field :all_elements_relevance_weight,
                     min:   MetadataProfileElement::MIN_RELEVANCE_WEIGHT,
                     max:   MetadataProfileElement::MAX_RELEVANCE_WEIGHT,
                     class: "form-control"

  .mb-3
    = f.label :full_text_relevance_weight,
              "Full Text Relevance Weight (#{MetadataProfileElement::MIN_RELEVANCE_WEIGHT}-#{MetadataProfileElement::MAX_RELEVANCE_WEIGHT})",
              class: "required"
    = f.number_field :full_text_relevance_weight,
                     min:   MetadataProfileElement::MIN_RELEVANCE_WEIGHT,
                     max:   MetadataProfileElement::MAX_RELEVANCE_WEIGHT,
                     class: "form-control"

  - if f.object.new_record?
    .mb-3
      %h4 Initial Elements
      %p.form-text
        = icon_for(:info)
        Elements can also be added and removed later.

      .btn-group.mb-3{role: "group"}
        %button.check-all.btn.btn-sm.btn-light{type: "button"}
          %i.far.fa-check-square
          Check All

      - f.object.institution.registered_elements.order(:label).each do |reg_e|
        .form-check
          = check_box_tag "elements[]",
                          reg_e.id,
                          f.object.elements.pluck(:registered_element_id).include?(reg_e.id),
                          id:    "elements-#{reg_e.id}",
                          class: "form-check-input"
          = label_tag "elements-#{reg_e.id}", reg_e.label

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Profile" : "Save Changes",
                 class: "btn btn-primary")
