- provide :body_id, "show_metadata_profile"
- provide :title, @profile.name

.btn-group.float-end{role: "group"}
  - if policy(@profile).edit?
    -# Edit button
    %button.btn.btn-light.edit-profile{"data-bs-target":           "#edit-profile-modal",
                                       "data-bs-toggle":           "modal",
                                       "data-metadata-profile-id": @profile.id,
                                       type:                       "button"}
      %i.fa.fa-pencil-alt
      Edit
  - if policy(@profile).clone?
    -# Clone button
    = link_to(metadata_profile_clone_path(@profile), method: "post",
                                                     role:   "button",
                                                     class:  "btn btn-light") do
      %i.fa.fa-copy
      Clone
  - if policy(@profile).destroy?
    -# Delete button
    = link_to(metadata_profile_path(@profile), class:  "btn btn-danger",
                                               role:   "button",
                                               method: :delete,
                                               data:   { confirm: "Are you sure you want to delete this profile?" }) do
      %i.fa.fa-trash
      Delete

%h1= @profile.name

%ul.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    %button#elements-tab.nav-link.active{"data-bs-target": "#elements",
                                         "data-bs-toggle": "tab",
                                         role:             "tab",
                                         type:             "button",
                                         "aria-controls":  "elements",
                                         "aria-selected":  "true"}
      = icon_for(MetadataProfileElement)
      Elements
      %span.badge.rounded-pill.text-bg-secondary= @profile.elements.count
  - unless @profile.global?
    %li.nav-item
      %button#units-tab.nav-link{"data-bs-target": "#units",
                                 "data-bs-toggle": "tab",
                                 role:             "tab",
                                 type:             "button",
                                 "aria-controls":  "units",
                                 "aria-selected":  "false"}
        = icon_for(Unit)
        Directly Assigned Units
        %span.badge.rounded-pill.text-bg-secondary= @units.count
    %li.nav-item
      %button#collections-tab.nav-link{"data-bs-target": "#collections",
                                       "data-bs-toggle": "tab",
                                       role:             "tab",
                                       type:             "button",
                                       "aria-controls":  "collections",
                                       "aria-selected":  "false"}
        = icon_for(Collection)
        Directly Assigned Collections
        %span.badge.rounded-pill.text-bg-secondary= @collections.count

.tab-content
  #elements.tab-pane.fade.show.active{role: "tabpanel",
                                      "aria-labelledby": "elements-tab"}
    - if policy(@profile).edit?
      .btn-group.float-end.mb-3{role: "group"}
        -# Add Element button
        %button.btn.btn-light{"data-bs-target": "#add-element-modal",
                              "data-bs-toggle": "modal",
                              type:             "button"}
          %i.fa.fa-plus
          Add Element
    %table.table
      %thead
        %th
        %th Element
        %th Visible
        %th Searchable
        %th Sortable
        %th Faceted
        %th Relevance Weight
      %tbody
        %tr
          %td{style: "width: 1px; white-space: nowrap"}
            .btn-group
              %button.btn.btn-light.btn-sm.edit-profile{"data-bs-target":           "#edit-metadata-profile-modal",
                                                        "data-bs-toggle":           "modal",
                                                        "data-metadata-profile-id": @profile.id,
                                                        type:                       "button"}
                %i.fa.fa-pencil-alt
                Edit
          %td Full Text
          %td.boolean= boolean(false)
          %td.boolean= boolean(true)
          %td.boolean= boolean(false)
          %td.boolean= boolean(false)
          %td
            .progress
              .progress-bar{role: "progressbar",
                              style: "width: #{@profile.full_text_relevance_weight * 10}%",
                              "aria-valuenow": @profile.full_text_relevance_weight,
                              "aria-valuemin": MetadataProfileElement::MIN_RELEVANCE_WEIGHT,
                              "aria-valuemax": MetadataProfileElement::MAX_RELEVANCE_WEIGHT}
                = @profile.full_text_relevance_weight
        - @profile.elements.each do |element|
          %tr
            %td{style: "width: 1px; white-space: nowrap"}
              .btn-group
                %button.btn.btn-light.btn-sm.edit-element{type:                       "button",
                                                          "data-bs-toggle":           "modal",
                                                          "data-bs-target":           "#edit-element-modal",
                                                          "data-metadata-profile-id": @profile.id,
                                                          "data-element-id":          element.id}
                  %i.fa.fa-pencil-alt
                  Edit
                = link_to(metadata_profile_metadata_profile_element_path(@profile, element),
                          class: 'btn btn-danger btn-sm',
                          method: :delete,
                          data: { confirm: 'Are you sure you want to delete this element?' }) do
                  %i.fa.fa-trash
                  Delete
            %td= element.label
            %td.boolean= boolean(element.visible)
            %td.boolean= boolean(element.searchable)
            %td.boolean= boolean(element.sortable)
            %td.boolean= boolean(element.faceted)
            %td
              .progress
                .progress-bar{role:            "progressbar",
                              style:           "width: #{element.relevance_weight * 10}%",
                              "aria-valuenow": element.relevance_weight,
                              "aria-valuemin": MetadataProfileElement::MIN_RELEVANCE_WEIGHT,
                              "aria-valuemax": MetadataProfileElement::MAX_RELEVANCE_WEIGHT}
                  = element.relevance_weight

  - unless @profile.global?
    #units.tab-pane.fade{role:              "tabpanel",
                         "aria-labelledby": "units-tab"}
      - if @units.count > 0
        = resource_list(@units)
      - else
        This metadata profile is not directly assigned to any units.
    #collections.tab-pane.fade{role:              "tabpanel",
                               "aria-labelledby": "collections-tab"}
      - if @collections.count > 0
        = resource_list(@collections)
      - else
        This metadata profile is not directly assigned to any collections.

= render partial: "shared/ajax_modal",
         locals: { id: "edit-profile-modal", title: "Edit Profile" }
= render partial: "metadata_profile_elements/add_modal"
= render partial: "shared/ajax_modal",
         locals: { id: "edit-element-modal", title: "Edit Element" }
