= banner_message
%header
  %nav.navbar.navbar-expand-lg
    .container-fluid
      = link_to "Illinois Scholarship", root_path, class: "navbar-brand"
      %button.navbar-toggler{"aria-controls":  "navbar-supported-content",
                             "aria-expanded":  "false",
                             "aria-label":     "Toggle navigation",
                             "data-bs-target": "#navbar-supported-content",
                             "data-bs-toggle": "collapse",
                             type:             "button"}
        %span.navbar-toggler-icon
      #navbar-supported-content.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item.dropdown
            = link_to "#", class: 'nav-link' do
              = icon_for(:info)
              About
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{href:             "#",
                                        role:             "button",
                                        "data-bs-toggle": "dropdown",
                                        "aria-expanded":  false}
              = icon_for(Institution)
              Institutions
            %ul.dropdown-menu
              - Institution.where(public: true).order(:name).each do |institution|
                %li
                  = link_to(institution.name,
                            url_for(controller: "welcome", action: "index", host: institution.fqdn),
                            class: "dropdown-item")
        = render partial: "layouts/lower_header_search_field"