%header
  = render partial: 'layouts/library_header'
  %nav.navbar.navbar-expand-lg{role: "navigation"}
    = link_to 'IDEALS', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls": "navbar-supported-content",
                           "aria-expanded": "false",
                           "aria-label": "Toggle navigation",
                           "data-target": "#navbar-supported-content",
                           "data-toggle": "collapse",
                           type: "button"}
      %span.navbar-toggler-icon
    #navbar-supported-content.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li#deposit-nav.nav-item
          = link_to submit_path, class: "nav-link" do
            %i.fa.fa-plus
            Submit an Item
        %li#browse-nav.nav-item
          = link_to units_path, class: "nav-link" do
            = icon_for(Unit)
            Browse
        %li#policies-nav.nav-item
          = link_to "https://wiki.illinois.edu//wiki/display/IDEALS/IDEALS+Resources+and+Information", class: 'nav-link' do
            = icon_for(:info)
            About
      = form_tag items_path, method: "get", class: "form-inline" do
        .input-group.mr-3
          %input.form-control{name: "q", type: "search", placeholder: "Search", "aria-label": "Search"}
          .input-group-append
            %button{type: "submit", class: "btn btn-outline-secondary"}
              %i.fa.fa-search