%div
  %h1.sr-only University Library, University of Illinois at Urbana-Champaign
  .d-flex.justify-content-between
    .table-row
      .table-cell
        %a.navbar-brand{href: "https://illinois.edu/"}
          -# TODO: fix
          -#= image_tag 'library_wordmark_horizontal_1.png',
          -#  class: 'imark',
          -#  alt: 'University of Illinois I-Mark'
      .table-cell
        %a{href: "https://www.library.illinois.edu"}
          -# TODO: fix
          -#= image_tag 'library_wordmark_horizontal_2.png',
          -#  class: 'col-xs-12 banner-image-university',
          -#  alt: 'University'
      .table-cell
        %a{href: "https://www.library.illinois.edu"}
          -# TODO: fix
          -#= image_tag 'library_wordmark_horizontal_3.png',
          -#  class: 'col-xs-12 banner-image-library',
          -#  alt: 'Library'
    .user-actions
      - if logged_in?
        - if current_user.sysadmin?
          -# Role-play menu
          .btn-group{role: "group"}
            %button#role-play-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded": "false",
                                                                              "aria-haspopup": "true",
                                                                              "data-toggle": "dropdown",
                                                                              type: "button"}
              %i.far.fa-eye
              = Role.label(session[:role_limit])
            .dropdown-menu{"aria-labelledby": "role-play-dropdown"}
              - Role.all.sort.reverse.each do |role|
                = link_to Role.label(role),
                          url_for(role: role),
                          class: "dropdown-item"
          -# Global Administration menu
          .btn-group{role: "group"}
            %button#administration-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded": "false",
                                                                                   "aria-haspopup": "true",
                                                                                   "data-toggle": "dropdown",
                                                                                   type: "button"}
              %i.fa.fa-globe
              Global Administration
            .dropdown-menu{"aria-labelledby": "administration-dropdown"}
              = link_to(institutions_path, class: "dropdown-item") do
                = icon_for(Institution)
                All Institutions
              .dropdown-divider
              = link_to(all_users_path, class: "dropdown-item") do
                %i.fa.fa-user
                All Users
              = link_to(global_user_groups_path, class: "dropdown-item") do
                %i.fa.fa-users
                Global User Groups
              .dropdown-divider
              = link_to(settings_path, class: "dropdown-item") do
                = icon_for(Setting)
                Settings
              = link_to(all_tasks_path, class: "dropdown-item") do
                = icon_for(Task)
                All Tasks
              = link_to(file_formats_path, class: "dropdown-item") do
                = icon_for(FileFormat)
                File Formats
              = link_to(messages_path, class: "dropdown-item") do
                = icon_for(Message)
                Medusa Messages
              - config = ::Configuration.instance
              = link_to("#{config.medusa[:base_url]}/file_groups/#{config.medusa[:file_group_id]}",
                        class: "dropdown-item", target: "_blank") do
                %i.fa.fa-database
                Medusa File Group

        - if current_user.effective_institution_admin?(current_institution)
          -# Institution Administration menu
          .btn-group{role: "group"}
            %button#institution-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded": "false",
                                                                                "aria-haspopup": "true",
                                                                                "data-toggle": "dropdown",
                                                                                type: "button"}
              = icon_for(Institution)
              My Institution
            .dropdown-menu{"aria-labelledby": "administration-dropdown"}
              = link_to(institution_path(current_institution),
                        class: "dropdown-item") do
                = icon_for(Institution)
                My Institution
              .dropdown-divider
              = link_to(items_review_path, class: "dropdown-item") do
                %i.fa.fa-tasks
                Review Submissions
              .dropdown-divider
              = link_to(registered_elements_path, class: "dropdown-item") do
                = icon_for(RegisteredElement)
                Element Registry
              = link_to(metadata_profiles_path, class: "dropdown-item") do
                = icon_for(MetadataProfile)
                Metadata Profiles
              = link_to(submission_profiles_path, class: "dropdown-item") do
                = icon_for(SubmissionProfile)
                Submission Profiles
              .dropdown-divider
              = link_to(imports_path, class: "dropdown-item") do
                = icon_for(Import)
                Import Items
              = link_to(items_export_path, class: "dropdown-item") do
                %i.fa.fa-download
                Export Items
              .dropdown-divider
              = link_to(invitees_path, class: "dropdown-item") do
                %i.fa.fa-user-plus
                Invitees
              = link_to(users_path, class: "dropdown-item") do
                %i.fa.fa-user
                Users
              = link_to(user_groups_path, class: "dropdown-item") do
                %i.fa.fa-users
                User Groups
              .dropdown-divider
              = link_to(tasks_path, class: "dropdown-item") do
                = icon_for(Task)
                Tasks
              .dropdown-divider
              = link_to(oai_pmh_path(verb: "Identify"), class: "dropdown-item", target: "_blank") do
                %i.fa.fa-exchange-alt
                OAI-PMH Endpoint

        -# User menu
        .btn-group{role: "group"}
          %button#user-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded": "false",
                                                                       "aria-haspopup": "true",
                                                                       "data-toggle": "dropdown",
                                                                       type: "button"}
            = icon_for(current_user)
            = current_user.name
            - if to_do_list.total_items > 0
              %span.badge.badge-pill.badge-danger= to_do_list.total_items
          .dropdown-menu.dropdown-menu-right{"aria-labelledby": "user-dropdown"}
            - if to_do_list.total_items > 0
              - to_do_list.items.each do |item|
                %li
                  = link_to(item[:url], class: "dropdown-item") do
                    %i.fa.fa-exclamation-triangle.text-danger
                    = item[:message]
              %li.dropdown-divider
            = link_to(user_path(current_user), class: "dropdown-item") do
              = icon_for(:info)
              My Account
            = link_to(logout_path, method: :delete, class: "dropdown-item") do
              %i.fa.fa-sign-out-alt
              Log Out
      - elsif request.path != login_path
        %button.btn.btn-sm.btn-link{"data-target": "#non-netid-login-modal",
                                    "data-toggle": "modal",
                                    type: "button"}
          %i.fa.fa-sign-in-alt
          Log In