%header
  = render partial: 'layouts/upper_header'
  %nav.navbar.navbar-expand-lg{role: "navigation"}
    = link_to current_institution.service_name, root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls": "navbar-supported-content",
                           "aria-expanded": "false",
                           "aria-label": "Toggle navigation",
                           "data-target": "#navbar-supported-content",
                           "data-toggle": "collapse",
                           type: "button"}
      %span.navbar-toggler-icon
    #navbar-supported-content.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li#deposit-nav.nav-item
          = link_to submit_path, class: "nav-link" do
            %i.fa.fa-plus
            Submit an Item
        %li#browse-nav.nav-item.dropdown
          %a.nav-link.dropdown-toggle{href:            "#",
                                      role:            "button",
                                      "data-toggle":   "dropdown",
                                      "aria-expanded": false}
            %i.fa.fa-cubes
            Browse
          .dropdown-menu
            = link_to units_path, class: "dropdown-item" do
              Academic Units and Collections
            = link_to recent_items_path, class: "dropdown-item" do
              Most Recent Items
            - re = RegisteredElement.find_by_name("dc:date:issued")
            - if re # safety check in case this element doesn't exist for some reason
              = link_to items_path(sort: re.indexed_sort_field,
                                   direction: "desc"), class: "dropdown-item" do
                Items By Publication Date
        %li#policies-nav.nav-item
          = link_to "https://wiki.illinois.edu//wiki/display/IDEALS/IDEALS+Resources+and+Information", class: 'nav-link' do
            = icon_for(:info)
            About
      = form_tag items_path, method: "get", class: "form-inline" do
        .input-group.mr-3
          %input.form-control{name: "q", type: "search", placeholder: "Search", "aria-label": "Search"}
          .input-group-append
            %button{type: "submit", class: "btn btn-outline-secondary"}
              %i.fa.fa-search
              %span.sr-only Search