%div
  %h1.sr-only= current_institution.name
  .d-flex.justify-content-between
    - if current_institution.key == "uiuc"
      .responsive-header-images
        %a{href: "https://illinois.edu/"}
          = image_tag "library_wordmark_horizontal_1.png",
                      class: "imark banner-image-uiuc",
                      alt:   "University of Illinois I-Mark"

        %a{href: "https://www.library.illinois.edu"}
          = image_tag "library_wordmark_horizontal_2.png",
                      class: "col-xs-12 uiuc banner-image-university",
                      alt:   "University"

        %a{href: "https://www.library.illinois.edu"}
          = image_tag "library_wordmark_horizontal_3.png",
                      class: "col-xs-12 uiuc banner-image-library",
                      alt:   "Library"
    - else
      %div.ms-2
        - if current_institution.header_image_filename
          - if current_institution.main_website_url
            %a.navbar-brand{href: current_institution.main_website_url}
              = image_tag(current_institution.header_image_url,
                          alt: "Institution Logo")
          - else
            = image_tag(current_institution.header_image_url,
                          alt: "Institution Logo")

    .user-menus
      - if logged_in?
        - if current_user.effective_institution_admin?(current_institution)
          -# Role-play menu
          .btn-group{role: "group"}
            %button#role-play-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded":  "false",
                                                                              "data-bs-toggle": "dropdown",
                                                                              type:             "button"}
              %i.far.fa-eye
              = Role.label(session[:role_limit])
            %ul.dropdown-menu{"aria-labelledby": "role-play-dropdown"}
              - Role.all.sort.reverse.each do |role|
                - next if role != Role::NO_LIMIT && (role > Role::INSTITUTION_ADMINISTRATOR && !current_user.sysadmin?)
                %li
                  = link_to Role.label(role),
                            url_for(role: role),
                            class: "dropdown-item"
        - if current_user.sysadmin?
          -# Global Administration menu
          .btn-group{role: "group"}
            %button#administration-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded":  "false",
                                                                                   "data-bs-toggle": "dropdown",
                                                                                   type:             "button"}
              %i.fa.fa-globe
              Global Administration
            %ul.dropdown-menu{"aria-labelledby": "administration-dropdown"}
              %li
                = link_to(institutions_path, class: "dropdown-item") do
                  = icon_for(Institution)
                  All Institutions
              %li
                %hr.dropdown-divider
              %li
                = link_to(template_elements_path, class: "dropdown-item") do
                  = icon_for(RegisteredElement)
                  Template Elements
              %li
                = link_to(MetadataProfile.find_by(institution_id: nil), class: "dropdown-item") do
                  = icon_for(MetadataProfile)
                  Global Metadata Profile
              %li
                %hr.dropdown-divider
              %li
                = link_to(all_invitees_path, class: "dropdown-item") do
                  %i.fa.fa-user-plus
                  All Invitees
              %li
                = link_to(all_users_path, class: "dropdown-item") do
                  %i.fa.fa-user
                  All Users
              %li
                = link_to(global_user_groups_path, class: "dropdown-item") do
                  %i.fa.fa-users
                  Global User Groups
              %li
                %hr.dropdown-divider
              %li
                = link_to(settings_path, class: "dropdown-item") do
                  = icon_for(Setting)
                  Settings
              %li
                %hr.dropdown-divider
              %li
                = link_to(all_tasks_path, class: "dropdown-item") do
                  = icon_for(Task)
                  All Tasks
              %li
                = link_to(all_events_path, class: "dropdown-item") do
                  = icon_for(Event)
                  All Events
              %li
                = link_to(usage_path, class: "dropdown-item") do
                  %i.fa.fa-chart-bar
                  Usage
              %li
                = link_to(file_formats_path, class: "dropdown-item") do
                  = icon_for(FileFormat)
                  File Formats
              %li
                = link_to(messages_path, class: "dropdown-item") do
                  = icon_for(Message)
                  Medusa Messages

        - if current_user.effective_institution_admin?(current_institution)
          - scope_match = current_institution == current_user.institution
          -# Institution Administration menu
          .btn-group{role: "group"}
            %button#institution-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded":  "false",
                                                                                "data-bs-toggle": "dropdown",
                                                                                type:             "button"}
              = icon_for(Institution)
              = scope_match ? "My Institution" : "This Institution"
            %ul.dropdown-menu{"aria-labelledby": "administration-dropdown"}
              %li
                = link_to(institution_path(current_institution),
                          class: "dropdown-item") do
                  = icon_for(Institution)
                  = scope_match ? "My Institution" : "This Institution"
              %li
                %hr.dropdown-divider
              %li
                = link_to(items_review_path, class: "dropdown-item") do
                  %i.fa.fa-tasks
                  Review Submissions
              %li
                %hr.dropdown-divider
              %li
                = link_to(registered_elements_path, class: "dropdown-item") do
                  = icon_for(RegisteredElement)
                  Element Registry
              %li
                = link_to(element_namespaces_path, class: "dropdown-item") do
                  = icon_for(ElementNamespace)
                  Element Namespaces
              %li
                = link_to(metadata_profiles_path, class: "dropdown-item") do
                  = icon_for(MetadataProfile)
                  Metadata Profiles
              %li
                = link_to(submission_profiles_path, class: "dropdown-item") do
                  = icon_for(SubmissionProfile)
                  Submission Profiles
              %li
                = link_to(vocabularies_path, class: "dropdown-item") do
                  = icon_for(Vocabulary)
                  Vocabularies
              %li
                = link_to(prebuilt_searches_path, class: "dropdown-item") do
                  = icon_for(PrebuiltSearch)
                  Prebuilt Searches
              %li
                = link_to(index_pages_path, class: "dropdown-item") do
                  = icon_for(IndexPage)
                  Index Pages
              %li
                %hr.dropdown-divider
              %li
                = link_to(imports_path, class: "dropdown-item") do
                  = icon_for(Import)
                  Import Items
              %li
                = link_to(items_export_path, class: "dropdown-item") do
                  %i.fa.fa-download
                  Export Items
              %li
                %hr.dropdown-divider
              %li
                = link_to(invitees_path, class: "dropdown-item") do
                  = icon_for(Invitee)
                  Invitees
              %li
                = link_to(users_path, class: "dropdown-item") do
                  %i.fa.fa-user
                  Users
              %li
                = link_to(user_groups_path, class: "dropdown-item") do
                  %i.fa.fa-users
                  User Groups
              %li
                %hr.dropdown-divider
              %li
                = link_to(tasks_path, class: "dropdown-item") do
                  = icon_for(Task)
                  Tasks
              %li
                = link_to(events_path, class: "dropdown-item") do
                  = icon_for(Event)
                  Events
              %li
                %hr.dropdown-divider
              %li
                = link_to(oai_pmh_path(verb: "Identify"), class: "dropdown-item", target: "_blank") do
                  %i.fa.fa-exchange-alt
                  OAI-PMH Endpoint

        -# User menu
        .btn-group{role: "group"}
          %button#user-dropdown.btn.btn-sm.btn-default.dropdown-toggle{"aria-expanded":  "false",
                                                                       "data-bs-toggle": "dropdown",
                                                                       type:             "button"}
            = icon_for(current_user)
            = current_user.name
            - if to_do_list.total_items > 0
              %span.badge.rounded-pill.text-bg-danger= to_do_list.total_items
          %ul.dropdown-menu.dropdown-menu-end{"aria-labelledby": "user-dropdown"}
            - if to_do_list.total_items > 0
              - to_do_list.items.each do |item|
                %li
                  = link_to(item[:url], class: "dropdown-item") do
                    %i.fa.fa-exclamation-triangle.text-danger
                    = item[:message]
              %li
                %hr.dropdown-divider
            - if current_user.effective_institution_admin?(current_user.institution)
              %li
                = link_to(institution_path(current_user.institution), class: "dropdown-item") do
                  = icon_for(current_user.institution)
                  My Institution
            %li
              = link_to(user_path(current_user), class: "dropdown-item") do
                = icon_for(current_user)
                My Account
            %li
              %hr.dropdown-divider
            %li
              = link_to("https://docs.google.com/document/d/14CodOjc4Pjn42OOCtZp4lK1oRbm8lvPEXvDGDOxgyzY/edit?usp=sharing", class: "dropdown-item", target: "_blank") do
                = icon_for(:help)
                IR Administrator's Guide
            %li
              = link_to("https://docs.google.com/document/d/1yAFOUC_gKrtH7cF7ZB0Vu3M989CI_26gF3O55kio2OU/edit?usp=sharing", class: "dropdown-item", target: "_blank") do
                = icon_for(:help)
                System Administrator's Guide
            %li
              %hr.dropdown-divider
            %li
              = link_to(logout_path, method: :delete, class: "dropdown-item") do
                %i.fa.fa-sign-out-alt
                Log Out
      - elsif current_institution&.auth_enabled?
        %button.btn.btn-sm.btn-link{"data-bs-target": "#login-modal",
                                    "data-bs-toggle": "modal",
                                    type:             "button"}
          %i.fa.fa-sign-in-alt
          Log In