!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}/
    %meta{content: "True", name: "HandheldFriendly"}/
    %meta{content: "width=device-width,initial-scale=1.0,shrink-to-fit=no", name: "viewport"}/
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
    %meta{content: current_institution.service_name, name: "Generator"}/
    %title
      = yield :title
      |
      = current_institution.service_name
    = institution_favicon_tags
    = stylesheet_link_tag 'application', media: 'all'
    %link{rel: "stylesheet", href: custom_styles_path}
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head_content)

  %body{id: yield(:body_id).present? ? yield(:body_id) : nil,
        'data-nav': yield(:active_nav)}
    .container-fluid
      - if institution_scope?
        = render partial: 'layouts/lower_header'
      - else
        = render partial: 'layouts/global_lower_header'
      .page-content
        - unless request.path == "/"
          = render partial: "shared/flashes"
        -# IndexPagesController.show() is a special case whereby we want to
        -# show the breadcrumbs for admins only, thus this ugly hack.
        - if @breadcrumbable && (controller_name != "index_pages" || action_name != "show")
          = breadcrumbs(@breadcrumbable)
        = yield
      = render partial: "layouts/footer"

    - unless logged_in?
      = render partial: "sessions/login_modal"

    -# These are read from JavaScript
    = hidden_field_tag :root_url, root_url.chomp('/')
    = hidden_field_tag :root_path, root_path
    = hidden_field_tag :csrf_token, session[:_csrf_token]