!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}/
    %meta{content: "True", name: "HandheldFriendly"}/
    %meta{content: "width=device-width,initial-scale=1.0,shrink-to-fit=no", name: "viewport"}/
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
    %meta{content: ::Configuration.instance.website[:global_service_name], name: "Generator"}/
    %title
      = yield :title
      |
      = ::Configuration.instance.website[:global_service_name]
    = stylesheet_link_tag 'global/application_global', media: 'all'
    = javascript_include_tag "application"
    = csrf_meta_tags
    = csp_meta_tag
    = yield(:head_content)

  %body{id: yield(:body_id).present? ? yield(:body_id) : nil,
        'data-nav': yield(:active_nav)}
    .container-fluid
      = render partial: "shared/toasts"
      = render partial: 'layouts/global_header'
      .page-content
        - unless request.path == "/"
          = render partial: "shared/flashes"
        - if @breadcrumbable
          = breadcrumbs(@breadcrumbable)
        = yield
      = render partial: "layouts/global_footer"

    - unless logged_in?
      = render partial: "sessions/login_modal"

    -# These are read from JavaScript
    = hidden_field_tag :root_url, root_url.chomp('/')
    = hidden_field_tag :root_path, root_path
    = hidden_field_tag :csrf_token, session[:_csrf_token]