!!!
%html
  %head
    = javascript_include_tag :modernizr
    %meta{charset: "utf-8"}/
    %meta{content: "text/html; charset=utf-8", "http-equiv": "Content-Type"}/
    %meta{content: "True", name: "HandheldFriendly"}/
    %meta{content: "width=device-width,initial-scale=1.0,shrink-to-fit=no", name: "viewport"}/
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}/
    %title
      = yield :title
      | IDEALS
    = uofi_favicon_tags # provided by scars-bootstrap-theme
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head_content)

  %body{id: yield(:body_id).present? ? yield(:body_id) : nil,
        'data-nav': yield(:active_nav)}
    .container-fluid
      = render partial: 'layouts/header'
      .page-content
        - unless request.path == "/"
          = render partial: "shared/flashes"
        - if @breadcrumbable
          = breadcrumbs(@breadcrumbable)
        = yield
      = render partial: "layouts/footer"

    - unless logged_in?
      = render partial: "sessions/login_modal"

    -# These are read from JavaScript
    = hidden_field_tag :root_url, root_url.chomp('/')
    = hidden_field_tag :root_path, root_path
    = hidden_field_tag :csrf_token, session[:_csrf_token]