!!!
%html
  %head
    = javascript_include_tag :modernizr
    %meta{:charset => "utf-8"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    / Mobile viewport optimization h5bp.com/ad
    %meta{:content => "True", :name => "HandheldFriendly"}/
    %meta{:content => "width=device-width,initial-scale=1.0,shrink-to-fit=no", :name => "viewport"}/
    / Internet Explorer use the highest version available
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title IDEALS
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{:id => yield(:body_id).present? ? yield(:body_id) : nil,
        :'data-nav' => yield(:active_nav)}
    .container-fluid
      = render partial: 'layouts/header'
      .page-content
        = render partial: 'shared/flashes'
        - if @breadcrumbable
          = render 'shared/breadcrumbs'
        = yield
      = render partial: "layouts/footer"
    = hidden_field_tag :root_path, root_path
    = hidden_field_tag :root_url, root_url.chomp('/')
    =javascript_tag do
      window.rails_env = "#{Rails.env}";
