-# @param element [SubmissionProfileElement]
-# @param profile [SubmissionProfile]

= form_for([profile, element], remote: true) do |f|
  = f.hidden_field :submission_profile_id, value: profile.id
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb
  .mb-3
    = f.label :registered_element_id, "Element"
    = f.select(:registered_element_id, RegisteredElement.all.order(:name).pluck(:name, :id),
      { selected: f.object.registered_element_id },
      class: "form-select")
  - if profile.elements.any?
    .mb-3
      = f.label :position, "Position After"
      = f.select(:position, [['Nothing (First)', 0]] + profile.elements.where("id != ?", element&.id || -1).map.with_index { |e, i| [e.label, i + 1] },
        { selected: element.position },
        class: "form-select")
  - else
    = f.hidden_field :position, value: 0
  .mb-3
    = f.label :placeholder_text, "Placeholder Text"
    = f.text_area :placeholder_text, class: "form-control"
  .mb-3
    = f.label :help_text, "Help Text"
    = f.text_area :help_text, class: "form-control"
  .mb-3
    .form-check
      = f.check_box :required, class: "form-check-input"
      = f.label :required, class: "form-check-label"
    .form-check
      = f.check_box :repeatable, class: "form-check-input"
      = f.label :repeatable, class: "form-check-label"
  .clearfix.mb-3
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Element" : "Save Changes",
                 class: "btn btn-primary")
