-# @param element [RegisteredElement]

= form_for(element, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb
  .form-group
    = f.label :name
    - if f.object.new_record?
      = f.text_field :name, class: "form-control"
    - else
      %br
      %code= element.name
  .form-group
    = f.label :uri, "URI"
    = f.text_field :uri, class: "form-control"
  .form-group
    = f.label :label
    = f.text_field :label, class: "form-control"
  .form-group
    = f.label :scope_note
    = f.text_area :scope_note, class: "form-control"
  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit(f.object.new_record? ? "Create Element" : "Edit Element",
                 class: "btn btn-primary")
