-# N.B.: this template must be kept aligned with institutions/_show_elements_tab

- provide :body_id, "registered_elements"
- provide :title, "Element Registry"

= hidden_field_tag :institution_id, current_institution.id

.btn-group.float-end{role: "group"}
  -# Add Element button
  %button.btn.btn-light.add-element{"data-bs-target": "#add-element-modal",
                                    "data-bs-toggle": "modal",
                                    type:             "button"}
    %i.fa.fa-plus
    Add Element

%h1 Element Registry

.card.mb-3
  .card-body
    = filter_field(placeholder: "Filter")

= render partial: "listing"

= render partial: "shared/ajax_modal",
         locals: { id: "add-element-modal", title: "Add Element" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-element-modal", title: "Edit Element" }

