- provide :body_id, "registered_elements"
- provide :title, "Element Registry"

.btn-group.float-right{role: "group"}
  -# Add Element button
  %button.btn.btn-light{"data-target": "#add-element-modal",
                        "data-toggle": "modal", type: "button"}
    %i.fa.fa-plus
    Add Element

%h1 Element Registry

.card.mb-3
  .card-body
    = form_tag do
      .form-inline
        = search_field_tag(:q, "", placeholder: "Filter", class: "form-control")

- @elements.each do |element|
  .card.mb-3
    .card-body
      .btn-group.float-right
        %button.btn.btn-light.btn-sm.edit-element{"data-element-name": element.name,
                                                  "data-target": "#edit-element-modal",
                                                  "data-toggle": "modal",
                                                  type: "button"}
          %i.fas.fa-pencil-alt
          Edit
        = link_to(registered_element_path(element), class: 'btn btn-sm btn-danger',
                                                    method: :delete,
                                                    data: { confirm: 'Are you sure you want to delete this element?' }) do
          %i.fa.fa-trash
          Delete
      %h5.card-title.element-label= element.label
      .row
        .col-sm-2.text-right
          %strong Name
        .col-sm-10
          %code.element-name= element.name
        .col-sm-2.text-right
          %strong URI
        .col-sm-10
          %code= element.uri
        .col-sm-2.text-right
          %strong Vocabulary
        .col-sm-10
          = element.vocabulary ? element.vocabulary&.name : "None"
        .col-sm-2.text-right
          %strong Input Type
        .col-sm-10
          = element.vocabulary ? "Menu" : element.input_type&.split("_")&.map(&:capitalize)&.join(" ")
        .col-sm-2.text-right
          %strong Highwire Mapping
        .col-sm-10
          - if element.highwire_mapping
            %code= element.highwire_mapping
          - else
            None
        .col-sm-2.text-right
          %strong Scope Note
        .col-sm-10
          = simple_format(element.scope_note)

= render partial: 'add_modal'
= render partial: "shared/ajax_modal",
         locals: { id: "edit-element-modal", title: "Edit Element" }

