- provide :body_id, "registered_elements"

.btn-group.float-right{role: "group"}
  / Add Element button
  %button.btn.btn-light{"data-target": "#add-element-modal",
                        "data-toggle": "modal", type: "button"}
    %i.fa.fa-plus
    Add Element

%h1 Element Registry

%table.table
  %tbody
    - @elements.each do |element|
      %tr
        %td
          %button.btn.btn-light.btn-sm.edit-element{"data-element-name": element.name,
                                                          "data-target": "#edit-element-modal",
                                                          "data-toggle": "modal",
                                                          type: "button"}
            %i.fas.fa-pencil-alt
            Edit
          = link_to(registered_element_path(element), class: 'btn btn-danger btn-sm',
                                                        method: :delete,
                                                        data: { confirm: 'Are you sure you want to delete this element?' }) do
            %i.fa.fa-trash
            Delete
        %td
          %table.table.table-sm.table-borderless
            %tbody
              %tr
                %th Name:
                %th
                  %code= element.name
              %tr
                %th URI:
                %td
                  %code= element.uri
              %tr
                %th Scope Note:
                %td= simple_format(element.scope_note)

= render partial: 'add_modal'
= render partial: "shared/ajax_modal",
         locals: { id: "edit-element-modal", title: "Edit Element" }

